@use "../../utilities/global"; // To get %tna-invert
@use "../../tools/colour";
@use "../../tools/media";

.tna-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;

  // @include colour.invert;
  @extend %tna-invert;

  &__link {
    color: inherit;

    &:hover {
      @include colour.colour-font("link");
    }
  }

  &__top {
    margin-bottom: 2rem;

    text-align: center;
  }

  &__title {
    margin-bottom: 0.5rem;

    color: inherit;
  }

  &__address {
    font-style: normal;
  }

  &__navigation {
    padding-bottom: 3rem;
  }

  &__navigation-group {
  }

  &__navigation-group-title {
    color: inherit;
  }

  &__navigation-group-items {
    padding-left: 0;

    list-style: none;
  }

  &__navigation-group-item {
    & + & {
      margin-top: 1rem;
    }
  }

  &__navigation-group-item-link {
  }

  &__social {
    margin-bottom: 2rem;

    &.tna-container {
      justify-content: space-evenly;
      align-items: flex-end;
    }
  }

  &__social-item {
    margin-bottom: 2rem;

    text-align: center;
  }

  &__social-item-link {
    display: block;
  }

  &__social-item-link-image {
    width: 2.25em;
    margin: 0 auto 0.5rem;

    display: block;
  }

  &__licence {
    &.tna-container {
      align-items: center;
    }

    .tna-column {
      margin-top: 1rem;
    }
  }

  &__licence-logo {
    display: block;
  }

  &__govuk {
    margin-top: 2rem;

    text-align: center;
  }

  &__govuk-link {
    display: inline-block;

    color: inherit;
    fill: #fff;

    &:hover {
      @include colour.colour-font("link");
      @include colour.colour-fill("link");
    }
  }

  &__govuk-logotype-crown {
    margin: 0 auto;
    display: block;

    fill: inherit;
  }

  @include media.on-mobile {
    padding-top: 1rem;

    &__social {
      justify-content: center;
    }
  }
}
