@use "../../tools/colour";
@use "../../tools/media";

.tna-footer {
  @include colour.invert;

  padding-top: 3rem;
  padding-bottom: 3rem;

  // @include colour.colour-font("font-base");

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline", 1px, solid, top);
  }

  &__link {
    &,
    &:visited {
      color: inherit;
    }

    &:hover {
      @include colour.colour-font("link");
    }
  }

  &__top {
    margin-bottom: 3rem;

    text-align: center;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__address {
    font-style: normal;
  }

  &__navigation {
    padding-bottom: 3rem;
  }

  &__navigation-group {
  }

  &__navigation-group-title {
  }

  &__navigation-group-items {
    padding-left: 0;

    list-style: none;
  }

  &__navigation-group-item {
    & + & {
      margin-top: 1rem;
    }
  }

  &__navigation-group-item-link {
  }

  &__social {
    margin-bottom: 2rem;

    &.tna-container {
      justify-content: space-evenly;
      align-items: flex-end;
    }
  }

  &__social-item {
    margin-bottom: 2rem;

    text-align: center;
  }

  &__social-item-link {
    display: block;
  }

  &__social-item-link-image {
    width: 2.25em;
    margin: 0 auto 0.5rem;

    display: block;
  }

  &__licence {
    &.tna-container {
      align-items: center;
    }

    .tna-column {
      margin-top: 1rem;
    }
  }

  &__licence-logo {
    display: block;
  }

  &__govuk {
    margin-top: 2rem;

    text-align: center;
  }

  &__govuk-link {
    display: inline-block;

    &,
    &:visited {
      @include colour.colour-font("font-dark");
    }

    &:hover {
      @include colour.colour-font("link");
    }
  }

  &__govuk-logotype-crown {
    margin: 0 auto;
    display: block;
  }

  @include media.on-mobile {
    padding-top: 1rem;

    &__social {
      justify-content: center;
    }
  }
}
