@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/typography";
@use "../../utilities";
@use "../grid";

.tna-hero {
  @include colour.invert-on-mobile;

  &__figure {
    min-height: min(35vw, 480px);
    margin: 0;
    padding-top: 8rem;
    padding-bottom: 4rem;

    display: flex;
    align-items: flex-end;

    position: relative;
  }

  &__caption {
    width: 100%;

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;

    overflow: visible;
  }

  &__details {
    width: 100%;

    overflow: visible;
  }

  &__details-summary {
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 2;

    font-size: 0;
    text-align: center;
    line-height: 1.5rem;
    list-style: none;

    @include colour.accent;

    @include colour.colour-border("background", 0.25rem);
    border-radius: 100%;

    cursor: pointer;

    &:hover {
      @include colour.colour-font("background");

      @include colour.colour-background("font-base");
    }
  }

  &__details-summary-icon {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform: lowercase;
  }

  &__information {
    width: 50rem;
    max-width: 50vw;
    padding: 0.5rem 3.25rem 0.5rem 1rem;

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;

    @include colour.invert;

    // @include typography.relative-font-size(16);
  }

  &__image {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: 1;

    object-fit: cover;
  }

  &__details[open] &__details-summary {
    @include colour.invert;

    &::before,
    &::after {
      width: 1.5rem;
      height: 0.125rem;

      display: block;

      position: absolute;
      top: 50%;
      left: 50%;

      @include colour.colour-background("font-dark");

      content: "";
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        height: 0.25rem;
      }
    }

    &-icon {
      font-size: 0;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__content {
  }

  &__content-inner {
    padding: 1.5rem;

    @include colour.colour-background("page-background");
  }

  &__heading {
    // margin-bottom: 0;
  }

  // &__body {
  //   margin-top: 1.5rem;
  // }

  @include media.on-mobile {
    &__figure {
      padding: 0;

      // display: block;
      flex-direction: column;
    }

    &__caption {
      position: relative;
      order: 2;
    }

    &__details {
    }

    &__details-summary {
    }

    &__details-summary-icon {
    }

    &__information {
      width: auto;
      max-width: none;

      left: 0;

      @include colour.colour-border("keyline", 1px, solid, bottom);
    }

    &__image {
      position: static;

      order: 1;
    }

    &__inner {
      order: 3;
    }

    &__content {
    }

    &__content-inner {
      padding: 1.5rem 0;

      background-color: transparent;
    }

    &__heading {
    }

    &__body {
      margin-top: 1rem;
    }
  }

  @include colour.on-high-contrast {
    &__information,
    &__content-inner {
      @include colour.colour-border("keyline-dark", 1px);
    }

    @include media.on-mobile {
      &__information {
        // border-bottom: 0
      }

      &__inner {
        @include colour.colour-border("keyline-dark", 1px);
        border-top: 0;
      }

      &__content-inner {
        border: none;
      }
    }
  }
}
