@use "sass:math";

@use "../../variables/borders" as bordersVars;
@use "../../variables/grid" as gridVars;
@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/grid";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

$vertical-padding-small: 2 !default;
$vertical-padding-large: 3 !default;
$plain-top-padding: 12 !default;
$split-vertical-padding: 3 !default;
$shift-overflow: $vertical-padding-large !default;
$over-overflow: $shift-overflow !default;

.tna-hero {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    inset: auto 0 0;
    z-index: -1;
    @include colour.colour-border("keyline", 1px, solid, bottom);
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__caption {
    inline-size: 100%;

    overflow: visible;

    position: absolute;
    z-index: 10;

    inset-block-start: 0;
    inset-inline-end: 0;

    order: 2;
  }

  &__details {
    inline-size: 100%;

    overflow: visible;
  }

  &__details-summary {
    position: absolute;
    z-index: 2;

    inset-block-start: spacing.space(0.5);
    inset-inline-end: spacing.space(0.5);

    &:hover {
      color: var(--font-dark) !important;

      background-color: var(--background) !important;
    }
  }

  &__details[open] &__details-summary {
    inline-size: 2rem;
    block-size: 2rem;
    padding: 0;

    font-size: 0;
    line-height: 2rem;
    text-align: center;

    border: none;

    @include colour.contrast;

    &::before,
    &::after {
      content: "";

      inline-size: 1.5rem;
      block-size: 0.125rem;

      display: block;

      position: absolute;

      inset-block-start: 50%;
      inset-inline-start: 50%;

      background-color: var(--font-dark);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        block-size: 0.25rem;
      }
    }

    &-icon {
      font-size: 0;
    }
  }

  &__details-summary-icon {
  }

  &__information {
    padding: spacing.space(0.625) spacing.space(3.25) spacing.space(0.625)
      spacing.space(1);

    position: absolute;
    z-index: 1;

    inset-block-start: 0;
    inset-inline: 0;

    @include colour.contrast;

    @include typography.font-size(16);

    p + p {
      margin-block-start: spacing.space(0.5);
    }
  }

  &__image {
    inline-size: 100%;

    order: 1;

    img {
      inline-size: 100%;
    }
  }

  &__inner {
    order: 3;
  }

  &__content {
    padding-block: spacing.space($vertical-padding-small)
      spacing.space($vertical-padding-small);
  }

  &__content-inner {
    padding-inline: 0;

    background-color: var(--background);

    border-inline-start: none;
  }

  @include media.on-larger-than-mobile {
    &__figure {
      min-block-size: clamp(5rem, 30vw, 20rem);
    }

    &--large &__figure {
      min-block-size: clamp(12rem, 33vw, 50rem);
    }

    &__inner {
      z-index: 4;
    }

    &__image {
      inline-size: auto;

      position: absolute;
      inset: 0;
      z-index: 1;

      img {
        block-size: 100%;

        object-fit: cover;
      }
    }

    &__content {
      padding-block: spacing.space($plain-top-padding)
        spacing.space($vertical-padding-large);
    }

    &__content-inner {
      padding: spacing.space(2);
      @include borders.rounded-border;
    }

    &__information {
      max-inline-size: math.div(gridVars.$largest-container-width, 2);

      inset-inline-start: auto;
    }

    &--split &__content {
      inline-size: 50%;
      padding-block: spacing.space($vertical-padding-large)
        spacing.space($vertical-padding-large);
    }

    &--split &__content-inner {
      padding: 0 grid.gutter-width-half() 0 0;
    }

    &--split &__image {
      inset-inline-start: 50%;
    }

    &--shift {
      margin-block-end: spacing.space($shift-overflow);
    }

    &--shift &__content-inner {
      position: relative;

      inset-block-start: spacing.space(
        $vertical-padding-large + $shift-overflow
      );
    }

    &--over {
      margin-block-end: spacing.space($over-overflow);
    }

    &--over &__details {
      max-inline-size: gridVars.$largest-container-width;
      margin: 0 auto;

      position: relative;
    }

    &--over &__details-summary {
      inset-block-start: spacing.space(0.5);
      inset-inline-end: spacing.space(gridVars.$gutter-width + 0.5);
    }

    &--over &__information {
      max-inline-size: calc(
        50% - #{spacing.space(gridVars.$gutter-width * 1.5)}
      );

      box-sizing: border-box;

      inset-block-start: 0;
      inset-inline: auto spacing.space(gridVars.$gutter-width);

      @include borders.rounded-border;
    }

    &--over &__content {
      inline-size: 50%;
      padding-block-start: spacing.space($vertical-padding-large);
    }

    &--over &__content-inner {
      padding: 0;
    }

    &--over &__image {
      max-inline-size: calc(
        #{math.div(gridVars.$largest-container-width, 2)} -
          (#{grid.gutter-width()} + #{grid.gutter-width-half()})
      );
      margin-inline-end: 32px;

      overflow: hidden;

      z-index: 5;

      inset-block-end: spacing.space($over-overflow * -1);

      inset-inline-start: calc(50% + #{grid.gutter-width-half()});
      @include borders.rounded-border;
    }

    &--split &__figure,
    &--over &__figure {
      justify-content: center;
    }

    &--shift &__content-inner,
    &--over &__image {
      box-shadow:
        0 0.25rem 1rem -0.25rem rgb(0 0 0 / 25%),
        0 0.125rem 0.5rem -0.25rem rgb(0 0 0 / 75%);
    }
  }
}
