{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.style == "contrast" -%}
  {%- set containerClasses = containerClasses.concat('tna-background-contrast') -%}
{%- elseif params.style == "tint" -%}
  {%- set containerClasses = containerClasses.concat('tna-background-tint') -%}
{%- elseif params.style == "accent" -%}
  {%- set containerClasses = containerClasses.concat('tna-background-accent') -%}
{%- elseif params.style == "accent-light" -%}
  {%- set containerClasses = containerClasses.concat('tna-background-accent-light') -%}
{%- endif -%}
{%- if params.layout == "shift" -%}
  {%- set containerClasses = containerClasses.concat('tna-hero--shift') -%}
{%- elseif params.layout == "split" -%}
  {%- set containerClasses = containerClasses.concat('tna-hero--split') -%}
{%- endif -%}
{%- if params.narrow -%}
  {%- set containerClasses = containerClasses.concat('tna-hero--narrow') -%}
{%- endif -%}
{%- if params.leftBorder -%}
  {%- set containerClasses = containerClasses.concat('tna-hero--left-border') -%}
{%- endif -%}
{% set hasContent = params.title or params.body or params.text %}
{%- set classes = containerClasses | join(' ') -%}
<{{ 'header' if hasContent else 'div' }} class="tna-hero{% if classes %} {{ classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <figure class="tna-hero__figure">
    {%- if hasContent %}
    <div class="tna-container tna-hero__inner">
      <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-hero__content">
        <div class="tna-hero__content-inner">
          {%- if params.title %}
          {%- if params.supertitle %}
          <hgroup class="tna-hgroup-{{ params.headingSize or 'xl' }} tna-hero__heading">
            <p class="tna-hgroup__supertitle{% if params.plainSupertitle %} tna-hgroup__supertitle--plain{% endif %}">{{ params.supertitle }}</p>
            <h{{ params.headingLevel or "1" }} class="tna-hgroup__title">
              {{ params.title }}
            </h{{ params.headingLevel or "1" }}>
          </hgroup>
          {%- else %}
          <h{{ params.headingLevel or "1" }} class="tna-heading-{{ params.headingSize or 'xl' }} tna-hero__heading">
            {{ params.title }}
          </h{{ params.headingLevel or "1" }}>
          {%- endif %}
          {%- endif %}
          {%- if params.text %}
            <p>{{ params.text }}</p>
          {%- else %}
            {{ params.body | safe }}
          {%- endif %}
          {%- if params.actions %}
          <div class="tna-button-group tna-hero__actions">
            {%- for item in params.actions %}
            {{ tnaButton({
              text: item.text,
              href: item.href,
              title: item.title,
              icon: item.icon,
              rightAlignIcon: item.rightAlignIcon,
              classes: item.classes,
              attributes: item.attributes
            }) }}
            {%- endfor %}
          </div>
          {%- endif %}
        </div>
      </div>
    </div>
    {%- endif %}
    <picture class="tna-hero__image">
    {%- if params.imageSources %}
    {%- for source in params.imageSources %}
      <source srcset="{{ source.src }}" type="{{ source.type }}" width="{{ source.width if source.width else params.imageWidth }}" height="{{ source.height if source.height else params.imageHeight }}"{% if source.media %} media="{{ source.media }}"{% endif %}>
    {%- endfor %}
    {%- endif %}
      <img src="{{ params.imageSrc }}" alt="{{ params.imageAlt }}" width="{{ params.imageWidth }}" height="{{ params.imageHeight }}">
    </picture>
    {%- if params.imageCaption %}
    <figcaption class="tna-hero__caption">
      <details class="tna-hero__details">
        <summary class="tna-hero__details-summary tna-button tna-button--small tna-button--icon-only-mobile" aria-label="Additional information about this image">
          <i class="fa-solid fa-circle-info tna-hero__details-summary-icon" aria-hidden="true"></i>
          About this image
        </summary>
        <div class="tna-hero__information">{{ params.imageCaption | safe }}</div>
      </details>
    </figcaption>
    {%- endif %}
  </figure>
</{{ 'header' if hasContent else 'div' }}>
