{%- set containerClasses = [params.classes] if params.classes else [] -%}
<{{ 'header' if params.heading else 'div' }} class="tna-hero {{ containerClasses | join(' ') }}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <figure class="tna-hero__figure">
    {%- if params.imageCaption -%}
    <figcaption class="tna-hero__caption">
      <details class="tna-hero__details">
        <summary class="tna-hero__details-summary">
          <span class="tna-hero__details-summary-icon">I</span>mage caption
        </summary>
        <div class="tna-hero__information">
          <p>{{ params.imageCaption }}</p>
        </div>
      </details>
    </figcaption>
    {%- endif -%}
    <img src="{{ params.imageSrc }}" alt="{{ params.imageAlt }}" class="tna-hero__image" width="{{ params.imageWidth }}" height="{{ params.imageHeight }}">
    {%- if params.heading -%}
    <div class="tna-container tna-hero__inner">
      <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-hero__content">
        <div class="tna-hero__content-inner">
        {%- if params.heading -%}
          <h1 class="tna-heading-xl tna-hero__heading">
            {{ params.heading }}
          </h1>
        {%- endif -%}
        {%- if params.text -%}
          <p>{{ params.text }}</p>
        {%- elseif params.body -%}
          {{ params.body | safe }}
        {%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
  </figure>
</{{ 'header' if params.heading else 'div' }}>
