@use "../../variables/forms";
@use "../../tools/colour";
@use "../../utilities";

.tna-date-search {
  max-width: 100%;
  // margin-top: 1rem;
  padding: 0 0.375rem;

  display: block;

  @include colour.colour-font("input-foreground");
  font-size: inherit;
  line-height: 2rem;

  @include colour.colour-background("input-background");

  @include colour.colour-border("input-border", forms.$form-field-border-width);
  border-radius: 0;

  .tna-form__group--error & {
    @include colour.colour-border("form-error");
  }

  &--max-width {
    width: 100%;
  }
}
