@use "../../variables/forms";
@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-date-search {
  max-width: 100%;
  padding: 0 spacing.space(0.375);

  display: block;
  box-sizing: border-box;

  @include colour.colour-font("input-foreground");
  line-height: 2rem;

  @include colour.colour-background("input-background");

  @include colour.colour-border("input-border", forms.$form-field-border-width);
  @include borders.rounded-border;

  .tna-form-item--error & {
    @include colour.colour-border("form-error-border");
  }

  &--max-width {
    width: 100%;
  }
}
