{%- from "nationalarchives/components/phase-banner/macro.njk" import tnaPhaseBanner -%}
{%- from "nationalarchives/templates/partials/logo/macro.njk" import tnaLogo -%}

{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.collapseOnMedium -%}
  {%- set containerClasses = containerClasses.concat('tna-global-header--collapse-on-medium') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}

{% if "logo" in params %}
  {% set logo = params.logo %}
{% elif params.defaultContent %}
  {% set logo = {
    href: (params.defaultContentBaseURL or "") ~ "/",
    title: "The National Archives home page"
  } %}
{% else %}
  {% set logo = null %}
{% endif %}

{% if "navigation" in params %}
  {% set navigation = params.navigation %}
{% elif params.defaultContent %}
  {% set navigation = [
    {
      text: "Visit",
      href: (params.defaultContentBaseURL or "") ~ "/about/visit-us/"
    },
    {
      text: "What’s on",
      href: (params.defaultContentBaseURL or "") ~ "/whats-on/"
    },
    {
      text: "Explore the collection",
      href: (params.defaultContentBaseURL or "") ~ "/explore-the-collection/"
    },
    {
      text: "Help using the archive",
      href: (params.defaultContentBaseURL or "") ~ "/help-with-your-research/"
    },
    {
      text: "Education",
      href: (params.defaultContentBaseURL or "") ~ "/education/"
    },
    {
      text: "Professional guidance and services",
      href: (params.defaultContentBaseURL or "") ~ "/professional-guidance-and-services/"
    }
  ] %}
{% else %}
  {% set navigation = [] %}
{% endif %}

{% if "topNavigation" in params %}
  {% set topNavigation = params.topNavigation %}
{% elif params.defaultContent %}
  {% set topNavigation = [
    {
      text: "Search",
      href: (params.defaultContentBaseURL or "") ~ "/search/",
      icon: "search"
    },
    {
      text: "Shop",
      href: "https://shop.nationalarchives.gov.uk/",
      icon: "shop"
    }
  ] %}
{% else %}
  {% set topNavigation = [] %}
{% endif %}

<header class="tna-global-header{% if classes %} {{ classes }}{% endif %}" data-module="tna-global-header"{% for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  {% if params.phaseBanner -%}
  {{ tnaPhaseBanner(params.phaseBanner) }}
  {% endif -%}
  <div class="tna-container tna-global-header__main">
    <div class="tna-column tna-column--flex-1 tna-column--order-2">
      <span class="tna-global-header__logo-wrapper">
        {% if logo.href -%}
        <a href="{{ logo.href }}" class="tna-global-header__logo tna-global-header__logo--link" title="{%- if logo.title -%}{{ logo.title }}{%- else -%}The National Archives{%- endif -%}" aria-label="{%- if logo.title -%}{{ logo.title }}{%- else -%}The National Archives{%- endif -%}">
        {%- else %}
        <span class="tna-global-header__logo">
        {%- endif %}
          {{ tnaLogo({adornable: true}) }}
        {%- if logo.href %}
        </a>
        {%- else %}
        </span>
        {%- endif %}
      </span>
    </div>
    {%- if topNavigation | length or navigation | length %}
    <div class="tna-column tna-column--order-2 tna-global-header__navigation-button-wrapper">
      <button class="tna-global-header__navigation-button" type="button" aria-controls="{{ (params.navigationId or 'tna-header__navigation') if (navigation | length) else '' }} {{ (params.topNavigationId or 'tna-header__top-navigation') if (topNavigation | length) else '' }}" hidden>
        Menu
        <span class="tna-global-header__hamburger"></span>
      </button>
    </div>
    {%- endif %}
    {%- if navigation | length %}
    <nav class="tna-column tna-column--full-small tna-column--full-tiny tna-column--order-3 tna-global-header__navigation-wrapper" id="{{ params.navigationId or 'tna-header__navigation' }}" aria-label="Primary">
      <ul class="tna-global-header__navigation">
        {%- for item in navigation %}
        <li class="tna-global-header__navigation-item">
          <a href="{{ item.href }}" class="tna-global-header__navigation-item-link" {%- if item.title %} aria-label="{{ item.title }}" title="{{ item.title }}"{% endif %} tabindex="0">{{ item.text }}</a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
    {%- endif %}
    {%- if topNavigation | length %}
    <nav class="tna-column tna-column--full tna-column--order-1 tna-column--order-4-small tna-column--order-4-tiny tna-global-header__top-navigation-wrapper" id="{{ params.topNavigationId or 'tna-header__top-navigation' }}" aria-label="Secondary">
      <ul class="tna-global-header__top-navigation">
        {%- for item in topNavigation %}
        <li class="tna-global-header__top-navigation-item">
          <a href="{{ item.href }}" class="tna-global-header__top-navigation-link" {%- if item.title %} aria-label="{{ item.title }}" title="{{ item.title }}"{% endif %} tabindex="0">
            {%- if item.icon == 'search' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="16" aria-hidden="true" focusable="false"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg>
            {%- elif item.icon == 'shop' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="16" aria-hidden="true" focusable="false"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z" /></svg>
            {%- elif item.icon == 'user' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="16" aria-hidden="true" focusable="false"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" /></svg>
            {%- endif %}
            {{ item.text }}
          </a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
    {%- endif %}
  </div>
</header>
