$tna-black: #000;
$tna-yellow: #fc0;
$tna-pink: #fe1d57;
$tna-orange: #fd3f03;
$tna-green: #86bc25;
$tna-blue: #00b0ff;

$dark: #26262a !default;
$base-font-colour: #343338 !default;
$focus-colour: #004c7e !default;
$keyline-colour: #ccc !default;
