$largest-container-width: 1280px !default;

$gutter-width: 32px !default;
$gutter-width-tiny: 16px !default;

$column-count: 12;
$column-count-medium: 6;
$column-count-small: 4;
$column-count-tiny: 2;
