$largest-container-width: 75.25rem !default;

$gutter-width: 2rem !default;
$gutter-width-tiny: 1rem !default;

$column-count: 12;
$column-count-medium: 6;
$column-count-small: 4;
$column-count-tiny: 2;
