$largest-container-width: 75.25rem !default;

$gutter-width: 2rem !default;
$gutter-width-mobile: 1rem !default;

$column-count: 12 !default;
$column-count-medium: 6 !default;
$column-count-small: 4 !default;
$column-count-tiny: 2 !default;
