@use "sass:math";

$relative-1rem-px: 16;

$body-font-size-px: 18 !default;
$body-line-height: #{math.div(16, 18) * 2} !default; // 1.77777

$interactive-text-decoration-thickness: 3.5px !default;

$font-family-main: "Open Sans", sans-serif !default;
$font-weight-main: normal !default;
$font-weight-main-bold: bold !default;

$font-family-heading: supria-sans-condensed, "Arial Narrow", sans-serif !default;
$font-weight-heading: 400 !default;

$font-family-detail: "Roboto Mono", monospace !default;
$font-weight-detail: normal !default;
