@use "sass:math";

$use-local-fonts: false !default;

$relative-1rem-px: 16; // 16px is always 1rem

$body-font-size-px: 18 !default;
$body-font-size-px-mobile: 17 !default;
$body-line-height: #{math.div($relative-1rem-px, $body-font-size-px) * 2} !default; // 1.77777

$interactive-text-decoration-thickness: 3.5px !default;

$main-font: "Open Sans" !default;
$main-font-family: $main-font, sans-serif !default;
$main-font-weight: 400 !default;
$main-font-weight-bold: 700 !default;

$heading-font-family: supria-sans-condensed, "Arial Narrow", sans-serif !default;
$heading-font-weight: 500 !default;

$detail-font-family: "Roboto Mono", monospace !default;
$detail-font-weight: 400 !default;
$detail-font-weight-bold: 500 !default;
