$baseFontSizePx: 16;

$fontFamilyMain: "Open Sans", sans-serif;
$fontWeightMain: 400;

$fontFamilyHeading: supria-sans-condensed, monospace;
$fontWeightHeading: 600;

$fontFamilyDetail: "Roboto Mono", monospace;
$fontWeightDetail: 500;
