$base-font-size-px: 16;

$font-family-main: "Open Sans", sans-serif;
$font-weight-main: 500;
$font-weight-main-bold: 700;

$font-family-heading: supria-sans-condensed, sans-serif;
$font-weight-heading: 400;

$font-family-detail: "Roboto Mono", monospace;
$font-weight-detail: 400;
$font-weight-detail-bold: 700;
// $font-family-detail: $font-family-main;
// $font-weight-detail: $font-weight-main;
