@use "../../variables/forms" as formsVars;
@use "../../tools/a11y";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";

.tna-radios {
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: stretch;
  gap: spacing.space(1);

  &__item {
    position: relative;

    input {
      width: 1px;
      height: 1px;
      margin: 0;
      padding: 0;

      position: absolute;
      top: -1px;
      left: -1px;

      opacity: 0;
    }

    &-label {
      padding-left: spacing.space(3);

      display: block;

      line-height: 2rem;

      cursor: pointer;

      &::before,
      &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        border-radius: 100%;
      }

      &::before {
        width: 2rem;
        height: 2rem;

        display: block;
        box-sizing: border-box;

        z-index: 1;

        @include colour.colour-input;
      }

      &::after {
        margin: 0.5rem;

        display: none;

        z-index: 2;

        @include colour.colour-background("input-foreground");

        @include colour.colour-border("input-foreground", 0.5rem);
      }
    }
  }

  &--small {
    gap: spacing.space(0.5);
  }

  &--small &__item {
    &-label {
      padding-left: spacing.space(2.25);

      line-height: 1.5rem;

      &::before {
        width: 1.5rem;
        height: 1.5rem;
      }

      &::after {
        margin: 0.3125rem;

        @include colour.colour-border("input-foreground", 0.4375rem);
      }
    }
  }

  &--inline {
    flex-flow: row wrap;

    align-items: center;
    gap: spacing.space(1) spacing.space(2);

    @include media.on-tiny {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item-label:active {
    &::before {
      @include a11y.active-outline;
    }
  }

  input:focus + &__item-label {
    &::before {
      @include a11y.focus-outline;
    }
  }

  input:checked + &__item-label {
    &::after {
      display: block;
    }
  }

  input:focus + &__item-label,
  &__item:hover &__item-label {
    &::before {
      box-shadow: 0 0 0 0.125rem var(--input-border);
    }
  }
}
