@use "../../variables/a11y" as a11yVars;
@use "../../variables/forms" as formsVars;
@use "../../tools/a11y";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-radios {
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: spacing.space(1);

  &__item {
    position: relative;

    input {
      width: formsVars.$checkbox-radio-size;
      height: formsVars.$checkbox-radio-size;
      margin: 0;
      padding: 0;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      opacity: 0;

      cursor: pointer;
    }

    &-label {
      padding-left: calc(formsVars.$checkbox-radio-size + spacing.space(1));

      display: block;

      line-height: formsVars.$checkbox-radio-size;

      cursor: pointer;

      &::before,
      &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        border-radius: 100%;
      }

      &::before {
        width: formsVars.$checkbox-radio-size;
        height: formsVars.$checkbox-radio-size;

        display: block;
        box-sizing: border-box;

        z-index: 1;

        @include colour.colour-input;
      }

      &::after {
        margin: 0.5rem;

        display: none;

        z-index: 2;

        @include colour.colour-background("input-foreground");

        @include colour.colour-border("input-foreground", 0.5rem);
      }
    }

    &-hint {
      display: block;

      @include typography.font-size(16);
      @include colour.colour-font("font-light");
      line-height: 1.25;
    }
  }

  &--small {
    gap: spacing.space(0.5);
  }

  &--small &__item {
    input {
      width: formsVars.$checkbox-radio-size-small;
      height: formsVars.$checkbox-radio-size-small;
    }
  }

  &--small &__item-label {
    padding-left: calc(
      formsVars.$checkbox-radio-size-small + spacing.space(0.75)
    );

    line-height: formsVars.$checkbox-radio-size-small;

    &::before {
      width: formsVars.$checkbox-radio-size-small;
      height: formsVars.$checkbox-radio-size-small;
    }

    &::after {
      margin: 0.3125rem;

      @include colour.colour-border("input-foreground", 0.4375rem);
    }
  }

  &--inline {
    align-items: flex-start;
    gap: spacing.space(1) spacing.space(2);

    flex-flow: row wrap;

    @include media.on-tiny {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item-label:active {
    &::before {
      @include a11y.active-outline;
    }
  }

  input:focus + &__item-label {
    &::before {
      @include a11y.focus-outline;
    }
  }

  input:checked + &__item-label {
    &::after {
      display: block;
    }
  }

  input:focus + &__item-label,
  &__item:hover &__item-label {
    &::before {
      box-shadow: 0 0 0 a11yVars.$focus-outline-active-total-width
        var(--keyline);
    }
  }
}
