{% from "nationalarchives/components/radios/radios.njk" import tnaRadiosElement %}

{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.inline -%}
  {%- set containerClasses = containerClasses.concat('tna-form__group--inline') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}
<div class="tna-form__group{% if params.error %} tna-form__group--error{% endif %}{% if classes %} {{ classes }}{% endif %}"{% for attribute, value in params.formGroupAttributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <fieldset class="tna-form__fieldset"{%- if params.hint or params.error %} aria-describedby="{%- if params.hint -%}{{ params.id }}-hint{%- endif %} {% if params.error -%}{{ params.id }}-error{%- endif -%}"{%- endif %}>
    <legend class="tna-form__legend">
      <h{{ params.headingLevel }} class="tna-form__heading tna-form__heading--{{ params.headingSize or 'm' }}">
        {{ params.label }}
      </h{{ params.headingLevel }}>
    </legend>
    {%- if params.hint %}
    <p id="{{ params.id }}-hint" class="tna-form__hint">
      {{ params.hint }}
    </p>
    {%- endif %}
    {%- if params.error %}
    <p id="{{ params.id }}-error" class="tna-form__error-message">
      <span class="tna-!--visually-hidden">Error:</span> {{ params.error.text }}
    </p>
    {%- endif %}
    {{ tnaRadiosElement(params) | indent(4) }}
  </fieldset>
</div>
