@use "../../tools/media";
@use "../../tools/typography";

.tna-phase-banner {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;

  background-color: #d9d9d6;

  .tna-container {
    align-items: center;
    flex-wrap: nowrap;

    // @include media.on-tiny {
    //   flex-wrap: wrap;
    // }
  }

  &__phase {
    margin: 0.25rem 0;
    padding: 0 0.5rem;

    display: block;

    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;

    background-color: #fff;
  }

  &__message {
    margin: 0.25rem 0;

    // @include typography.relative-font-size(14);

    a {
      color: inherit;
    }
  }

  &--discovery {
    background-color: #fad3d4;
  }

  &--alpha {
    background-color: #f9e1bc;
  }

  &--beta {
    background-color: #f9f7e2;
  }

  &--live {
    background-color: #dde5d5;
  }
}
