@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/typography";
@use "../../utilities";
@use "../grid";

.tna-phase-banner {
  @include colour.contrast;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include typography.relative-font-size(16);

  border-bottom: 1px transparent solid;

  .tna-container {
    align-items: center;
  }

  &__phase {
    @include typography.main-font-weight-bold;
    text-transform: uppercase;
  }

  &__message {
  }

  &--accent {
    @include colour.accent;
  }
}
