{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- set containerClasses = containerClasses.concat('tna-phase-banner--' + params.phase | lower) -%}
<div class="tna-phase-banner {{ containerClasses | join(' ') }}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="tna-container">
    <div class="tna-column">
      <span class="tna-phase-banner__phase">
        {{ params.phase | lower | capitalize }}
      </span>
    </div>
    <div class="tna-column">
      <p class="tna-phase-banner__message">
        {{ params.message | safe }}
      </p>
    </div>
  </div>
</div>
