@use "sass:math";
@use "../../variables/grid";
@use "../../tools/media";
@use "../../tools/grid" as tools;

.tna-container {
  max-width: grid.$largest-container-width;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: math.div(grid.$gutter-width, 2);
  padding-left: math.div(grid.$gutter-width, 2);

  box-sizing: border-box;

  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;

  &--no-padding,
  &--no-padding-all {
    max-width: grid.$largest-container-width - (grid.$gutter-width * 2);
  }

  &--max {
    max-width: none;
  }
}

.tna-column {
  padding-right: math.div(grid.$gutter-width, 2);
  padding-left: math.div(grid.$gutter-width, 2);

  box-sizing: border-box;

  &--full {
    width: 100%;
  }

  &--container {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
  }

  @for $i from 1 through 3 {
    &--flex-#{$i} {
      flex: $i 0;
    }
  }
}

.tna-container--no-padding,
.tna-container--no-padding-all,
.tna-container--no-padding-all > .tna-column,
.tna-column--no-padding,
.tna-column--container--no-padding-all,
.tna-column--container--no-padding-all > .tna-column {
  padding-right: 0;
  padding-left: 0;
}

//   @for $i from 1 through 3 {
//     .tna-column--order-#{$i} {
//       order: $i;
//     }
//   }

@include tools.columns-generator(grid.$column-count);

@include media.on-medium {
  .tna-column {
    &--full-medium {
      width: 100%;
      flex: none;
    }

    @for $i from 1 through 3 {
      &--flex-#{$i}-medium {
        flex: $i 0;
      }
    }

    // @for $i from 1 through 3 {
    //   &--order-#{$i}-medium {
    //     order: $i;
    //   }
    // }
  }

  @include tools.columns-generator(grid.$column-count-medium, "-medium");
}

@include media.on-mobile {
  .tna-container {
    padding-right: math.div(grid.$gutter-width-mobile, 2) + 0.75rem;
    padding-left: math.div(grid.$gutter-width-mobile, 2) + 0.75rem;
  }

  .tna-column {
    padding-right: math.div(grid.$gutter-width-mobile, 2);
    padding-left: math.div(grid.$gutter-width-mobile, 2);
  }
}

@include media.on-small {
  .tna-column {
    &--full-small {
      width: 100%;
      flex: none;
    }

    @for $i from 1 through 3 {
      &--flex-#{$i}-small {
        flex: $i 0;
      }
    }

    // @for $i from 1 through 3 {
    //   &--order-#{$i}-small {
    //     order: $i;
    //   }
    // }
  }

  @include tools.columns-generator(grid.$column-count-small, "-small");
}

@include media.on-tiny {
  .tna-column {
    &--full-tiny {
      width: 100%;
      flex: none;
    }

    @for $i from 1 through 3 {
      &--flex-#{$i}-tiny {
        width: auto;

        flex: $i 0;
      }
    }

    // @for $i from 1 through 3 {
    //   &--order-#{$i}-tiny {
    //     order: $i;
    //   }
    // }
  }

  @include tools.columns-generator(grid.$column-count-tiny, "-tiny");
}
