@use "sass:math";
@use "../../variables/grid";
@use "../../tools/media";
@use "../../tools/grid" as gridTools;
@use "../../utilities";

.tna-container {
  max-width: grid.$largest-container-width;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: math.div(grid.$gutter-width, 2);
  padding-left: math.div(grid.$gutter-width, 2);

  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  &--no-padding,
  &--no-padding-all {
    max-width: grid.$largest-container-width - (grid.$gutter-width * 2);
  }

  &--max {
    max-width: none;
  }

  &--centred {
    justify-content: center;
  }
}

.tna-column {
  margin: 0;
  padding-right: math.div(grid.$gutter-width, 2);
  padding-left: math.div(grid.$gutter-width, 2);

  box-sizing: border-box;

  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
  }
}

@include gridTools.columns-generator(grid.$column-count);

@include media.on-medium {
  @include gridTools.columns-generator(grid.$column-count-medium, "medium");
}

@include media.on-mobile {
  .tna-container {
    padding-right: math.div(grid.$gutter-width-mobile, 2);
    padding-left: math.div(grid.$gutter-width-mobile, 2);
  }

  .tna-column {
    padding-right: math.div(grid.$gutter-width-mobile, 2);
    padding-left: math.div(grid.$gutter-width-mobile, 2);
  }
}

@include media.on-small {
  @include gridTools.columns-generator(grid.$column-count-small, "small");
}

@include media.on-tiny {
  @include gridTools.columns-generator(grid.$column-count-tiny, "tiny");
}

.tna-container--no-padding,
.tna-container--no-padding-all,
.tna-container--no-padding-all > .tna-column,
.tna-column--no-padding,
.tna-column--container--no-padding-all,
.tna-column--container--no-padding-all > .tna-column {
  padding-right: 0;
  padding-left: 0;
}
