.DS_Store
.vscode
__snapshots__
node_modules
package
package-cookie-banner
package-global-header
storybook
*.zip
*.tgz
build-storybook.log
chromatic.config.json
chromatic.log
RELEASE_NOTES.txt
error-pages
fixtures-html