{% extends 'nationalarchives/templates/layouts/_generic.njk' %}

{% set assetPath = '/plugin-assets/%40nationalarchives%2Ffrontend/nationalarchives/assets/' %}

{% block stylesheets %}
  {% include 'govuk-prototype-kit/includes/stylesheets-plugins.njk' ignore missing %}
  <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Roboto+Mono:wght@400..500&display=swap">
{% endblock %}

{% block bodyEnd %}
  {% include 'govuk-prototype-kit/includes/scripts.njk' ignore missing %}
  <script>
    if (window.TNAFrontend && window.TNAFrontend.initAll) {
      document.addEventListener("DOMContentLoaded", function() {
        window.TNAFrontend.initAll();
        var cookies = new TNAFrontend.Cookies()
        var theme = cookies.get("theme") || "system"
        var $tnaTemplate = document.querySelector(".tna-template");
        if (theme === "light") {
          $tnaTemplate.classList.remove(
            "tna-template--system-theme",
            "tna-template--dark-theme",
          );
        } else if (theme === "dark") {
          $tnaTemplate.classList.remove("tna-template--system-theme");
          $tnaTemplate.classList.add(`tna-template--dark-theme`);
        } else if (theme === "system") {
          $tnaTemplate.classList.remove("tna-template--dark-theme");
          $tnaTemplate.classList.add(`tna-template--system-theme`);
        }
      });
    }
  </script>
{% endblock %}
