{% extends "./_generic.njk" %}

{% block stylesheets %}
{% include "govuk-prototype-kit/includes/stylesheets-plugins.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "govuk-prototype-kit/includes/scripts.njk" %}
  <script>
    if (window.TNAFrontend && window.TNAFrontend.initAll) {
      document.addEventListener("DOMContentLoaded", function() {
        window.TNAFrontend.initAll();
      });
    }
  </script>
{% endblock %}
