{% from "nationalarchives/components/button/macro.njk" import tnaButton %}
{% from "nationalarchives/components/select/macro.njk" import tnaSelect %}

{%- set containerClasses = [params.classes] if params.classes else [] -%}
<section class="tna-search-view {{ containerClasses | join(' ') }}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <form>
    {{ tnaSelect({
      label: "Sort by",
      headingLevel: 4,
      headingSize: "m",
      name: "sort",
      items: [
        {
          text: "Relevance",
          value: "relevance"
        },
        {
          text: "Date",
          value: "date"
        },
        {
          text: "Title",
          value: "title"
        }
      ]
    }) }}
    {{ tnaButton({
      text: "Sort",
      small: true,
      attributes: {
        type: "submit"
      }
    }) }}
  </form>
  <div class="tna-button-group tna-button-group--small">
    {{ tnaButton({
      text: "Show as a list",
      href: "#",
      icon: "list",
      iconOnly: true
    }) }}
    {{ tnaButton({
      text: "Show as a grid",
      href: "#",
      icon: "grip",
      iconOnly: true
    }) }}
  </div>
</section>
