@use "../../tools/colour";
@use "../../tools/media";

.tna-breadcrumbs {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;

    + .tna-breadcrumbs__item {
      &::before {
        margin: 0 0.75rem;

        display: inline-block;

        content: "\203A";
      }
    }
  }

  &__link {
    display: inline-block;

    @include colour.colour-font("font-base");

    &:hover {
      @include colour.colour-font("font-dark");
    }
  }

  @include media.on-mobile {
    &__item {
      &,
      + .tna-breadcrumbs__item {
        &::before {
          margin-left: 0;

          display: none;
        }
      }

      &:not(:nth-last-child(2)) {
        display: none;
      }

      &:nth-last-child(2) {
        .tna-breadcrumbs__link {
          &::before {
            // content: "\2190";
            // content: "\21E6";
            // content: "\21FD";
            // content: "\2794";
            content: "\2190\00a0" attr(data-prefix);
          }
        }
      }
    }
  }

  @mixin high-contrast {
    &__link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;

      border: 1px transparent solid;
      @include colour.colour-border("keyline-dark");
    }
  }

  .tna-template--high-contrast-theme & {
    @include high-contrast;
  }

  @media (prefers-contrast: more) {
    .tna-template--system-theme & {
      @include high-contrast;
    }
  }
}
