@use "../../variables/colour";
@use "../../tools/media";

.tna-breadcrumbs {
  padding: 0;

  list-style: none;

  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.tna-breadcrumbs__item {
  display: -ms-flexbox;
  display: flex;

  + .tna-breadcrumbs__item {
    &::before {
      margin: 0 0.5rem;

      display: inline-block;

      content: "\203A";
    }
  }
}

.tna-breadcrumbs__item-link {
  display: inline-block;

  color: colour.$base-font-colour;

  &:hover {
    color: #f0a;
  }
}

@include media.onMobile {
  .tna-breadcrumbs__item {
    &,
    + .tna-breadcrumbs__item {
      &::before {
        display: none;
      }
    }

    &:not(:nth-last-child(2)) {
      display: none;
    }

    &:nth-last-child(2) {
      // outline: 1px #f0a solid;

      &::before {
        margin-left: 0;

        content: "\2190";
        // content: "\21E6";
      }

      .tna-breadcrumbs__item-link {
        &::before {
          content: "\2190";
        }
      }
    }
  }
}
