@use "../../tools/colour";
@use "../../tools/media";

.tna-breadcrumbs {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__wrapper {
    .tna-template--clicked & {
      &:focus {
        outline: none !important;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;

    + .tna-breadcrumbs__item {
      &::before {
        margin: 0 0.75rem;

        display: inline-block;

        vertical-align: baseline;

        content: "\203A";
      }
    }

    &--expandable {
      display: none;
    }
  }

  &__link {
    display: inline-block;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-base");
    }

    &:hover {
      @include colour.colour-font("font-dark");
    }

    @include colour.on-high-contrast {
      padding-right: 0.75rem;
      padding-left: 0.75rem;

      text-decoration: none;

      border: 1px transparent solid;
      @include colour.colour-border("keyline-dark");

      &:hover {
        text-decoration: underline;

        @include colour.colour-font("contrast-background");

        @include colour.colour-background("contrast-font-base");
      }
    }
  }

  button#{&}__link {
    margin: 0;
    padding: 0;
    height: 100%;

    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;

    background-color: transparent;

    border: none;

    appearance: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
    }
  }

  @include media.on-mobile {
    // &__item {
    //   &,
    //   + .tna-breadcrumbs__item {
    //     &::before {
    //       margin-left: 0;

    //       display: none;
    //     }
    //   }

    //   &:not(:nth-last-child(2)) {
    //     display: none;
    //   }

    //   &:nth-last-child(2) {
    //     .tna-breadcrumbs__link {
    //       &::before {
    //         content: "\2190\00a0" attr(data-prefix);
    //       }
    //     }
    //   }
    // }

    &__list--collapse-on-mobile
      #{&}__item:not(
        :first-child,
        .tna-breadcrumbs__item--expandable,
        :last-child
      ) {
      display: none;
    }

    &__list--collapse-on-mobile #{&}__item--expandable {
      display: inline-block;
    }
  }
}
