{%- set containerClasses = [params.classes] if params.classes else [] -%}
<div class="tna-breadcrumbs tna-container {{ containerClasses | join(' ') }}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <nav class="tna-column tna-column--full" aria-label="Breadcrumb">
    <ol class="tna-breadcrumbs__list">
    {%- for item in params.items -%}
      <li class="tna-breadcrumbs__item">
        <a href="{{ item.href }}" class="tna-breadcrumbs__link" data-prefix="{{ params.prefix if params.prefix else 'Back to' }}" {%- if item.title %} title="{{ item.title }}"{% endif %}>
          {{ item.text }}
        </a>
      </li>
    {%- endfor -%}
    </ol>
  </nav>
</div>
