{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.noCollapse -%}
  {%- set containerClasses = containerClasses.concat('tna-breadcrumbs--no-collapse') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}
<nav class="tna-breadcrumbs{% if classes %} {{ classes }}{% endif %}" data-module="tna-breadcrumbs" aria-label="{{ params.labelText or 'Breadcrumbs' }}"{%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <ol class="tna-breadcrumbs__list" {%- if params.structuredData %} itemscope itemtype="https://schema.org/BreadcrumbList"{% endif %}>
  {%- for item in params.items %}
    <li class="tna-breadcrumbs__item" {%- if params.structuredData %} itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"{% endif %}>
      <a href="{{ item.href }}" class="tna-breadcrumbs__link" {%- if item.title %} aria-label="{{ item.title }}" title="{{ item.title }}"{% endif %}{%- if params.structuredData %} itemprop="item"{% endif %}>
        {%- if params.structuredData %}
        <span itemprop="name">{{ item.text }}</span>
        {%- else %}
        {{ item.text }}
        {%- endif %}
      </a>
      {%- if params.structuredData %}
      <meta itemprop="position" content="{{ loop.index }}">
      {%- endif %}
    </li>
  {%- endfor %}
  </ol>
</nav>
