@use "../variables/a11y";
@use "colour";

@mixin visually-hidden {
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;

  overflow: hidden !important;

  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  z-index: -1 !important;

  background-color: transparent !important;

  border: 0 !important;

  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

%focus-outline {
  outline: 3px #000 solid !important;
  outline-offset: 3px !important;

  box-shadow: 0 0 0 4px #fff !important;

  .tna-template--dark-theme & {
    outline-color: #fff !important;

    box-shadow: 0 0 0 4px #000 !important;
  }

  .tna-template--system-theme & {
    @media (prefers-color-scheme: dark) {
      outline-color: #fff !important;

      box-shadow: 0 0 0 4px #000 !important;
    }
  }
}

@mixin focus-outline {
  @extend %focus-outline;
}

@mixin no-focus-outline {
  outline: none !important;

  box-shadow: none !important;
}

%active-outline {
  outline: 2px #000 solid !important;
  outline-offset: 2px !important;

  box-shadow: 0 0 0 3px #fff !important;

  .tna-template--dark-theme & {
    outline-color: #fff !important;

    box-shadow: 0 0 0 3px #000 !important;
  }

  .tna-template--system-theme & {
    @media (prefers-color-scheme: dark) {
      outline-color: #fff !important;

      box-shadow: 0 0 0 3px #000 !important;
    }
  }
}

@mixin active-outline {
  @extend %active-outline;
}
