@use "sass:map";
@use "../features";
@use "../variables/colour";
@use "../tools/media";

@function brand-colour($colour) {
  @return map.get(colour.$colour-palette-brand, $colour);
}

@mixin colour-css-vars() {
  @each $name, $value in colour.$colour-palette-default {
    --#{$name}: #{$value};
  }
}

@mixin colour-css-vars-dark() {
  @each $name, $value in colour.$colour-palette-dark {
    --#{$name}: #{$value};
  }
}

@mixin colour-css-vars-high-contrast() {
  @each $name, $value in colour.$colour-palette-high-contrast {
    --#{$name}: #{$value};
  }
}

@mixin colour-css-vars-high-contrast-dark() {
  @each $name, $value in colour.$colour-palette-high-contrast-dark {
    --#{$name}: #{$value};
  }
}

@mixin accent-css-vars($colour) {
  @if $colour == "yellow" {
    --accent: #{brand-colour("yellow")} !important;
    --accent-background: #{brand-colour("yellow")} !important;
    --accent-background-light: #{brand-colour("cream")} !important;
    --accent-font-base: #{brand-colour("black")} !important;
    --accent-font-dark: #{brand-colour("black")} !important;
    --accent-font-light: #{rgba(brand-colour("black"), 0.7)} !important;
    --accent-link: #{brand-colour("black")} !important;
    --accent-link-visited: #b9f !important;
    --accent-keyline: #{rgba(brand-colour("black"), 0.5)} !important;
    --accent-keyline-dark: #{rgba(brand-colour("black"), 0.8)} !important;
    --button-accent-background: #{brand-colour("yellow")} !important;
  } @else {
    --accent-font-base: #{brand-colour("white")} !important;
    --accent-font-dark: #{brand-colour("white")} !important;
    --accent-font-light: #{rgba(brand-colour("white"), 0.7)} !important;
    --accent-link: #{brand-colour("white")} !important;
    --accent-link-visited: #b9f !important;
    --accent-keyline: #{rgba(brand-colour("white"), 0.5)} !important;
    --accent-keyline-dark: #{rgba(brand-colour("white"), 0.8)} !important;

    @if $colour == "black" {
      // --accent: #{brand-colour("light-grey")} !important;
      // --accent-background: #{brand-colour("black")} !important;
      // --accent-background-light: #{brand-colour("light-grey")} !important;
      // --button-accent-text: #{brand-colour("black")} !important;
      // --button-accent-background: #{brand-colour("grey")} !important;
    } @else {
      --button-accent-text: #{brand-colour("white")} !important;
      @if $colour == "pink" {
        --accent: #{brand-colour("pink")} !important;
        --accent-background: #{brand-colour("maroon")} !important;
        --accent-background-light: #{brand-colour("pastel-pink")} !important;
        --button-accent-background: #{brand-colour("maroon")} !important;
      } @else if $colour == "orange" {
        --accent: #{brand-colour("orange")} !important;
        --accent-background: #{brand-colour("chestnut")} !important;
        --accent-background-light: #{brand-colour("pastel-orange")} !important;
        --button-accent-background: #{brand-colour("chestnut")} !important;
      } @else if $colour == "green" {
        --accent: #{brand-colour("green")} !important;
        --accent-background: #{brand-colour("forest")} !important;
        --accent-background-light: #{brand-colour("pastel-green")} !important;
        --button-accent-background: #{brand-colour("forest")} !important;
      } @else if $colour == "blue" {
        --accent: #{brand-colour("blue")} !important;
        --accent-background: #{brand-colour("navy")} !important;
        --accent-background-light: #{brand-colour("pastel-blue")} !important;
        --button-accent-background: #{brand-colour("navy")} !important;
      }
    }
  }
}

@mixin colour-font($colour, $important: false) {
  color: map.get(colour.$colour-palette-default, $colour);
  color: var(--#{$colour}) if($important, !important, null);
}

@mixin colour-background($colour, $important: false) {
  background-color: map.get(colour.$colour-palette-default, $colour);
  background-color: var(--#{$colour}) if($important, !important, null);
}

@mixin colour-border(
  $colour,
  $width: "",
  $style: solid,
  $direction: "",
  $important: false
) {
  @if $direction != "" {
    @if $width != "" {
      $property: border-#{$direction};
      border-#{$direction}: $width
        map.get(colour.$colour-palette-default, $colour)
        $style
        if($important, !important, null);
      border-#{$direction}: $width
        var(--#{$colour})
        $style
        if($important, !important, null);
    } @else {
      border-#{$direction}-color: map.get(
          colour.$colour-palette-default,
          $colour
        )
        if($important, !important, null);
      border-#{$direction}-color: var(--#{$colour})
        if($important, !important, null);
    }
  } @else {
    @if $width != "" {
      border: $width
        map.get(colour.$colour-palette-default, $colour)
        $style
        if($important, !important, null);
      border: $width var(--#{$colour}) $style if($important, !important, null);
    } @else {
      border-color: map.get(colour.$colour-palette-default, $colour)
        if($important, !important, null);
      border-color: var(--#{$colour}) if($important, !important, null);
    }
  }
}

@mixin colour-outline($colour, $important: false) {
  outline-color: map.get(colour.$colour-palette-default, $colour)
    if($important, !important, null);
  outline-color: var(--#{$colour}) if($important, !important, null);
}

@mixin colour-fill($colour, $important: false) {
  fill: map.get(colour.$colour-palette-default, $colour)
    if($important, !important, null);
  fill: var(--#{$colour}) if($important, !important, null);
}

@mixin fixed {
  @include colour-css-vars;

  // @include colour-font("font-base");
}

%invert {
  --font-base: var(--contrast-font-base);
  --font-dark: var(--contrast-font-dark);
  --font-light: var(--contrast-font-light);
  --link: var(--contrast-link);
  --link-visited: var(--contrast-link-visited);
  --keyline: var(--contrast-keyline);
  --keyline-dark: var(--contrast-keyline-dark);

  @include colour-background("contrast-background");
  @include colour-font("font-base");
}

@mixin invert {
  @extend %invert;
}

%invert-on-mobile {
  @include media.on-mobile {
    --font-base: var(--contrast-font-base);
    --font-dark: var(--contrast-font-dark);
    --font-light: var(--contrast-font-light);
    --link: var(--contrast-link);
    --link-visited: var(--contrast-link-visited);
    --keyline: var(--contrast-keyline);
    --keyline-dark: var(--contrast-keyline-dark);

    @include colour-background("contrast-background");
    @include colour-font("font-base");
  }
}

@mixin invert-on-mobile {
  @extend %invert-on-mobile;
}

@mixin uninvert {
  @include colour-css-vars;

  .tna-template--system-theme & {
    @include colour-css-vars;

    @media (prefers-color-scheme: dark) {
      @include colour-css-vars-dark;
    }

    @media (prefers-contrast: more) {
      @include colour-css-vars-high-contrast;
    }

    @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
      @include colour-css-vars-high-contrast-dark;
    }
  }

  .tna-template--light-theme & {
    @include colour-css-vars;
  }

  .tna-template--dark-theme & {
    @include colour-css-vars-dark;
  }

  .tna-template--high-contrast-theme & {
    @include colour-css-vars-high-contrast;
  }

  .tna-template--high-contrast-theme.tna-template--dark-theme & {
    @include colour-css-vars-high-contrast-dark;
  }
}

%accent {
  --font-base: var(--accent-font-base, var(--accent-font-base));
  --font-dark: var(--accent-font-dark, var(--accent-font-dark));
  --font-light: var(--accent-font-light, var(--accent-font-light));
  --link: var(--accent-link, var(--accent-link));
  --link-visited: var(--accent-link-visited, var(--accent-link-visited));
  --keyline: var(--accent-keyline, var(--accent-keyline));
  --keyline-dark: var(--accent-keyline-dark, var(--accent-keyline-dark));
  @include colour-background("accent-background");
}

@mixin accent {
  @extend %accent;
}

%accent-background {
  @include colour-background("accent-background");
}

@mixin accent-background {
  @extend %accent-background;
}

%light-accent-background {
  @include colour-background("accent-background-light");
}

@mixin light-accent-background {
  @extend %light-accent-background;
}

@mixin on-high-contrast {
  .tna-template--high-contrast-theme & {
    @content;
  }

  @media (prefers-contrast: more) {
    .tna-template--system-theme & {
      @content;
    }
  }
}
