@use "sass:map";
@use "sass:list";
@use "../variables/borders";
@use "../variables/colour";
@use "../tools/media";

@function brand-colour($colour, $opacity: 1) {
  @return colour.brand-colour($colour, $opacity);
}

@mixin colour-css-vars($excludes...) {
  @each $name, $value in colour.$colour-palette-default {
    @if not list.index($excludes, $name) {
      --#{$name}: #{$value};
    }
  }
}

@mixin colour-css-vars-dark($excludes...) {
  @each $name, $value in colour.$colour-palette-dark {
    @if not list.index($excludes, $name) {
      --#{$name}: #{$value};
    }
  }
}

@mixin colour-css-vars-high-contrast($excludes...) {
  @each $name, $value in colour.$colour-palette-high-contrast {
    @if not list.index($excludes, $name) {
      --#{$name}: #{$value};
    }
  }
}

@mixin colour-css-vars-high-contrast-dark($excludes...) {
  @each $name, $value in colour.$colour-palette-high-contrast-dark {
    @if not list.index($excludes, $name) {
      --#{$name}: #{$value};
    }
  }
}

@mixin colour-font($colour, $important: false) {
  color: var(--#{$colour}, #{map.get(colour.$colour-palette-default, $colour)})
    if($important, !important, null);
}

@mixin colour-background($colour, $important: false) {
  background-color: var(
      --#{$colour},
      #{map.get(colour.$colour-palette-default, $colour)}
    )
    if($important, !important, null);
}

@mixin colour-background-brand($brandColour, $important: false) {
  background-color: #{brand-colour($brandColour)} if($important, !important, null);
}

@mixin colour-border(
  $colour,
  $width: "",
  $style: solid,
  $direction: "",
  $important: false
) {
  @if $direction != "" {
    @if $width != "" {
      border-#{$direction}: $width
        var(--#{$colour}, #{map.get(colour.$colour-palette-default, $colour)})
        $style
        if($important, !important, null);
    } @else {
      border-#{$direction}-color: var(
          --#{$colour},
          #{map.get(colour.$colour-palette-default, $colour)}
        )
        if($important, !important, null);
    }
  } @else {
    @if $width != "" {
      border: $width
        var(--#{$colour}, #{map.get(colour.$colour-palette-default, $colour)})
        $style
        if($important, !important, null);
    } @else {
      border-color: var(
          --#{$colour},
          #{map.get(colour.$colour-palette-default, $colour)}
        )
        if($important, !important, null);
    }
  }
}

@mixin colour-outline($colour, $width: "", $style: solid, $important: false) {
  @if $width != "" {
    outline: $width
      var(--#{$colour}, #{map.get(colour.$colour-palette-default, $colour)})
      $style
      if($important, !important, null);
  } @else {
    outline-color: var(
        --#{$colour},
        #{map.get(colour.$colour-palette-default, $colour)}
      )
      if($important, !important, null);
  }
}

@mixin colour-fill($colour, $important: false) {
  fill: var(--#{$colour}, #{map.get(colour.$colour-palette-default, $colour)})
    if($important, !important, null);
}

@mixin thick-keyline($direction) {
  @include colour-border(
    "keyline",
    borders.$thick-border-width,
    solid,
    $direction
  );
}

@mixin thick-keyline-dark($direction) {
  @include colour-border(
    "keyline-dark",
    borders.$thick-border-width,
    solid,
    $direction
  );
}

@mixin thick-keyline-accent($direction) {
  @include colour-border(
    "accent-background",
    borders.$thick-border-width,
    solid,
    $direction
  );
}

@mixin thick-keyline-error($direction) {
  @include colour-border(
    "form-error",
    borders.$thick-border-width,
    solid,
    $direction
  );
}

@mixin thick-keyline-brand($direction, $brandColour) {
  border-#{$direction}: borders.$thick-border-width #{brand-colour($brandColour)}
    solid;
}

%light {
  @include colour-css-vars("form-error");

  @media (prefers-contrast: more) {
    @include colour-css-vars-high-contrast("form-error");
  }
}

@mixin light {
  @extend %light;
}

%dark {
  @include colour-css-vars-dark("form-error");

  @media (prefers-contrast: more) {
    @include colour-css-vars-high-contrast-dark("form-error");
  }
}

@mixin dark {
  @extend %dark;
}

%plain {
  .tna-template--system-theme & {
    @extend %light;

    @media (prefers-color-scheme: dark) {
      @include colour-css-vars-dark;
    }

    @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
      @include colour-css-vars-high-contrast-dark;
    }
  }

  .tna-template--light-theme & {
    @include colour-css-vars;

    @media (prefers-contrast: more) {
      @include colour-css-vars-high-contrast;
    }
  }

  .tna-template--dark-theme & {
    @include colour-css-vars-dark;

    @media (prefers-contrast: more) {
      @include colour-css-vars-high-contrast-dark;
    }
  }

  @include colour-background("background");
}

@mixin plain {
  @extend %plain;
}

%contrast {
  --background: var(--contrast-background);
  --font-base: var(--contrast-font-base);
  --font-dark: var(--contrast-font-dark);
  --font-light: var(--contrast-font-light);
  --icon-light: var(--contrast-icon-light);
  --link: var(--contrast-link);
  --link-visited: var(--contrast-link-visited);
  --keyline: var(--contrast-keyline);
  --keyline-dark: var(--contrast-keyline-dark);
  --button-text: var(--contrast-button-text);
  --button-background: var(--contrast-button-background);
  --button-hover-text: var(--contrast-button-hover-text);
  --button-hover-background: var(--contrast-button-hover-background);

  @include colour-background("background");

  @include colour-font("font-base");
}

@mixin contrast {
  @extend %contrast;
}

%contrast-on-mobile {
  @include media.on-mobile {
    --background: var(--contrast-background);
    --font-base: var(--contrast-font-base);
    --font-dark: var(--contrast-font-dark);
    --font-light: var(--contrast-font-light);
    --icon-light: var(--contrast-icon-light);
    --link: var(--contrast-link);
    --link-visited: var(--contrast-link-visited);
    --keyline: var(--contrast-keyline);
    --keyline-dark: var(--contrast-keyline-dark);
    --button-text: var(--contrast-button-text);
    --button-background: var(--contrast-button-background);
    --button-hover-text: var(--contrast-button-hover-text);
    --button-hover-background: var(--contrast-button-hover-background);

    @include colour-background("background");

    @include colour-font("font-base");
  }
}

@mixin contrast-on-mobile {
  @extend %contrast-on-mobile;
}

%accent {
  --background: var(--accent-background);
  --font-base: var(--accent-font-base);
  --font-dark: var(--accent-font-dark);
  --font-light: var(--accent-font-light);
  --icon-light: var(--accent-icon-light);
  --link: var(--accent-link);
  --link-visited: var(--accent-link);
  --keyline: var(--accent-keyline);
  --keyline-dark: var(--accent-keyline-dark);

  @include colour-background("background");

  @include colour-font("font-base");
}

@mixin accent {
  @extend %accent;
}

%tint {
  --background: var(--background-tint);

  @include colour-background("background");

  @include colour-font("font-base");
}

@mixin tint {
  @extend %tint;
}

%accent-background {
  @include colour-background("accent-background");
}

@mixin accent-background {
  @extend %accent-background;
}

%accent-light {
  --background: var(--accent-background-light);
  --font-base: #{map.get(colour.$colour-palette-default, "font-base")};
  --font-dark: #{map.get(colour.$colour-palette-default, "font-dark")};
  --font-light: #{map.get(colour.$colour-palette-default, "font-light")};
  --icon-light: #{map.get(colour.$colour-palette-default, "icon-light")};
  // --link: #{map.get(colour.$colour-palette-default, "link")};
  // --link-visited: #{map.get(colour.$colour-palette-default, "link-visited")};
  --keyline: #{map.get(colour.$colour-palette-default, "keyline")};
  --keyline-dark: #{map.get(colour.$colour-palette-default, "keyline-dark")};
  --button-text: #{map.get(colour.$colour-palette-default, "button-text")};
  --button-background: #{map.get(
      colour.$colour-palette-default,
      "button-background"
    )};
  --button-hover-text: #{map.get(
      colour.$colour-palette-default,
      "button-hover-text"
    )};
  --button-hover-background: #{map.get(
      colour.$colour-palette-default,
      "button-hover-background"
    )};

  @include colour-background("background");
  @include colour-font("font-base");

  .tna-template--system-theme & {
    @media (prefers-color-scheme: dark) {
      --link: #{map.get(colour.$colour-palette-default, "link")};
      --link-visited: #{map.get(colour.$colour-palette-default, "link-visited")};
    }
  }

  .tna-template--dark-theme & {
    --link: #{map.get(colour.$colour-palette-default, "link")};
    --link-visited: #{map.get(colour.$colour-palette-default, "link-visited")};
  }
}

@mixin accent-light {
  @extend %accent-light;
}

%yellow-accent {
  --accent-background: #{colour.brand-colour("yellow")} !important;
  --accent-background-light: #{colour.brand-colour("cream")} !important;
  --accent-font-base: #{colour.brand-colour("black")} !important;
  --accent-font-dark: #{colour.brand-colour("black")} !important;
  --accent-font-light: #{colour.brand-colour("black", 0.7)} !important;
  --accent-icon-light: #{colour.brand-colour("black", 0.45)} !important;
  --accent-link: #{colour.brand-colour("black")} !important;
  --accent-link-visited: #{colour.brand-colour("black")} !important;
  --accent-keyline: #{colour.brand-colour("black", 0.5)} !important;
  --accent-keyline-dark: #{colour.brand-colour("black", 0.8)} !important;
  --button-accent-text: #{colour.brand-colour("black")} !important;
  --button-accent-background: #{colour.brand-colour("yellow")} !important;
}

@mixin yellow-accent {
  @extend %yellow-accent;
}

%accent-lighter-text {
  --accent-font-base: #{colour.brand-colour("white")} !important;
  --accent-font-dark: #{colour.brand-colour("white")} !important;
  --accent-font-light: #{colour.brand-colour("white", 0.7)} !important;
  --accent-icon-light: #{colour.brand-colour("white", 0.45)} !important;
  --accent-link: #{colour.brand-colour("white")} !important;
  --accent-link-visited: #{colour.brand-colour("white")} !important;
  --accent-keyline: #{colour.brand-colour("white", 0.5)} !important;
  --accent-keyline-dark: #{colour.brand-colour("white", 0.8)} !important;
  --button-accent-text: #{colour.brand-colour("white")} !important;
}

%black-accent {
  --accent-background: #{colour.brand-colour("black")} !important;
  --accent-background-light: #{colour.brand-colour("light-grey")} !important;
  --button-accent-text: #{colour.brand-colour("black")} !important;
  --button-accent-background: #{colour.brand-colour("grey")} !important;
}

@mixin black-accent {
  @extend %black-accent;
  @extend %accent-lighter-text;
}

%pink-accent {
  --accent-background: #{colour.brand-colour("maroon")} !important;
  --accent-background-light: #{colour.brand-colour("pastel-pink")} !important;
  --button-accent-background: #{colour.brand-colour("maroon")} !important;
}

@mixin pink-accent {
  @extend %pink-accent;
  @extend %accent-lighter-text;
}

%orange-accent {
  --accent-background: #{colour.brand-colour("chestnut")} !important;
  --accent-background-light: #{colour.brand-colour("pastel-orange")} !important;
  --button-accent-background: #{colour.brand-colour("chestnut")} !important;
}

@mixin orange-accent {
  @extend %orange-accent;
  @extend %accent-lighter-text;
}

%green-accent {
  --accent-background: #{colour.brand-colour("forest")} !important;
  --accent-background-light: #{colour.brand-colour("pastel-green")} !important;
  --button-accent-background: #{colour.brand-colour("forest")} !important;
}

@mixin green-accent {
  @extend %green-accent;
  @extend %accent-lighter-text;
}

%blue-accent {
  --accent-background: #{colour.brand-colour("navy")} !important;
  --accent-background-light: #{colour.brand-colour("pastel-blue")} !important;
  --button-accent-background: #{colour.brand-colour("navy")} !important;
}

@mixin blue-accent {
  @extend %blue-accent;
  @extend %accent-lighter-text;
}

@mixin on-high-contrast {
  @media (prefers-contrast: more) {
    @content;
  }
}

@mixin on-forced-colours {
  @media (forced-colors: active) {
    @content;
  }
}

@mixin on-high-contrast-and-forced-colours {
  @include on-forced-colours {
    @content;
  }

  @include on-high-contrast {
    @content;
  }
}
