@use "sass:math";
@use "../variables/grid";
@use "spacing";

@function gutter-width() {
  @return spacing.space(grid.$gutter-width);
}

@function gutter-width-half() {
  @return spacing.space(math.div(grid.$gutter-width, 2));
}

@function gutter-width-double() {
  @return spacing.space(grid.$gutter-width * 2);
}

@function gutter-width-tiny() {
  @return spacing.space(grid.$gutter-width-tiny);
}

@function gutter-width-tiny-half() {
  @return spacing.space(math.div(grid.$gutter-width-tiny, 2));
}

@function gutter-width-tiny-double() {
  @return spacing.space(grid.$gutter-width-tiny * 2);
}

@mixin columns-generator($count, $suffix: "") {
  @if $suffix != "" {
    $suffix: "-" + $suffix;
  }

  .tna-column {
    &--full#{$suffix} {
      inline-size: 100%;

      flex: none;
    }

    @for $i from 1 through $count - 1 {
      $simplest-fraction-found: false;

      @for $j from math.div($count, 2) through 1 {
        @if (
          $count % $j == 0 and $i % $j == 0 and $simplest-fraction-found != true
        ) {
          &--width-#{math.div($i, $j)}-#{math.div($count, $j)}#{$suffix} {
            inline-size: math.div(100%, $count) * $i;

            flex: none;
          }

          &--margin-inline-end-#{math.div($i, $j)}-#{math.div($count, $j)}#{$suffix} {
            margin-inline-end: math.div(100%, $count) * $i;
          }

          &--margin-inline-start-#{math.div($i, $j)}-#{math.div($count, $j)}#{$suffix} {
            margin-inline-start: math.div(100%, $count) * $i;
          }

          $simplest-fraction-found: true;
        }
      }

      @if $simplest-fraction-found != true {
        &--width-#{$i}-#{$count}#{$suffix} {
          inline-size: math.div(100%, $count) * $i;

          flex: none;
        }

        &--margin-inline-end-#{$i}-#{$count}#{$suffix} {
          margin-inline-end: math.div(100%, $count) * $i;
        }

        &--margin-inline-start-#{$i}-#{$count}#{$suffix} {
          margin-inline-start: math.div(100%, $count) * $i;
        }
      }
    }

    @if $suffix != "" {
      &--no-margin-inline-end#{$suffix} {
        margin-inline-end: 0;
      }

      &--no-margin-inline-start#{$suffix} {
        margin-inline-start: 0;
      }
    }

    @for $i from 1 through 3 {
      &--flex-#{$i}#{$suffix} {
        inline-size: auto;

        flex: $i 0;
      }
    }

    @for $i from 1 through 4 {
      &--order-#{$i}#{$suffix} {
        order: $i;
      }
    }
  }
}
