@use "sass:math";
@use "../variables/typography";

@mixin relative-font-size($fontSizePx) {
  font-size: #{math.div($fontSizePx, typography.$base-font-size-px)}rem;
}

@mixin main-font-weight {
  font-weight: typography.$font-weight-main;
}

@mixin main-font-weight-bold {
  font-weight: typography.$font-weight-main-bold;
}

@mixin main-font {
  font-family: typography.$font-family-main;
  @include main-font-weight;
}

@mixin heading-font {
  font-family: typography.$font-family-heading;
  font-weight: typography.$font-weight-heading;
}

@mixin detail-font {
  font-family: typography.$font-family-detail;
  font-weight: typography.$font-weight-detail;
  @include relative-font-size(14);
  text-transform: uppercase;
  line-height: #{math.div(typography.$base-font-size-px, 14)};
  // line-height: 1;
}
