@use "sass:math";
@use "colour";
@use "../variables/typography";

@mixin relative-font-size($fontSizePx) {
  font-size: #{math.div($fontSizePx, typography.$relative-1rem-px)}rem;
}

@mixin interacted-text-decoration {
  text-decoration: underline;
  text-decoration-thickness: typography.$interactive-text-decoration-thickness;
}

@mixin main-font-weight {
  font-weight: typography.$main-font-weight;
}

@mixin main-font-weight-bold {
  font-weight: typography.$main-font-weight-bold;
}

@mixin main-font {
  font-family: typography.$main-font-family;
  @include main-font-weight;
}

@mixin heading-font {
  font-family: typography.$heading-font-family;
  font-weight: typography.$heading-font-weight;
}

@mixin detail-font-weight {
  font-weight: typography.$detail-font-weight;
}

@mixin detail-font-weight-bold {
  font-weight: typography.$detail-font-weight-bold;
}

@mixin detail-font {
  font-family: typography.$detail-font-family;
  @include detail-font-weight;
}

@mixin detail-font-small {
  @include detail-font;
  @include relative-font-size(14);
  text-transform: uppercase;
  line-height: #{math.div(typography.$relative-1rem-px, 14)};
  // line-height: 1;
}
