@use "../../variables/a11y" as a11yVars;
@use "../../tools/a11y";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-skip-link {
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;

  display: block !important;

  overflow: hidden !important;

  position: absolute !important;
  left: -100vw;

  white-space: nowrap !important;

  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;

  &,
  &:link,
  &:visited {
    @include colour.colour-font("button-text", $important: true);
  }

  &:focus {
    @include colour.colour-background("button-background", $important: true);

    @include colour.colour-border(
      "focus-outline",
      a11yVars.$focus-outline-width,
      $important: true
    );
    outline: none !important;
  }

  &:active,
  &:focus {
    width: auto !important;
    height: auto !important;
    margin: inherit !important;
    padding: spacing.space(1) !important;

    overflow: visible !important;

    position: static !important;

    white-space: inherit !important;

    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;

    &:hover {
      @include colour.colour-font("button-hover-text", $important: true);

      @include colour.colour-background(
        "button-hover-background",
        $important: true
      );
    }
  }
}
