{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- set classes = containerClasses | join(' ') -%}
<a href="#{{ params.href if params.href else 'main-content' }}" class="tna-skip-link{% if classes %} {{ classes }}{% endif %}" data-module="tna-skip-link"{% for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  {{ params.text if params.text else 'Skip to main content' }}
</a>
