@use "sass:math";
@use "../../variables/grid" as gridVars;
@use "../../tools/grid";
@use "../../tools/media";

.tna-container {
  width: 100%;
  max-width: gridVars.$largest-container-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: grid.gutter-width-half();
  padding-left: grid.gutter-width-half();

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  box-sizing: border-box;

  &--no-padding,
  &--no-padding-all {
    max-width: gridVars.$largest-container-width - grid.gutter-width-double();
  }

  &--max {
    max-width: none;
  }

  &--centred {
    justify-content: center;
  }
}

.tna-column {
  padding-right: grid.gutter-width-half();
  padding-left: grid.gutter-width-half();

  box-sizing: border-box;

  &--container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
  }

  &--align-top {
    align-self: flex-start;
  }

  &--align-centre {
    align-self: center;
  }

  &--align-bottom {
    align-self: flex-end;
  }
}

@include grid.columns-generator(gridVars.$column-count);

@include media.on-medium {
  @include grid.columns-generator(gridVars.$column-count-medium, "medium");
}

@include media.on-tiny {
  .tna-container {
    padding-right: grid.gutter-width-tiny-half();
    padding-left: grid.gutter-width-tiny-half();
  }

  .tna-column {
    padding-right: grid.gutter-width-tiny-half();
    padding-left: grid.gutter-width-tiny-half();
  }
}

@include media.on-small {
  @include grid.columns-generator(gridVars.$column-count-small, "small");
}

@include media.on-tiny {
  @include grid.columns-generator(gridVars.$column-count-tiny, "tiny");
}

.tna-container--no-padding,
.tna-container--no-padding-all,
.tna-container--no-padding-all > .tna-column,
.tna-column--no-padding,
.tna-column--container--no-padding-all,
.tna-column--container--no-padding-all > .tna-column {
  padding-right: 0;
  padding-left: 0;
}
