@use "../../variables/borders" as bordersVars;
@use "../../tools/a11y";
@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/grid";
@use "../../tools/media";
@use "../../tools/shadows";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-picture {
  @include spacing.space-above;
  margin-block-end: 0;
  margin-inline: 0;
  padding: 0;

  &__image-wrapper {
    padding: spacing.space(1.5);

    position: relative;

    @include borders.rounded-border;
  }

  &__image-wrapper:has(+ #{&}__transcript:not([hidden])) {
    border-radius: bordersVars.$rounded-border-radius
      bordersVars.$rounded-border-radius 0 0;
  }

  &__image {
    inline-size: auto;
    block-size: auto;
    max-block-size: 50rem;
    margin: 0 auto;

    @include shadows.drop-shadow;

    @include colour.image-loader-background;
  }

  &__toggle-transcript {
    position: absolute;
    inset-inline-end: spacing.space(1);
    inset-block-end: spacing.space(1);
  }

  &__transcript {
    @include colour.contrast;

    max-block-size: 25rem;

    padding: spacing.space(1.5);

    overflow: auto;

    border-radius: 0 0 bordersVars.$rounded-border-radius
      bordersVars.$rounded-border-radius;
  }

  &__caption {
    margin: 0 spacing.space(1);
    padding: spacing.space(1);

    @include typography.font-size(16);

    @include colour.colour-border("keyline", 1px, solid, block-end);
  }

  &--plain &__image-wrapper {
    padding: 0;
  }

  &--plain &__image {
    box-shadow: none;
  }

  .tna-tabs--small .tna-tabs__button-inner {
    background: transparent;
  }

  @include media.on-tiny {
    &__image-wrapper {
      padding: 0;
    }

    .tna-column & {
      inline-size: calc(100% + #{grid.gutter-width-tiny-double()});

      position: relative;

      inset-inline-start: -#{grid.gutter-width-tiny()};
    }

    &__image {
      max-block-size: 60rem;

      box-shadow: none;
    }

    &__caption {
      margin-inline: 0;

      @include typography.font-size(14);
    }
  }

  @include colour.on-high-contrast-and-forced-colours {
    @include colour.colour-border("keyline-dark", 1px);

    &__caption {
      margin: 0;

      border: none;
    }
  }
}
