@use "../../tools/a11y";
@use "../../tools/colour";
@use "../../tools/grid";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-picture {
  @include spacing.space-above;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  &__image-wrapper {
    padding: spacing.space(1.5);

    position: relative;
  }

  &__image {
    width: auto;
    height: auto;
    max-height: 40rem;
    margin: 0 auto;

    box-shadow:
      0 0.25rem 1rem -0.25rem rgb(0 0 0 / 25%),
      0 0.125rem 0.5rem -0.25rem rgb(0 0 0 / 75%);
  }

  &__toggle-transcript {
    position: absolute;
    right: spacing.space(1);
    bottom: spacing.space(1);
  }

  &__transcript {
    @include colour.contrast;

    padding: spacing.space(1.5);

    @include a11y.no-focus-outline-on-click;
  }

  &__caption {
    margin: 0 spacing.space(1);
    padding: spacing.space(1);

    @include typography.font-size(16);

    @include colour.colour-border("keyline", 1px, solid, bottom);
  }

  &--plain &__image-wrapper {
    padding: 0;
  }

  &--plain &__image {
    box-shadow: none;
  }

  @include media.on-tiny {
    &__image-wrapper {
      padding: 0;
    }
  }

  @include media.on-tiny {
    .tna-column & {
      width: calc(100% + #{grid.gutter-width-tiny-double()});

      position: relative;
      left: -#{grid.gutter-width-tiny()};
    }

    &__image {
      max-height: 60rem;
    }

    &__caption {
      margin-right: 0;
      margin-left: 0;

      @include typography.font-size(14);
    }
  }

  @include colour.on-high-contrast-and-forced-colours {
    @include colour.colour-border("keyline-dark", 1px);

    &__caption {
      margin: 0;

      border: none;
    }
  }
}
