{% from "nationalarchives/components/tabs/macro.njk" import tnaTabs %}

{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- set classes = containerClasses | join(' ') -%}
<figure class="tna-picture{% if classes %} {{ classes }}{% endif %}" data-module="tna-picture"{% if params.informationLabelOpen %} data-informationlabelopen="{{ params.informationLabelOpen }}"{% endif %}{% if params.informationLabelClose %} data-informationlabelclose="{{ params.informationLabelClose }}"{% endif %}{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="tna-picture__image-wrapper tna-background-tint">
    <picture>
    {%- for source in params.sources %}
      <source class="tna-picture__image" srcset="{{ source.src }}" type="{{ source.type }}" width="{{ source.width if source.width else params.width }}" height="{{ source.height if source.height else params.height }}"{%- if source.media %} media="{{ source.media }}"{% endif %}>
    {%- endfor %}
      <img class="tna-picture__image" width="{{ params.width }}" height="{{ params.height }}" src="{{ params.src }}" alt="{{ params.alt }}" loading="lazy">
    </picture>
  </div>
{%- if params.information %}
  <div class="tna-picture__transcript">
  {%- if params.information | length > 1 %}
    {{ tnaTabs({
      items: params.information
    }) }}
  {%- else %}
    {{ params.information[0]['body'] | safe }}
  {%- endif %}
  </div>
{%- endif %}
{%- if params.caption %}
  <figcaption class="tna-picture__caption">
      {{ params.caption | safe }}
  </figcaption>
{%- endif %}
</figure>
