@use "../../tools/a11y";
@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-error-summary {
  @include spacing.space-above;
  padding: spacing.space(1);

  @include colour.colour-background("background");

  @include colour.colour-border("form-error-border", 0.3125rem, solid);
  @include borders.rounded-border;

  &:focus {
    @include a11y.focus-outline;
  }

  &__list {
    margin: spacing.space(0.5) 0 0;

    list-style: none;
  }

  &__item {
  }

  &__link {
    @include typography.main-font-weight-bold;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("form-error-text");
    }
  }
}
