{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- set classes = containerClasses | join(' ') -%}
<div class="tna-error-summary{% if classes %} {{ classes }}{% endif %}" data-module="tna-error-summary"{% for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}{%- if params.disableAutoFocus !== undefined %} data-disable-autofocus="{{ params.disableAutoFocus }}"{% endif %}>
  <div role="alert">
    <h{{ params.headingLevel }} class="tna-error-summary__heading tna-heading-m">
      {{ params.title }}
    </h{{ params.headingLevel }}>
    <ul class="tna-error-summary__list">
      {%- for item in params.items %}
      <li class="tna-error-summary__item">
        {%- if item.href %}
        <a href="{{ item.href }}" class="tna-error-summary__link">{{ item.text }}</a>
        {%- else %}
        <span class="tna-error-summary__link">{{ item.text }}</span>
        {%- endif %}
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>
