@use "../../variables/colour" as colourVars;

.tna-featured-collection {
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: colourVars.$tna-cream;

  .tna-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
