@use "../../tools/colour";
@use "../../variables/colour" as colourVars;

.tna-card {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    order: 2;
  }

  &__supertitle {
  }

  &__title {
    order: 2;
  }

  &__title-link {
  }

  &__image-container {
    margin-bottom: 1rem;

    position: relative;
    order: 1;
  }

  &__image {
    height: auto;
  }

  &__image-label {
    padding: 0 0.5rem;

    position: absolute;
    top: 1rem;
    left: 0;

    text-transform: uppercase;

    background-color: colourVars.$tna-yellow;
  }

  &__body {
    // margin-top: 2rem;

    order: 3;
  }

  &__actions {
    margin-top: 2rem;

    order: 4;
  }

  &__action {
  }

  &--featured {
    @include colour.fixed;

    position: relative;

    @include colour.colour-font("font-base");

    // background-color: colour.$tna-yellow;
    @include colour.colour-background("accent");

    .tna-card__inner {
      margin-left: 50%;
      padding: 2rem;
    }

    .tna-card__heading {
      padding-bottom: 2rem;

      border-bottom: 2px transparent solid;
      @include colour.colour-border("keyline-dark");
    }

    .tna-card__supertitle {
      color: inherit;
    }

    .tna-card__title-link {
      @include colour.colour-font("font-dark");
    }

    .tna-card__image-container {
      margin-bottom: 0;

      display: block;

      position: absolute;
      inset: 0 50% 0 0;
    }

    .tna-card__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include colour.on-high-contrast {
    padding: 1rem;

    border: 1px transparent solid;
    @include colour.colour-border("keyline-dark");
  }
}
