@use "sass:math";
@use "../../tools/colour";
@use "../../tools/typography";
@use "../../tools/media";

.tna-card {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    order: 2;
  }

  &__supertitle {
  }

  &__title {
    order: 2;

    @include typography.main-font;
    @include typography.main-font-weight-bold;
  }

  &__title-link {
  }

  &__image-container {
    height: 0;
    margin-bottom: 1rem;
    // padding-bottom: #{math.div(9, 16) * 100%};
    padding-bottom: #{math.div(2, 3) * 100%};

    position: relative;
    order: 1;
  }

  &__image {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;

    object-fit: cover;
  }

  &__image-label {
    max-width: calc(100% - 1rem);

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &__body {
    order: 3;
  }

  &__actions {
    margin-top: 2rem;

    order: 4;
  }

  &__action {
  }

  &--horizontal {
    @include colour.accent;

    position: relative;

    // @include colour.colour-font("font-base");

    // @include colour.colour-background("accent");

    .tna-card__heading {
      // padding-bottom: 2rem;

      // @include colour.colour-border("keyline-dark", 2px, solid, bottom);
    }

    .tna-card__supertitle {
      // color: inherit;
    }

    .tna-card__title {
      // @include typography.heading-font;
    }

    .tna-card__title-link {
      // @include colour.colour-font("font-dark");
    }

    @include media.on-larger-than-mobile {
      .tna-card__inner {
        margin-left: 50%;
        padding: 2rem;
      }

      .tna-card__image-container {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 0;

        display: block;

        position: absolute;
        inset: 0 50% 0 0;
      }
    }

    @include media.on-mobile {
      .tna-card__inner {
        padding: 0 0 2rem;
      }

      .tna-card__image-container {
        margin-bottom: 2rem;
      }

      .tna-card__heading,
      .tna-card__body,
      .tna-card__actions {
        margin-right: 2rem;
        margin-left: 2rem;
      }
    }
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);

    .tna-card__inner {
      padding-bottom: 1rem;
    }

    .tna-card__heading,
    .tna-card__body,
    .tna-card__actions {
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }
}
