@use "sass:math";
@use "../../tools/colour";
@use "../../tools/typography";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../utilities";
@use "../button";

.tna-card {
  @include spacing.space-below;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    order: 2;

    &--has-highlight {
      max-width: calc(100% - 5.125rem);
    }
  }

  &__heading-link {
    &::after {
      display: none !important;
    }
  }

  &__image-container {
    height: 0;
    margin-bottom: 1rem;
    // padding-bottom: #{math.div(9, 16) * 100%};
    padding-bottom: #{math.div(2, 3) * 100%};

    position: relative;
    order: 1;
  }

  &__image {
    position: absolute;
    inset: 0;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__image-label {
    max-width: calc(100% - 1rem);

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &__body {
    order: 3;
  }

  &__meta {
    margin-bottom: 1rem;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;

    line-height: 1.3;

    list-style: none;

    &-item {
      display: flex;
      align-items: center;

      @include typography.detail-font-small;

      .fa-solid {
        margin-right: 0.75rem;

        @include colour.colour-font("icon-light");
      }
    }
  }

  &__tags {
    display: flex;
    align-self: flex-start;
    list-style-type: none;
    flex-basis: 50%;
    border: 2px solid colour.brand-colour("pastel-pink");
    padding: 0;
    order: 2;
  }

  &__tag {
    @include typography.relative-font-size(14);
    @include typography.detail-font;
    text-transform: uppercase;
    padding: 0 0.4rem;

    &--event-type {
      @include colour.fixed;
      background-color: colour.brand-colour("pastel-pink");
    }
  }

  &__actions {
    margin-top: 2rem;

    order: 4;
  }

  &__action {
    @include typography.main-font-weight-bold;

    .fa-solid,
    .fa-brands {
      margin-right: 0.5rem;
    }
  }

  &__highlight {
    @include typography.relative-font-size(14);
    @include colour.fixed;
    z-index: 1;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    align-self: flex-end;
    position: absolute;
    right: 1.14rem;
    top: 1.14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @include media.on-larger-than-mobile {
      right: 0;
      top: auto;
    }

    &--yellow {
      background-color: colour.brand-colour("pastel-orange");
    }

    &--blue {
      background-color: colour.brand-colour("pastel-blue");
    }
  }

  &--contrast,
  &--accent {
    .tna-card__inner {
      padding-bottom: 1rem;
    }

    .tna-card__heading,
    .tna-card__body,
    .tna-card__actions {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

  &--contrast {
    @include colour.invert;
  }

  &--accent {
    @include colour.accent;

    .tna-hgroup__supertitle {
      @include colour.invert;

      @include colour.colour-border("contrast-background");
    }
  }

  &--horizontal {
    position: relative;

    @include media.on-larger-than-mobile {
      .tna-card__inner {
        margin-left: 50%;
        padding: 2rem;
      }

      .tna-card__image-container {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 0;

        display: block;

        position: absolute;
        inset: 0 50% 0 0;
      }

      .tna-card__heading,
      .tna-card__body,
      .tna-card__actions {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &--horizontal-thirds {
    @include media.on-larger-than-mobile {
      .tna-card__inner {
        margin-left: 33.33%;
      }

      .tna-card__image-container {
        inset: 0 66.66% 0 0;
      }
    }
  }

  &--horizontal#{&}--contrast,
  &--horizontal#{&}--accent {
    @include media.on-mobile {
      .tna-card__inner {
        padding: 0 0 1rem;
      }

      .tna-card__image-container {
        margin-bottom: 1rem;
      }

      .tna-card__heading,
      .tna-card__body,
      .tna-card__actions {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  &:not(#{&}--horizontal) {
    @include colour.on-high-contrast {
      .tna-card__inner {
        padding-bottom: 1rem;
      }

      .tna-card__heading,
      .tna-card__body,
      .tna-card__actions {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  &--event {
    .tna-card__inner {
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      @include media.on-larger-than-mobile {
        padding: 1rem 2rem 1rem 2.5rem;
      }
    }

    .tna-card__image-container {
      margin-left: -1.5rem;
      margin-right: -1.5rem;

      @include media.on-larger-than-mobile {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .tna-card__heading {
      margin-top: 0;
      margin-bottom: 0.75rem;

      @include media.on-larger-than-mobile {
        @include typography.relative-font-size(30);
      }
    }

    .tna-card__heading-link {
      @include colour.colour-font("font-dark");
    }

    .tna-card__body {
      @include typography.relative-font-size(16);
      line-height: 1.5;
    }

    .tna-card__meta {
      .fa-solid {
        @include colour.fixed;
        @include colour.colour-font("keyline");
        @include typography.relative-font-size(24);
      }
    }
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);

    &__meta {
      &-item {
        padding-right: 0.5rem;

        @include colour.colour-border("keyline-dark", 1px, solid);

        .fa-solid {
          margin-right: 0.5rem;
          padding: 0.5rem;

          @include colour.colour-font("contrast-font-base");

          @include colour.colour-background("contrast-background");

          @include colour.colour-border("keyline-dark", 1px, solid, right);
        }
      }
    }
  }
}
