@use "sass:math";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-card {
  @include spacing.space-above;

  display: grid;
  grid-auto-columns: 1fr;
  gap: spacing.space(1);

  position: relative;

  &:not(:has(&__image-container)) {
    @include colour.thick-keyline-dark(top);
  }

  &__heading {
    order: 2;
  }

  &--full-click &__heading-link {
    &::before {
      content: "";

      position: absolute;
      inset: 0;
      z-index: 3;
    }
  }

  &__image-container {
    aspect-ratio: 3/2;

    order: 1;

    position: relative;

    @include colour.image-loader-background;
  }

  &__image {
    position: absolute;
    inset: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__image-label {
    position: absolute;
    top: spacing.space(0.5);
    left: spacing.space(0.5);
    z-index: 2;
  }

  &__body {
    order: 3;

    p {
      margin-top: spacing.space(1);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__actions {
    // padding-top: spacing.space(1);

    display: flex;
    gap: spacing.space(1) spacing.space(2);

    order: 4;
  }

  &__action {
    @include typography.main-font-weight-bold;
  }

  &.tna-background-tint,
  &.tna-background-contrast,
  &.tna-background-accent {
    padding-bottom: spacing.space(1);
  }

  &.tna-background-tint &__heading,
  &.tna-background-contrast &__heading,
  &.tna-background-accent &__heading,
  &.tna-background-tint &__body,
  &.tna-background-contrast &__body,
  &.tna-background-accent &__body,
  &.tna-background-tint &__actions,
  &.tna-background-contrast &__actions,
  &.tna-background-accent &__actions {
    padding-right: spacing.space(1);
    padding-left: spacing.space(1);
  }

  @include media.on-larger-than-mobile {
    &#{&}--horizontal {
      padding-bottom: 0;

      grid-template: min-content min-content 1fr / 50% 50%;
      grid-template-areas:
        "image header"
        "image body"
        "image footer";
      gap: 0;

      > * + * {
        margin-top: spacing.space(1);
      }

      > :first-child {
        padding-top: spacing.space(2);
      }

      > :last-child {
        padding-bottom: spacing.space(2);
      }
    }

    &#{&}--horizontal &__heading,
    &#{&}--horizontal &__body,
    &#{&}--horizontal &__actions {
      padding-right: spacing.space(2);
      padding-left: spacing.space(2);
    }

    &#{&}--horizontal &__heading {
      grid-area: header;
    }

    &--horizontal &__image-container {
      width: 100%;
      height: 100%;
      margin-top: 0;

      grid-area: image;
    }

    &#{&}--horizontal &__body {
      grid-area: body;
    }
    &#{&}--horizontal &__actions {
      grid-area: footer;
    }
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);
  }
}
