@use "sass:math";
@use "../../tools/colour";
@use "../../tools/typography";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../utilities";
@use "../button";

.tna-card {
  @include spacing.space-below;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    order: 2;
  }

  &__heading-link {
    &::after {
      display: none !important;
    }
  }

  &__image-container {
    height: 0;
    margin-bottom: 1rem;
    // padding-bottom: #{math.div(9, 16) * 100%};
    padding-bottom: #{math.div(2, 3) * 100%};

    position: relative;
    order: 1;
  }

  &__image {
    position: absolute;
    inset: 0;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__image-label {
    max-width: calc(100% - 1rem);

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &__body {
    order: 3;

    &-meta {
      margin-bottom: 0.5rem;

      line-height: 1.3;
    }
  }

  &__actions {
    margin-top: 2rem;

    order: 4;
  }

  &__action {
    @include typography.main-font-weight-bold;

    .fa,
    .fa-regular,
    .fa-solid,
    .fa-brands {
      margin-right: 0.5rem;
    }
  }

  &--contrast,
  &--accent {
    .tna-card__inner {
      padding-bottom: 1rem;
    }

    .tna-card__heading,
    .tna-card__body,
    .tna-card__actions {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

  &--contrast {
    @include colour.invert;
  }

  &--accent {
    @include colour.accent;

    .tna-hgroup__supertitle {
      @include colour.invert;
    }
  }

  &--horizontal {
    position: relative;

    @include media.on-larger-than-mobile {
      .tna-card__inner {
        margin-left: 50%;
        padding: 2rem;
      }

      .tna-card__image-container {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 0;

        display: block;

        position: absolute;
        inset: 0 50% 0 0;
      }

      .tna-card__heading,
      .tna-card__body,
      .tna-card__actions {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &--horizontal#{&}--contrast,
  &--horizontal#{&}--accent {
    @include media.on-mobile {
      .tna-card__inner {
        padding: 0 0 1rem;
      }

      .tna-card__image-container {
        margin-bottom: 1rem;
      }

      .tna-card__heading,
      .tna-card__body,
      .tna-card__actions {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  &:not(#{&}--horizontal) {
    @include colour.on-high-contrast {
      .tna-card__inner {
        padding-bottom: 1rem;
      }

      .tna-card__heading,
      .tna-card__body,
      .tna-card__actions {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);
  }
}
