{%- set htmlElement = params.htmlElement if params.htmlElement else 'div' -%}
{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.horizontal -%}
  {%- set containerClasses = containerClasses.concat('tna-card--horizontal') -%}
{%- endif -%}
{%- if params.style == "boxed" -%}
  {%- set containerClasses = containerClasses.concat('tna-card--contrast') -%}
{%- elseif params.style == "accent" -%}
  {%- set containerClasses = containerClasses.concat('tna-card--accent') -%}
{%- endif -%}
<{{ htmlElement }} class="tna-card {{ containerClasses | join(' ') }}" data-module="tna-card" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="tna-card__inner">
  {%- if params.heading.supertitle -%}
    {%- if params.heading.singleSentence -%}
      <hgroup class="tna-card__heading tna-hgroup tna-hgroup--{{ params.heading.size or 'l' }}">
        <h{{ params.heading.level }} class="tna-card__title tna-hgroup__title">
          <span class="tna-card__supertitle tna-hgroup__supertitle">{{ params.heading.supertitle }}</span>
        {%- if params.href -%}
          <a href="{{ params.href }}" class="tna-card__title-link">{{ params.heading.title }}</a>
        {%- else -%}
          {{ params.heading.title }}
        {%- endif -%}
        </h{{ params.heading.level }}>
      </hgroup>
    {%- else -%}
      <hgroup class="tna-card__heading tna-hgroup tna-hgroup--{{ params.heading.size or 'l' }}">
        <p class="tna-card__supertitle tna-hgroup__supertitle">{{ params.heading.supertitle }}</p>
        <h{{ params.heading.level }} class="tna-card__title tna-hgroup__title">
        {%- if params.href -%}
          <a href="{{ params.href }}" class="tna-card__title-link">{{ params.heading.title }}</a>
        {%- else -%}
          {{ params.heading.title }}
        {%- endif -%}
        </h{{ params.heading.level }}>
      </hgroup>
    {%- endif -%}
  {%- else -%}
    <h{{ params.heading.level }} class="tna-card__title tna-heading tna-heading--{{ params.heading.size or 'l' }}">
    {%- if params.href -%}
      <a href="{{ params.href }}" class="tna-card__title-link">{{ params.heading.title }}</a>
    {%- else -%}
      {{ params.heading.title }}
    {%- endif -%}
    </h{{ params.heading.level }}>
  {%- endif -%}
  {%- if params.image -%}
    {%- if params.href -%}
    <a href="{{ params.href }}" class="tna-card__image-container" tabindex="-1">
    {%- else -%}
    <div class="tna-card__image-container">
    {%- endif -%}
      <img src="{{ params.image.src }}" alt="{{ params.image.alt }}" width="{{ params.image.width }}" height="{{ params.image.height }}" class="tna-card__image" />
      {%- if params.label -%}
      <div class="tna-chip tna-card__image-label">
        {{ params.label }}
      </div>
      {%- endif -%}
    {%- if params.href -%}
    </a>
    {%- else -%}
    </div>
    {%- endif -%}
  {%- endif -%}
    <div class="tna-card__body">
    {%- if params.text -%}
      <p>{{ params.text }}</p>
    {%- else -%}
      {{ params.body | safe }}
    {%- endif -%}
    </div>
  {%- if params.actions -%}
    <div class="tna-card__actions">
    {%- for item in params.actions -%}
      <a href="{{ item.href }}" class="tna-card__action" role="button" {%- if item.title %}title="{{ item.title }}"{% endif %}>
        {%- if item.brandIcon -%}
        <i class="fa-brands fa-{{ item.brandIcon }}"></i>
        {%- elseif item.icon -%}
        <i class="fa-solid fa-{{ item.icon }}"></i>
        {%- endif -%}
        {{ item.text }}
      </a>
    {%- endfor -%}
    </div>
  {%- endif -%}
  </div>
</{{ htmlElement }}>
