@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-files {
  @include spacing.space-above;
  padding: spacing.space(1);

  display: flex;
  align-items: flex-start;
  gap: spacing.space(1);

  @include colour.tint;

  &__icon {
    width: 3rem;

    @include colour.colour-fill("font-dark");
  }

  &__items {
    margin: 0;
    padding: 0 0 spacing.space(1) spacing.space(1);

    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: spacing.space(1) spacing.space(3);
    flex: 1;

    list-style: none;

    @include colour.colour-border("keyline", 0, solid);
    border-left-width: 1px;
  }

  &__item {
    // width: 100%;

    // @include media.on-large {
    //   width: calc(50% - spacing.space(1.5));
    // }
  }

  &__link {
  }

  &__item-title {
    @include typography.main-font-weight-bold;
  }

  &__item-meta {
    margin-top: 0;
  }

  &__item-description {
    margin-top: spacing.space(0.25);

    @include typography.font-size(16);
  }

  @include media.on-tiny {
    flex-direction: column;
    align-items: stretch;

    &__icon {
      width: 2rem;
    }

    &__items {
      padding-top: spacing.space(1);
      padding-left: 0;

      border-left: none;

      border-top-width: 1px;
    }
  }
}
