@use "sass:math";

@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-search-filters {
  @include spacing.space-above;

  &__title {
  }

  &__update {
    display: block;
  }

  .tna-heading-s {
    margin: 0;
    padding: 0;
  }

  &__fieldset {
    border: none;
  }

  &__legend {
    width: 100%;
  }

  &__heading-inner,
  &__item-toggle {
    padding: spacing.space(0.5) spacing.space(0.75);

    @include colour.colour-border("keyline", 1px, solid);
    border-bottom-width: 0;
  }

  &__heading-inner {
    margin-top: spacing.space(1);
    padding: spacing.space(0.5) spacing.space(0.75);
  }

  &__item-toggle {
    width: 100%;
    margin: 0;
    padding-right: spacing.space(2.5);

    display: block;

    position: relative;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;

    background: none;

    cursor: pointer;

    &::before {
      content: "";

      width: 0;
      height: 0;

      position: absolute;
      top: calc(50% - #{math.div(math.sqrt(3), 4)}rem);
      right: spacing.space(0.75);

      border-width: #{math.div(math.sqrt(3), 2)}rem 0.5rem 0 0.5rem;
      border-color: colour.colour-var("font-light") transparent transparent
        transparent;
      border-style: solid;
    }

    &:hover,
    &:active {
      @include typography.interacted-text-decoration;

      background: none;

      &::before {
        border-top-color: colour.colour-var("font-dark");
      }
    }

    &[aria-expanded="true"] {
      &::before {
        top: calc(50% - #{math.div(math.sqrt(3), 4)}rem);

        border-width: 0 0.5rem #{math.div(math.sqrt(3), 2)}rem 0.5rem;
        border-color: transparent transparent colour.colour-var("font-light")
          transparent;
      }

      &:hover {
        &::before {
          border-bottom-color: colour.colour-var("font-dark");
        }
      }
    }
  }

  &__item-toggle-label {
  }

  &__item-toggle-info {
    display: block;

    @include typography.main-font-weight;
    @include typography.relative-font-size(14);
  }

  &__item {
    padding: spacing.space(0.75);

    @include colour.tint;

    @include colour.colour-border("keyline", 1px);
    border-width: 0 1px 1px;
  }

  &__hint {
    margin-bottom: spacing.space(0.75);

    @include typography.relative-font-size(16);
    @include colour.colour-font("font-light");
  }

  &__inline-fields {
    display: flex;
    flex-wrap: wrap;
    gap: spacing.space(0.5) spacing.space(2);
  }

  &__label {
    display: block;
  }

  &__footer {
    padding: spacing.space(0.75);

    display: none;

    @include colour.colour-border("keyline", 1px);
  }

  &--js-enabled &__title {
    margin-bottom: spacing.space(1);
  }

  &--js-enabled &__footer {
    display: block;
  }

  &--js-enabled &__item {
    border-bottom: none;
  }

  &--js-enabled &__update-item {
    display: none;
  }

  &__fieldset[data-type="multiple"] &__item {
    max-height: 15rem;

    overflow: auto;
  }
}
