@use "sass:math";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";
// @use "../../utilities";

.tna-pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include spacing.space-above;

  &--spaced {
    justify-content: space-between;
  }

  &__prev {
  }

  &__next {
  }

  &__link {
    min-width: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  &__icon {
    display: inline-block;

    path {
      fill: currentColor;
    }

    &--prev {
      margin-left: 0.5rem;
    }

    &--next {
      margin-right: 0.5rem;
    }
  }

  &__link-title {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  &__list {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    list-style: none;
  }

  &__item {
    &--ellipses {
      min-width: 2rem;
      padding: 0.5rem;

      text-align: center;
    }

    &--current {
    }
  }

  &__item--current &__link {
    .tna-background-accent & {
    }
  }

  &__current-item-text {
    margin-top: 0;
  }

  @include media.on-mobile {
    flex-direction: column;
  }

  @include media.on-tiny {
    &__item {
      display: none;

      &:first-child,
      &:last-child,
      &--current,
      &--ellipses {
        display: block;
      }
    }
  }
}
