{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.spaced -%}
  {%- set containerClasses = containerClasses.concat('tna-pagination--spaced') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}
<nav class="tna-pagination{% if classes %} {{ classes }}{% endif %}" aria-label="{{ params.landmarkLabel if params.landmarkLabel else 'Pagination' }}" {%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  {% if params.previous -%}
  <div class="tna-pagination__prev">
    {{ tnaButton({
      text: params.previous.text if params.previous.text else "Previous",
      href: params.previous.href,
      title: params.previous.title,
      iconSvg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24" height="24"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>',
      plain: not params.solid,
      attributes: {
        rel: "prev"
      }
    }) }}
  </div>
  {% endif -%}
  {% if params.items -%}
  <ul class="tna-pagination__list">
    {% for item in params.items -%}
      {% if item.ellipsis -%}
      <li class="tna-pagination__item tna-pagination__item--ellipses">&ctdot;</li>
      {% else -%}
      <li class="tna-pagination__item{{ ' tna-pagination__item--current' if item.current }}">
        {{ tnaButton({
          text: item.number,
          href: item.href,
          title: "Page " + item.number,
          accent: params.solid and item.current,
          plain: not params.solid and not item.current,
          classes: "tna-pagination__link"
        }) }}
      </li>
      {% endif -%}
    {% endfor -%}
  </ul>
  {% elif params.currentItemText -%}
    <p class="tna-pagination__current-item-text">{{ params.currentItemText }}</p>
  {% endif -%}
  {% if params.next -%}
  <div class="tna-pagination__next">
    {{ tnaButton({
      text: params.next.text if params.next.text else "Next",
      href: params.next.href,
      title: params.next.title,
      iconSvg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24" height="24"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>',
      plain: not params.solid,
      classes: "tna-button--icon-right",
      attributes: {
        rel: "next"
      }
    }) }}
  </div>
  {% endif -%}
</nav>
