@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-panel {
  padding: spacing.space(2);

  @include colour.green-accent;
  @include colour.accent;

  text-align: center;

  &__heading {
  }

  &__content {
    margin-top: spacing.space(1);

    @include typography.font-size(22);

    p + p {
      margin-top: spacing.space(0.5);
    }
  }

  @include media.on-mobile {
    padding: spacing.space(1);

    &__content {
      @include typography.font-size(18);
    }
  }
}
