{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- set classes = containerClasses | join(' ') -%}
<div class="tna-panel{% if classes %} {{ classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <h{{ params.headingLevel or '1' }} class="tna-heading-{{ params.headingSize or 'xl' }} tna-panel__heading">
    {{ params.title }}
  </h{{ params.headingLevel or '1' }}>
  <div class="tna-panel__content">
    {%- if params.text %}
      <p>{{ params.text }}</p>
    {%- else %}
      {{ params.body | safe }}
    {%- endif %}
  </div>
</div>
