<div class="tna-fieldset{% if params.smallerHint %} tna-fieldset--small-hint{% endif %}{% if params.error %} tna-fieldset--error{% endif %}{% if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <fieldset class="tna-fieldset__inner"{%- if params.hint or params.error %} aria-describedby="{%- if params.hint -%}{{ params.id }}-hint{%- endif %} {% if params.error -%}{{ params.id }}-error{%- endif -%}"{%- endif %}>
    <legend class="tna-fieldset__legend">
      {%- if params.headingLevel %}
      <h{{ params.headingLevel }} class="tna-fieldset__heading tna-heading-{{ params.headingSize or 'm' }}">
        {{ params.legend }}
      </h{{ params.headingLevel }}>
      {%- else %}
      <span class="tna-fieldset__heading tna-heading-{{ params.headingSize or 'm' }}">
        {{ params.legend }}
      </span>
      {%- endif %}
    </legend>
    {%- if params.hint %}
    <p id="{{ params.id }}-hint" class="tna-fieldset__hint">
      {{ params.hint | safe }}
    </p>
    {%- endif %}
    {%- if params.error %}
    <p id="{{ params.id }}-error" class="tna-fieldset__error">
      <span class="tna-!--visually-hidden">Error:</span> {{ params.error.text }}
    </p>
    {%- endif %}
    <div class="tna-fieldset__body">
      {{ caller() if caller else (params.html | safe) }}
    </div>
  </fieldset>
</div>
