{%- set containerClasses = [params.classes] if params.classes else [] -%}
<div class="tna-gallery {{ containerClasses | join(' ') }}" data-module="tna-gallery" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="tna-container">
    <div class="tna-column tna-column--full tna-gallery__items">
      {%- for item in params.items -%}
      <figure class="tna-gallery__item">
        <p class="tna-gallery__item-index">Image {{ loop.index }} of {{ params.items|length }}</p>
        <img src="{{ item.src }}" class="tna-gallery__item-image" alt="{{ item.alt }}" width="{{ item.width }}" height="{{ item.height }}" />
        <figcaption class="tna-gallery__item-description">
          <p>{{ item.description }}</p>
        </figcaption>
      </figure>
      {%- endfor -%}
    </div>
  </div>
</div>
