@use "../../variables/forms";
@use "../../tools/colour";
@use "../../tools/spacing";

.tna-search-field {
  @include spacing.space-above;

  &__fields {
    display: flex;
    align-self: stretch;
  }

  &__input {
    min-width: 8rem;
    padding: 0 spacing.space(0.375);

    display: block;
    flex: 1;

    @include colour.light;
    @include colour.colour-font("input-foreground");
    font-size: inherit;
    line-height: 2rem;

    @include colour.colour-background("input-background");

    @include colour.colour-border("input-border");
    border-width: forms.$form-field-border-width 0
      forms.$form-field-border-width forms.$form-field-border-width;
    border-style: solid;
    border-radius: 0.1px;

    .tna-template--dark-theme &,
    .tna-background-contrast &/*,
    .tna-background-accent &*/ {
      margin-right: forms.$form-field-border-width;

      border-width: 0;
    }

    .tna-template--dark-theme .tna-background-accent &,
    .tna-template--dark-theme .tna-background-accent-light & {
      margin-right: 0;

      border-width: forms.$form-field-border-width;
    }

    @include colour.on-high-contrast {
      .tna-template--light-theme .tna-background-contrast & {
        margin-right: 0;

        border-width: forms.$form-field-border-width;
      }
    }
  }

  &__button {
  }
}
