@use "../../variables/forms";
@use "../../tools/colour";
@use "../../utilities";

.tna-search-field {
  &__fields {
    display: flex;
    align-self: stretch;
  }

  &__input {
    padding: 0 0.375rem;

    display: block;
    flex: 1;

    @include colour.light;
    @include colour.colour-font("input-foreground");
    font-size: inherit;
    line-height: 2rem;

    @include colour.colour-background("input-background");

    @include colour.colour-border("input-border");
    border-width: forms.$form-field-border-width 0
      forms.$form-field-border-width forms.$form-field-border-width;
    border-radius: 0;

    .tna-template--dark-theme &,
    .tna-background-contrast & {
      margin-right: forms.$form-field-border-width;

      border-width: 0;
    }

    .tna-template--dark-theme .tna-background-accent &,
    .tna-template--dark-theme .tna-background-accent-light &,
    .tna-template--light-theme.tna-template--high-contrast-theme
      .tna-background-contrast
      & {
      margin-right: 0;

      border-width: forms.$form-field-border-width;
    }
  }

  &__button {
  }
}
