@use "../../variables/borders" as bordersVars;
@use "../../variables/forms";
@use "../../tools/colour";
@use "../../tools/spacing";

.tna-search-field {
  align-self: stretch;

  display: flex;

  &__input {
    min-width: 8rem;
    width: 0;
    padding: 0 spacing.space(0.375);

    display: block;

    line-height: 2rem;

    border-width: forms.$form-field-border-width 0
      forms.$form-field-border-width forms.$form-field-border-width;
    border-style: solid;
    border-radius: bordersVars.$rounded-border-radius 0.1px 0.1px
      bordersVars.$rounded-border-radius;

    flex: 1;

    @include colour.always-light;
    @include colour.colour-font("input-foreground");

    @include colour.colour-background("input-background");

    @include colour.colour-border("input-border");

    .tna-template--dark-theme &,
    .tna-background-contrast & {
      margin-right: forms.$form-field-border-width;

      border-width: 0;
    }

    .tna-template--dark-theme .tna-background-accent-light & {
      margin-right: 0;

      border-width: forms.$form-field-border-width;
    }

    @media (prefers-color-scheme: dark) {
      .tna-template--system-theme & {
        margin-right: forms.$form-field-border-width;

        border-width: 0;
      }

      .tna-background-accent-light & {
        margin-right: 0;

        border-width: forms.$form-field-border-width;
      }
    }

    @include colour.on-high-contrast {
      .tna-background-contrast & {
        margin-right: 0;

        border-width: forms.$form-field-border-width;
      }
    }
  }

  &__button {
    border-radius: 0.1px bordersVars.$rounded-border-radius
      bordersVars.$rounded-border-radius 0.1px;
  }

  @include colour.on-forced-colours {
    &__input {
      border-width: forms.$form-field-border-width !important;
    }
  }
}
