@use "../../variables/forms";
@use "../../tools/colour";
@use "../../utilities";

.tna-search-field {
  &__fields {
    // margin-top: 1rem;

    display: flex;
    align-self: stretch;
  }

  &__input {
    padding: 0 0.375rem;

    display: block;
    flex: 1;

    @include colour.colour-font("input-foreground");
    font-size: inherit;
    line-height: 2rem;

    @include colour.colour-background("input-background");

    @include colour.colour-border(
      "input-border",
      forms.$form-field-border-width
    );
    border-radius: 0;
  }

  &__button {
  }
}
