{%- set containerClasses = [params.formGroupClasses] if params.formGroupClasses else [] -%}
{%- set inputClasses = [params.classes] if params.classes else [] -%}
{%- if params.inline -%}
  {%- set containerClasses = containerClasses.concat('tna-form__group--inline') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}
<div class="tna-form__group{% if params.error %} tna-form__group--error{% endif %}{% if classes %} {{ classes }}{% endif %}" {%- for attribute, value in params.formGroupAttributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <div class="tna-form__group-contents">
    <h{{ params.headingLevel }} class="tna-form__heading tna-form__heading--{{ params.headingSize or 'm' }}">
      <label class="tna-form__label" for="{{ params.id }}">
        {{ params.label }}
      </label>
    </h{{ params.headingLevel }}>
    {%- if params.hint %}
    <p id="{{ params.id }}-hint" class="tna-form__hint">
      {{ params.hint }}
    </p>
    {%- endif %}
    {%- if params.error %}
    <p id="{{ params.id }}-error" class="tna-form__error-message">
      <span class="tna-!--visually-hidden">Error:</span> {{ params.error.text }}
    </p>
    {%- endif %}
  </div>
  <select class="tna-select{% if params.size %} tna-select--{{ params.size }}{% endif %} {{ inputClasses | join(' ') }}" name="{{ params.name }}" id="{{ params.id }}"{% if params.hint %} aria-describedby="{{ params.id }}-hint"{% endif %} {%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
    {%- for item in params.items %}
    <option value="{{ item.value }}"{% if item.value === params.selected %} selected{% endif %}>{{ item.text }}</option>
    {%- endfor %}
  </select>
</div>
