@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";
// @use "../../utilities";

.tna-message {
  @include spacing.space-above;
  padding: 1rem;

  display: flex;
  gap: 1rem;
  align-items: flex-start;

  @include colour.accent-light;

  background-color: colour.brand-colour("cream");

  @include colour.colour-border("keyline-dark", 0.5rem, solid, left);
  border-left-color: colour.brand-colour("yellow");

  @include media.on-tiny {
    flex-direction: column;
    gap: 0.5rem;
  }

  &__heading {
    font-size: 0;
  }

  &__heading-icon {
    width: 2rem;
    height: 2rem;

    display: block;

    @include colour.colour-font("font-dark");
    @include typography.relative-font-size(24);
    @include typography.main-font-weight-bold;
    text-transform: lowercase;
    text-align: center;
    line-height: 2rem;

    @include colour.colour-border("font-dark", 0.1875rem);
    border-radius: 100%;

    @include media.on-mobile {
      width: 1.5rem;
      height: 1.5rem;

      @include typography.relative-font-size(19);
      line-height: 1.5rem;

      @include colour.colour-border("font-dark", 0.125rem);
    }
  }

  &__message {
    margin-top: 0;

    flex: 1;
  }
}
