{%- set containerClasses = [params.classes] if params.classes else [] -%}
<div class="tna-message {{ containerClasses | join(' ') }}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <h{{ params.headingLevel }} class="tna-message__heading">
    <span class="tna-message__heading-icon">I</span>mportant information
  </h{{ params.headingLevel }}>
  <div class="tna-message__message">
    {{ params.message | safe }}
  </div>
</div>
