@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-cookie-banner {
  padding-top: spacing.space(2);
  padding-bottom: spacing.space(2);

  @include media.on-tiny {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include typography.font-size(16);
  }

  &__message {
    &--prompt {
    }

    &--accepted {
    }

    &--rejected {
    }
  }
}
