@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-cookie-banner {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &--contrast {
    @include colour.contrast;
  }

  &--accent {
    @include colour.accent;
  }

  &--tint {
    @include colour.tint;
  }

  @include media.on-tiny {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include typography.relative-font-size(16);
  }

  &__message {
    &:focus {
      outline: none !important;
    }

    &--prompt {
    }

    &--accepted {
    }

    &--rejected {
    }
  }

  @include media.on-print {
    display: none;
  }
}
