@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";
@use "../../utilities";
@use "../button";
@use "../grid";

.tna-cookie-banner {
  @include colour.invert;

  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media.on-tiny {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include typography.relative-font-size(16);
  }

  &__message {
    &:focus {
      outline: none !important;
    }

    &--prompt {
    }

    &--accepted {
    }

    &--rejected {
    }
  }

  @include media.on-print {
    display: none;
  }
}
