@use "../../tools/colour";

.tna-logo {
  inline-size: 6rem;
  aspect-ratio: 1;

  display: block;

  color: var(--font-dark);

  svg {
    inline-size: 100%;
    block-size: 100%;
  }

  &__background {
    fill: transparent;
  }

  &__foreground {
    fill: currentColor;
  }

  &--solid &__background {
    fill: #fff;
  }

  &--solid &__foreground {
    fill: #010101;
  }
}
