@use "../../tools/media";

.tna-button-group {
  margin-bottom: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include media.on-tiny {
    flex-direction: column;
    align-items: stretch;
  }
}
