@use "../../tools/colour";

.tna-button {
  padding: 0.25rem 1rem;

  display: inline-block;

  font-weight: 700;
  text-decoration: none;
  text-align: center;

  @include colour.colour-background("button-primary-background");

  @include colour.colour-border("button-primary-background", 0.25rem);

  transition:
    color 200ms,
    background-color 200ms,
    border-color 200ms;

  cursor: pointer;

  &,
  &:link,
  &:visited {
    @include colour.colour-font("button-primary-text");
  }

  &:hover {
    // @include colour.colour-font("button-primary-hover-text");
    @include colour.colour-font("font-dark");

    // @include colour.colour-background("button-primary-hover-background");
    background: transparent;

    transition:
      color 50ms,
      background-color 50ms,
      border-color 50ms;
  }

  &-group {
    margin-bottom: 1rem;

    display: flex;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-group & {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &--accent {
    @include colour.colour-background("button-accent-background");

    @include colour.colour-border("button-accent-background");

    &,
    &:link,
    &:visited {
      @include colour.colour-font("button-accent-text");
    }

    &:hover {
      @include colour.colour-font("font-dark");
    }
  }

  &--solid-hover,
  .tna-background--accent &,
  .tna-background--accent-light & {
    &:hover {
      @include colour.colour-background("page-background");
    }
  }
}
