@use "../../variables/colour";

.tna-button {
  padding: 0.25rem 1rem;

  display: inline-block;

  color: #fff;
  font-weight: 700;
  text-decoration: none;

  background-color: colour.$tna-black;

  border: 0.25rem colour.$tna-black solid;

  transition:
    color 200ms,
    background-color 200ms,
    border-color 200ms;

  &:hover {
    color: colour.$tna-black;

    background-color: #fff;

    transition:
      color 50ms,
      background-color 50ms,
      border-color 50ms;
  }

  &--secondary {
    color: colour.$tna-black;

    background-color: colour.$tna-yellow;

    border-color: colour.$tna-yellow;

    &:hover {
      color: colour.$tna-black;

      border-color: colour.$tna-black;
    }
  }
}
