@use "../../variables/colour";

.tna-button {
  padding: 0.25rem 1rem;

  display: inline-block;

  font-weight: 700;
  text-decoration: none;

  @include colour.colour-background("button-primary-background");

  border: 0.25rem transparent solid;
  @include colour.colour-border("button-primary-background");

  transition:
    color 200ms,
    background-color 200ms,
    border-color 200ms;

  cursor: pointer;

  &,
  &:link,
  &:visited {
    @include colour.colour-font("button-primary-text");
  }

  &:hover {
    @include colour.colour-font("button-primary-hover-text");

    @include colour.colour-background("button-primary-hover-background");

    transition:
      color 50ms,
      background-color 50ms,
      border-color 50ms;
  }

  &--secondary {
    @include colour.colour-background("button-secondary-background");

    @include colour.colour-border("button-secondary-background");

    &,
    &:link,
    &:visited {
      @include colour.colour-font("button-secondary-text");
    }

    &:hover {
      @include colour.colour-font("button-secondary-hover-text");

      @include colour.colour-background("button-secondary-hover-background");
    }
  }
}
