@use "sass:math";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/typography";
@use "../../utilities";

.tna-button {
  padding: 0.25rem 1rem;

  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.75rem;

  @include typography.relative-font-size(18);
  @include typography.main-font-weight-bold;
  line-height: 2rem;
  text-decoration: none;
  text-align: center;
  text-wrap: balance;

  @include colour.colour-background("button-background");

  @include colour.colour-border("button-background", 0.25rem);

  cursor: pointer;

  &,
  &:link,
  &:visited {
    @include colour.colour-font("button-text");
  }

  &:hover {
    @include colour.colour-font("button-hover-text");
    text-decoration: none;

    background: transparent;
  }

  .fa-solid,
  .fa-brands {
    display: block;

    font-size: 0.9em;
    line-height: #{math.div(16, 18) * 2};
  }

  &--plain {
    @include typography.main-font-weight;

    background-color: transparent;

    border-color: transparent;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("link");
    }

    &:hover {
      @include typography.interacted-text-decoration;
    }
  }

  &--accent {
    @include colour.colour-background("button-accent-background");

    @include colour.colour-border("button-accent-background");

    &,
    &:link,
    &:visited {
      @include colour.colour-font("button-accent-text");
    }

    &:hover {
      @include colour.colour-font("font-dark");
    }
  }

  &--icon-right {
    flex-direction: row-reverse;
  }

  &--small,
  &-group--small & {
    padding: 0 0.5rem;

    @include typography.relative-font-size(14);
    line-height: 1.5rem;

    .fa-solid,
    .fa-brands {
      line-height: 2rem;
    }
  }

  @mixin icon-only {
    padding-right: 0;
    padding-left: 0;

    gap: 0;

    font-size: 0;
    line-height: 0;

    .fa-solid,
    .fa-brands {
      width: 2.5rem;

      @include typography.relative-font-size(18);
    }
  }

  @mixin icon-only-small {
    padding-right: 0;
    padding-left: 0;

    .fa-solid,
    .fa-brands {
      width: 2rem;

      @include typography.relative-font-size(18 * 0.9);
    }
  }

  &--icon-only {
    @include icon-only;
  }

  &--small#{&}--icon-only,
  &-group--small &--icon-only {
    @include icon-only-small;
  }

  @include media.on-mobile {
    &--icon-only-mobile {
      @include icon-only;
    }

    &--small#{&}--icon-only-mobile,
    &-group--small &--icon-only-mobile {
      @include icon-only-small;
    }
  }

  &--solid-hover {
    &:not(.tna-button--plain):hover {
      @include colour.colour-font("font-dark");

      @include colour.colour-background("page-background");
    }
  }

  .tna-background-accent & {
    &:hover {
      @include colour.colour-font("font-dark");
    }
  }

  .tna-background-accent &--accent {
    @include colour.plain;

    @include colour.colour-background("page-background");

    @include colour.colour-border("page-background");

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-dark");
    }

    &:hover {
      @include colour.colour-font("page-background");

      @include colour.colour-background("font-dark");
    }
  }
}
