@use "sass:math";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";
@use "button-group";

$button-border-width: 4px !default;

.tna-button {
  padding: spacing.space(0.25) spacing.space(1);

  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  gap: spacing.space(0.75);

  @include typography.relative-font-size(18);
  @include typography.main-font-weight-bold;
  line-height: 2rem;
  text-decoration: none;
  text-align: center;
  text-wrap: balance;

  @include colour.colour-background("button-background");

  @include colour.colour-border("button-background", $button-border-width);

  cursor: pointer;

  &,
  &:link,
  &:visited {
    @include colour.colour-font("button-text");
  }

  &:hover {
    @include colour.colour-font("button-hover-text");
    text-decoration: none;

    background: transparent;
  }

  .fa-solid {
    display: block;

    font-size: 0.9em;
    line-height: #{math.div(16, 18) * 2};
  }

  &--plain {
    @include typography.main-font-weight;

    background-color: transparent;

    border-color: transparent;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("link");
    }

    &:hover {
      @include typography.interacted-text-decoration;
    }
  }

  &--accent {
    @include colour.colour-background("button-accent-background");

    @include colour.colour-border("button-accent-background");

    &,
    &:link,
    &:visited {
      @include colour.colour-font("button-accent-text");
    }

    &:hover {
      @include colour.colour-font("font-dark");
    }
  }

  &--icon-right {
    flex-direction: row-reverse;
  }

  &--small,
  &-group--small & {
    padding: 0 spacing.space(0.5);

    @include typography.relative-font-size(14);
    line-height: 1.5rem;
  }

  @mixin icon-only {
    padding-right: 0;
    padding-left: 0;

    gap: 0;

    font-size: 0 !important;
    line-height: 0 !important;

    .fa-solid {
      width: 2.5rem;

      @include typography.relative-font-size(18);
    }
  }

  @mixin icon-only-small {
    padding-right: 0;
    padding-left: 0;

    .fa-solid {
      width: 2rem;

      @include typography.relative-font-size(18 * 0.9);
      line-height: 2rem;
    }
  }

  &--icon-only {
    @include icon-only;
  }

  &--small#{&}--icon-only,
  &-group--small &--icon-only {
    @include icon-only-small;
  }

  @include media.on-mobile {
    &--icon-only-mobile {
      @include icon-only;
    }

    &--small#{&}--icon-only-mobile,
    &-group--small &--icon-only-mobile {
      @include icon-only-small;
    }
  }

  &--solid-hover {
    &:not(.tna-button--plain):hover {
      @include colour.colour-font("font-dark");

      @include colour.colour-background("background");
    }
  }

  .tna-background-accent & {
    &:hover {
      @include colour.colour-font("font-dark");
    }
  }

  .tna-background-accent &--accent {
    @include colour.plain;

    @include colour.colour-background("background");

    @include colour.colour-border("background");

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-dark");
    }

    &:hover {
      @include colour.colour-font("background");

      @include colour.colour-background("font-dark");
    }
  }
}
