{%- set buttonClasses = [params.classes] if params.classes else [] -%}
{%- if params.accent -%}
  {%- set buttonClasses = buttonClasses.concat('tna-button--accent') -%}
{%- endif -%}
{%- if params.small -%}
  {%- set buttonClasses = buttonClasses.concat('tna-button--small') -%}
{%- endif -%}
{%- if params.plain -%}
  {%- set buttonClasses = buttonClasses.concat('tna-button--plain') -%}
{%- endif -%}
<{{ 'button' if params.buttonElement else 'a' }}{%- if not params.buttonElement %} href="{{ params.href }}"{%- endif %} class="tna-button {{ buttonClasses | join(' ') }}"{%- if not params.buttonElement %} role="button"{%- endif -%}{%- if params.title %} title="{{ params.title }}"{% endif %} {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {%- if params.brandIcon -%}
  <i class="fa-brands fa-fw fa-{{ params.brandIcon }}"></i>
  {%- elseif params.icon -%}
  <i class="fa-solid fa-fw fa-{{ params.icon }}"></i>
  {%- endif -%}
  {{ params.text }}
</{{ 'button' if params.buttonElement else 'a' }}>
