{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.accent -%}
  {%- set containerClasses = containerClasses.concat('tna-button--accent') -%}
{%- endif -%}
{%- if params.small -%}
  {%- set containerClasses = containerClasses.concat('tna-button--small') -%}
{%- endif -%}
{%- if params.plain -%}
  {%- set containerClasses = containerClasses.concat('tna-button--plain') -%}
{%- endif -%}
{%- if params.iconOnly -%}
  {%- set containerClasses = containerClasses.concat('tna-button--icon-only') -%}
{%- elif params.iconOnlyOnMobile -%}
  {%- set containerClasses = containerClasses.concat('tna-button--icon-only-mobile') -%}
{%- elif params.rightAlignIcon -%}
  {%- set containerClasses = containerClasses.concat('tna-button--icon-right') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}
<{{ 'button' if params.buttonElement else 'a' }}{%- if not params.buttonElement %} href="{{ params.href }}"{%- endif %} class="tna-button{% if classes %} {{ classes }}{% endif %}"{%- if params.buttonElement %} type="{{ params.buttonType or 'button' }}"{% endif -%}{%- if params.title %} aria-label="{{ params.title }}" title="{{ params.title }}"{% endif %}{% for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  {% if params.icon -%}
  <i class="fa-solid fa-{{ params.icon }}" aria-hidden="true"></i>
  {% elif params.iconSvg -%}
  {{ params.iconSvg | safe }}
  {% endif -%}
  {% if params.html -%}
  {{ params.html | safe }}
  {% else -%}
  {{ params.text }}
  {% endif -%}
</{{ 'button' if params.buttonElement else 'a' }}>
