@use "../../variables/colour";

.tna-tabs {
  &__list {
    margin: 0 0 1rem;
    padding: 0;

    display: flex;
    align-items: stretch;

    list-style: none;
  }

  &__list-item {
    display: inline-flex;

    & + & {
      margin-left: 1rem;
    }
  }

  &__list-item-link {
    padding: 0.5rem 0;

    display: flex;

    align-items: center;
    position: relative;

    @include colour.colour-font("dark-font");
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5;
    text-align: center;

    background: none;

    border: none;

    cursor: pointer;

    & + & {
      margin-left: 1rem;
    }

    &::after {
      height: 0;

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: colour.$dark;

      content: "";
    }

    &:hover,
    &--selected,
    &--selected:hover {
      &::after {
        height: 0.25rem;
      }
    }

    .tna-template--js-enabled & {
      @include colour.colour-font("light-font");

      &:hover {
        &::after {
          height: 0.125rem;
        }
      }

      &--selected {
        @include colour.colour-font("dark-font");

        &::after,
        &:hover::after {
          height: 0.25rem;
        }
      }
    }
  }

  &__items {
    // &:not(:target-within) {
    //   .tna-tabs__item:first-child {
    //     display: block;
    //   }
    // }
  }

  &__item {
    display: none;

    &:first-child {
      display: block;
    }

    &:has(~ :target) {
      display: none;
    }

    &:target {
      display: block;
    }

    .tna-template--js-enabled & {
      display: block;

      &[hidden] {
        display: none;
      }
    }

    .tna-template--clicked &:focus {
      outline: none;
    }
  }
}
