@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-tabs {
  @include spacing.space-above;

  &__list {
    margin: 0 0 spacing.space(1);
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: spacing.space(1);

    list-style: none;
  }

  &__list-item {
  }

  &__list-item-link {
    padding: spacing.space(0.5) 0;

    display: flex;

    align-items: center;

    position: relative;

    text-align: center;
    text-decoration: none;

    background: transparent;

    border: none;

    cursor: pointer;

    @include typography.relative-font-size(20);
    @include typography.heading-font;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-dark");
    }

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:hover,
    &--selected,
    &--selected:hover {
      text-decoration: none;

      &::after {
        @include colour.thick-keyline-dark(top);
      }
    }

    .tna-template--js-enabled & {
      @include colour.colour-font("font-light");

      &:hover {
        &::after {
          @include colour.thick-keyline(top);
        }
      }

      &--selected {
        @include colour.colour-font("font-dark");

        &::after,
        &:hover::after {
          @include colour.thick-keyline-dark(top);
        }
      }
    }
  }

  &__items {
    // &:not(:target-within) {
    //   .tna-tabs__item:first-child {
    //     display: block;
    //   }
    // }
  }

  &__item {
    display: none;

    &:first-child {
      display: block;
    }

    &:has(~ :target) {
      display: none;
    }

    &:target {
      display: block;
    }

    .tna-template--js-enabled & {
      display: block;

      &[hidden] {
        display: none;
      }
    }

    .tna-template--clicked &:focus {
      outline: none;
    }
  }

  @include colour.on-high-contrast-and-forced-colours {
    &__list {
      @include colour.colour-border("keyline-dark", 1px, solid, bottom);
    }
  }

  // @include colour.on-forced-colours {
  //   &__list-item-link {
  //     &--selected {
  //       padding-bottom: spacing.space(0.125);

  //       border-bottom-width: 0.375rem;
  //     }
  //   }
  // }

  @include media.on-print {
    &__list {
      display: none;
    }

    &__item {
      display: block !important;

      & + & {
        margin-top: 2rem;
      }
    }
  }
}
