@use "../../variables/a11y" as a11yVariables;
@use "../../variables/borders";
@use "../../tools/a11y";
@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-tabs {
  @include spacing.space-above;

  &__list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: spacing.space(0.5);

    position: relative;
    z-index: 2;

    list-style: none;
  }

  &--small &__list {
    gap: spacing.space(0.25);
  }

  &__list-item {
  }

  &__button {
    padding: borders.$thick-border-width 0;

    position: relative;

    text-align: center;

    background: transparent;

    border: none;

    cursor: pointer;
  }

  &:not(&--plain) &__button {
    &[aria-selected="true"] {
      padding-top: 0;

      @include colour.tint;
    }
  }

  &__button-inner {
    padding: spacing.space(0.5) spacing.space(0.75);

    display: block;

    text-decoration: underline;

    @include colour.colour-font("font-dark");
  }

  &--small &__button-inner {
    padding: spacing.space(0.125) spacing.space(0.5);

    @include typography.font-size(16);
  }

  &__button:hover &__button-inner {
    @include typography.interacted-text-decoration;
  }

  &__button[aria-selected="true"] &__button-inner {
    text-decoration: none;

    @include colour.thick-keyline-accent(top);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: spacing.space(2);
  }

  &__item {
    border-radius: 0.1px;
    @include a11y.no-focus-outline-on-click;

    &:focus {
      outline-offset: -#{a11yVariables.$focus-outline-width};
    }
  }

  &--interactive &__item {
    padding: spacing.space(1);

    @include colour.tint;
  }

  &--plain &__list {
    @include colour.colour-border("keyline", 1px, solid, bottom);
  }

  &--plain#{&}--interactive &__button {
    background: transparent;

    border: 1px transparent solid;
    border-bottom: none;
  }

  &--plain#{&}--interactive &__button[aria-selected="true"] {
    padding-top: 0;

    @include colour.colour-border("keyline");

    &::after {
      content: "";

      height: 1px;

      position: absolute;
      top: 100%;
      right: 0;
      left: 0;

      @include colour.colour-background("background");
    }
  }

  &--plain#{&}--interactive &__item {
    background: none;

    @include colour.colour-border("keyline", 1px, solid);
    border-top-width: 0;
  }

  // @include colour.on-high-contrast-and-forced-colours {
  //   &__list {
  //     @include colour.colour-border("keyline-dark", 1px, solid, bottom);
  //   }
  // }

  @include colour.on-forced-colours {
    &__button,
    &__item {
      @include colour.colour-border("keyline", 1px, solid);
    }
  }
}
