{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.sticky -%}
  {%- set containerClasses = containerClasses.concat('tna-tabs--sticky') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}
<div class="tna-tabs{% if classes %} {{ classes }}{% endif %}" data-module="tna-tabs"{% for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <div class="tna-tabs__list" role="tablist" hidden>
  {%- for item in params.items %}
      <button type="button" class="tna-tabs__button" id="{{ item.id }}-tab" aria-controls="{{ item.id }}" role="tab">
        <span class="tna-tabs__button-inner">
          {{ item.title }}
        </span>
      </button>
  {%- endfor %}
  </div>
  <div class="tna-tabs__items">
  {%- for item in params.items %}
    <section id="{{ item.id }}" class="tna-tabs__item">
      <h{{ params.itemHeadingLevel }} class="tna-tabs__heading tna-heading-m">
        {{ item.title }}
      </h{{ params.itemHeadingLevel }}>
      {{ item.body | safe }}
    </section>
  {%- endfor %}
  </div>
</div>
