{% from "nationalarchives/utilities/forms/form-item.njk" import tnaFormItem %}

{%- call tnaFormItem({
  headingLevel: params.headingLevel,
  headingSize: params.headingSize,
  id: params.id,
  label: params.label,
  hint: params.hint,
  error: params.error,
  classes: params.formItemClasses,
  attributes: params.formItemAttributes
}, 'tna-file-input' if params.droppable else '') %}
  <input id="{{ params.id }}" class="tna-file-input{% if params.classes %} {{ params.classes }}{% endif %}" name="{{ params.name }}" type="file"
  {%- if params.hint or params.error %} aria-describedby="{%- if params.hint -%}{{ params.id }}-hint{%- endif %} {% if params.error -%}{{ params.id }}-error{%- endif -%}"{%- endif %}
  {%- if params.multiple %} multiple{%- endif %}
  {%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}
  {%- for attribute, value in extraAttributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
{%- endcall %}
