@use "variables/assets" with (
  $tna-font-path:
    "/plugin-assets/@nationalarchives/frontend/nationalarchives/assets/fonts",
  $fa-font-path:
    "/plugin-assets/@nationalarchives/frontend/nationalarchives/assets/fonts"
);

@use "all";

.tna-template__body {
  // This override is to cancel out specific styles added by govuk-frontend
  p {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}
