/* stylelint-disable */

.tna-global-header__logo--link,
.tna-global-header__navigation-item-link,
.tna-header__logo-contents--link,
.tna-header__navigation-item-link,
.tna-header__top-navigation-item-link {
  &,
  &:link,
  &:visited {
    color: #fff;
  }
}

.tna-global-header__navigation-item-link {
  border-bottom: 0.5px rgba(255, 255, 255, 0.5) solid;
}

.tna-global-header__top-navigation-item {
  & + & {
    margin-left: 2rem;
  }
}

.tna-global-header__top-navigation-link {
  &,
  &:link,
  &:visited {
    color: rgba(255, 255, 255, 0.58);

    &:hover {
      color: #fff;
    }
  }
}

.tna-footer {
  .tna-logo {
    height: 96px;
  }

  &__licence-logo {
    height: 24px;
  }

  &__govuk-logotype-crown {
    height: 30px;
  }
}

.tna-breadcrumbs {
  &__link {
    color: #343338;
  }
}

.tna-sidebar {
  &--sticky {
    display: block;
  }
}

.tna-hero {
  &__image {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__content-inner {
    background: #fff;
  }
}

.tna-files-list {
  &__icon {
    height: 3rem;
  }
}

.tna-form__group-contents {
  flex: none;
}

.tna-chip {
  background: #fff;
}

.etna-video {
  padding-bottom: 56.25%;
}
