/*!
 * ------------------------------------------
 * TNA Frontend print styles
 * github.com/nationalarchives/tna-frontend
 * ------------------------------------------
 */

@use "tools/colour";
@use "tools/media";

.tna-\!--hide-on-print {
  display: none !important;
}

.tna-template,
.tna-background-accent,
.tna-background-contrast,
.tna-hero:not(
    .tna-background-accent,
    .tna-background-accent-light,
    .tna-background-contrast,
    .tna-background-tint,
    .tna-background-tint-light
  )
  .tna-hero__inner,
.tna-picture__transcript,
.tna-index-grid__item,
.tna-hero__details-summary,
.tna-gallery__item-figure-inner,
.tna-gallery__navigation-item {
  @include colour.colour-css-vars;
}

.tna-breadcrumbs,
.tna-cookie-banner,
.tna-footer,
.tna-global-header,
.tna-header,
.tna-hero__caption,
.tna-phase-banner,
.tna-picture__toggle-transcript,
.tna-skip-link,
.tna-tabs__list {
  display: none !important;
}

.tna-dl {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.tna-tabs {
  &__item {
    display: block !important;

    & + & {
      margin-top: 2rem;
    }
  }
}
