{%- set containerClasses = [params.formGroupClasses] if params.formGroupClasses else [] -%}
{%- set inputClasses = [params.classes] if params.classes else [] -%}
{%- if params.inline -%}
  {%- set containerClasses = containerClasses.concat('tna-form__group--inline') -%}
{%- endif -%}
<div class="tna-form__group{% if params.error %} tna-form__group--error{% endif %} {{ containerClasses | join(' ') }}" {%- for attribute, value in params.formGroupAttributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="tna-form__group-contents">
    <h{{ params.headingLevel }} class="tna-form__heading tna-form__heading--{{ params.headingSize or 'm' }}">
      <label class="tna-form__label" for="tna-form__{{ params.id }}">
        {{ params.label }}
      </label>
    </h{{ params.headingLevel }}>
    {%- if params.hint %}
    <p id="tna-form__{{ params.id }}-hint" class="tna-form__hint">
      {{ params.hint }}
    </p>
    {%- endif %}
    {%- if params.error %}
    <p id="tna-form__{{ params.id }}-error" class="tna-form__error-message">
      <span class="tna-!--visually-hidden">Error:</span> {{ params.error.text }}
    </p>
    {%- endif %}
  </div>
  <textarea id="tna-form__{{ params.id }}" class="tna-textarea{% if params.size %} tna-textarea--{{ params.size }}{% endif %} {{ inputClasses | join(' ') }}" name="{{ params.name }}" spellcheck="{{ params.spellcheck if params.spellcheck else false }}" rows="{{ params.rows if params.rows else 5 }}"
  {%- if params.hint or params.error %} aria-describedby="{%- if params.hint -%}tna-form__{{ params.id }}-hint{%- endif %} {% if params.error -%}tna-form__{{ params.id }}-error{%- endif -%}"{%- endif %}
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ params.value }}</textarea>
</div>
