@use "../../variables/forms";
@use "../../tools/colour";
@use "../../utilities";

.tna-textarea {
  $textarea-minimum-lines-visible: 5.5;
  $textarea-line-height: 1.5rem;
  $textarea-vertical-padding: 0.25rem;

  width: 100%;
  min-height: #{($textarea-line-height * $textarea-minimum-lines-visible) + (
      2 * $textarea-vertical-padding
    )};
  margin-top: 1rem;
  padding: $textarea-vertical-padding 0.5rem;

  display: block;
  box-sizing: border-box;
  resize: vertical;

  @include colour.colour-font("input-foreground");
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5rem;

  @include colour.colour-background("input-background");

  @include colour.colour-border("input-border", forms.$form-field-border-width);
  border-radius: 0;

  .tna-form__group--error & {
    @include colour.colour-border("form-error");
  }

  &--s {
    max-width: 20rem;
  }

  &--m {
    max-width: 40rem;
  }

  &--l {
    max-width: 60rem;
  }
}
