@use "../../variables/forms" as formsVars;
@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/spacing";

.tna-textarea {
  inline-size: 100%;
  padding: spacing.space(0.25, true) spacing.space(0.5, true);

  display: block;
  box-sizing: border-box;

  resize: block;

  line-height: 1.5;

  @include colour.colour-input;

  @include borders.rounded-border;

  .tna-form-item--error & {
    @include colour.colour-border("form-error-border");
  }

  &--m {
    max-inline-size: 20rem;
  }

  &--l {
    max-inline-size: 40rem;
  }

  &--xl {
    max-inline-size: 80rem;
  }

  &--auto-vertical-resize {
    min-block-size: attr(data-rows lh, 5lh);

    field-sizing: content;
  }
}

.tna-form-item {
  &[data-module="tna-textarea-itemised-rows"] &__body {
    display: flex;
    align-items: stretch;
    gap: 2px;

    .tna-text-input {
      flex: 1;
    }

    .tna-button {
      align-items: center;
    }
  }
}
