@use "../../variables/forms";
@use "../../tools/colour";
@use "../../tools/spacing";

$textarea-minimum-lines-visible: 5.5 !default;
$textarea-line-height: 1.5rem !default;
$textarea-vertical-padding: 0.25 !default;

.tna-textarea {
  width: 100%;
  min-height: #{($textarea-line-height * $textarea-minimum-lines-visible) + (
      spacing.space($textarea-vertical-padding * 2)
    )};
  padding: spacing.space($textarea-vertical-padding) spacing.space(0.5);

  display: block;
  box-sizing: border-box;

  line-height: 1.5rem;

  border-radius: 0.1px;

  resize: vertical;

  @include colour.always-light;
  @include colour.colour-font("input-foreground");

  @include colour.colour-background("input-background");

  @include colour.colour-border("input-border", forms.$form-field-border-width);

  .tna-form__group--error & {
    @include colour.colour-border("form-error-border");
  }

  &--m {
    max-width: 20rem;
  }

  &--l {
    max-width: 40rem;
  }

  &--xl {
    max-width: 80rem;
  }
}
