{% from "nationalarchives/utilities/forms/form-item.njk" import tnaFormItem %}

{%- call tnaFormItem({
  headingLevel: params.headingLevel,
  headingSize: params.headingSize,
  id: params.id,
  label: params.label,
  hint: params.hint,
  error: params.error,
  classes: params.formItemClasses,
  attributes: params.formItemAttributes
}, 'tna-text-input') %}
  <input id="{{ params.id }}" class="tna-text-input{% if params.size %} tna-text-input--{{ params.size }}{% endif %}{% if params.classes %} {{ params.classes }}{% endif %}" name="{{ params.name }}" value="{{ params.value }}"
  {%- if params.hint or params.error %} aria-describedby="{%- if params.hint -%}{{ params.id }}-hint{%- endif %} {% if params.error -%}{{ params.id }}-error{%- endif -%}"{%- endif %}
  {%- if params.password %} type="password" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"
  {%- else %} type="{{ params.type if params.type else 'text' }}" spellcheck="{{ params.spellcheck if params.spellcheck else false }}" autocapitalize="{{ params.autocapitalize if params.autocapitalize else 'off' }}" autocorrect="{{ 'on' if params.autocorrect else 'off' }}"
      {%- if params.autocomplete %} autocomplete="{{ params.autocomplete }}"{% endif %}
  {%- endif %}
  {%- if params.inputmode %} inputmode="{{ params.inputmode }}"{% endif %}
  {%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
{%- endcall %}
