{%- set inputClasses = [params.classes] if params.classes else [] -%}
{%- set containerClasses = [params.formGroupClasses] if params.formGroupClasses else [] -%}
<div class="tna-form__group{% if params.error %} tna-form__group--error{% endif %} {{ containerClasses | join(' ') }}">
  <h{{ params.headingLevel }} class="tna-form__heading tna-form__heading--{{ params.headingSize }}">
    <label class="tna-form__label" for="tna-form__{{ params.id }}">
      {{ params.label }}
    </label>
  </h{{ params.headingLevel }}>
  {%- if params.hint %}
  <div id="tna-form__{{ params.id }}-hint" class="tna-form__hint">
    {{ params.hint }}
  </div>
  {%- endif %}
  {%- if params.error %}
  <p id="tna-form__{{ params.id }}-error" class="tna-form__error-message">
    <span class="tna-!--visually-hidden">Error:</span> {{ params.error.text }}
  </p>
  {%- endif %}
  <input type="text" id="tna-form__{{ params.id }}" class="tna-text-input{% if params.size %} tna-text-input--{{ params.size }}{% endif %} {{ inputClasses | join(' ') }}" name="{{ params.name }}" value="{{ params.value }}" spellcheck="{{ params.spellcheck if params.spellcheck else false }}"
  {%- if params.hint or params.error %} aria-describedby="{% if params.hint %}tna-form__{{ params.id }}-hint{% endif %} {% if params.error %}tna-form__{{ params.id }}-error{% endif %}"{% endif %}
  {%- if params.autofill %} autofill="{{ params.autofill }}"{% endif %}
  {%- if params.inputmode %} inputmode="{{ params.inputmode }}"{% endif %}
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
</div>
