@use "../../variables/forms";
@use "../../tools/colour";
@use "../../tools/spacing";

.tna-text-input {
  padding: 0 spacing.space(0.375);

  display: block;
  box-sizing: border-box;

  @include colour.always-light;
  @include colour.colour-font("input-foreground");
  line-height: 2rem;

  @include colour.colour-background("input-background");

  @include colour.colour-border("input-border", forms.$form-field-border-width);
  border-radius: 0.1px;

  &,
  &-wrapper {
    width: 100%;
  }

  .tna-form__group--error & {
    @include colour.colour-border("form-error-border");
  }

  &--xs {
    max-width: 5rem;
  }

  &--s {
    max-width: 10rem;
  }

  &--m {
    max-width: 20rem;
  }

  &--l {
    max-width: 40rem;
  }

  &--xl {
    max-width: 80rem;
  }

  &-wrapper & {
    border-right-width: 0;
  }

  &-wrapper {
    display: flex;

    .tna-button {
      white-space: nowrap;

      svg {
        width: 20px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
