@use "../../tools/colour";
@use "../../utilities/a11y";
@use "../../utilities";

.tna-checkboxes {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  &__item {
    padding-left: 3rem;

    position: relative;

    line-height: 2rem;

    &-label {
      cursor: pointer;

      &::before,
      &::after {
        width: 2rem;

        position: absolute;
        top: 0;
        left: 0;

        content: "";
      }

      &::before {
        height: 2rem;

        display: block;
        box-sizing: border-box;

        z-index: 1;

        @include colour.colour-background("background");

        @include colour.colour-border("keyline-dark", 3px);
      }

      &::after {
        width: 1rem;
        height: 0.375rem;

        display: none;

        top: 0.5625rem;
        /* stylelint-disable-next-line number-max-precision */
        left: 0.40625rem;
        z-index: 2;

        @include colour.colour-border("font-dark", 0, solid);
        border-width: 0 0 3px 3px;

        transform: rotate(-45deg);
      }
    }
  }

  &--small {
    gap: 0.5rem;
  }

  &--small &__item {
    padding-left: 2.5rem;

    line-height: 1.5rem;

    &-label {
      &::before,
      &::after {
        width: 1.5rem;
      }

      &::before {
        height: 1.5rem;
      }

      &::after {
        width: 0.625rem;
        height: 0.25rem;

        top: 0.4375rem;
        /* stylelint-disable-next-line number-max-precision */
        left: 0.34375rem;
      }
    }
  }

  input {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;

    position: absolute;
    top: -1px;
    left: -1px;

    opacity: 0;
  }

  input:focus + &__item-label {
    &::before {
      @include a11y.focus-outline;
    }
  }

  input:checked + &__item-label {
    &::after {
      display: var(--fa-display, inline-block);
    }
  }
}
