{%- macro tnaCheckboxesElement(params, extraAttributes) -%}
<div class="tna-checkboxes{% if params.small or params.inline %} tna-checkboxes--small{% endif %}{% if params.inline %} tna-checkboxes--inline{% endif %}" id="{{ params.id }}">
  {%- for item in params.items %}
  <div class="tna-checkboxes__item">
    <input type="checkbox" id="{{ params.id }}-{{ item.value }}" value="{{ item.value }}" name="{{ item.name or params.name }}"{% for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}{% for attribute, value in extraAttributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}{% if item.checked %} checked{% endif %}>
    <label for="{{ params.id }}-{{ item.value }}" class="tna-checkboxes__item-label">
      {{ item.text }}
    </label>
  </div>
  {%- endfor %}
</div>
{%- endmacro %}
