@use "../../variables/forms";
@use "../../tools/colour";
@use "../../utilities/a11y";
@use "../../utilities";

.tna-checkboxes {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  &__item {
    position: relative;

    input {
      width: 1px;
      height: 1px;
      margin: 0;
      padding: 0;

      position: absolute;
      top: -1px;
      left: -1px;

      opacity: 0;
    }

    &-label {
      padding-left: 3rem;

      display: block;

      line-height: 2rem;

      cursor: pointer;

      &::before,
      &::after {
        width: 2rem;

        position: absolute;
        top: 0;
        left: 0;

        content: "";
      }

      &::before {
        height: 2rem;

        display: block;
        box-sizing: border-box;

        z-index: 1;

        @include colour.colour-background("input-background");

        @include colour.colour-border(
          "input-border",
          forms.$form-field-border-width
        );
      }

      &::after {
        width: 1.25rem;
        height: 0.5rem;
        margin-top: -0.1875rem;

        display: none;

        top: 1.0625rem;
        left: 1rem;
        z-index: 2;

        // @include colour.colour-border("input-foreground", 0, solid);
        // border-width: 0 0 forms.$form-field-border-width
        //   forms.$form-field-border-width;
        @include colour.colour-border("input-background", 0, solid);
        border-width: 0 0 forms.$form-field-border-width
          forms.$form-field-border-width;

        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }

  &--small {
    gap: 0.5rem;
  }

  &--small &__item {
    &-label {
      padding-left: 2.5rem;

      line-height: 1.5rem;

      &::before {
        width: 1.5rem;
        height: 1.5rem;
      }

      &::after {
        width: 0.825rem;
        height: 0.375rem;
        margin-top: -0.125rem;

        /* stylelint-disable-next-line number-max-precision */
        // top: 0.46875rem;
        top: 0.75rem;
        // left: 0.375rem;
        left: 0.75rem;
      }
    }
  }

  input:focus + &__item-label {
    &::before {
      @include a11y.focus-outline;
    }
  }

  input:checked + &__item-label {
    &::before {
      @include colour.colour-background("input-foreground");
    }

    &::after {
      display: block;
    }
  }

  &--small &__item:hover &__item-label {
    &::before {
      box-shadow: 0 0 0 0.125rem var(--input-border);
    }
  }
}
