@use "sass:math";
@use "sass:selector";
@use "../../tools/a11y";
@use "../../tools/colour";
@use "../../tools/grid";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

@property --left-fade {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --right-fade {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@keyframes scrollfade {
  0% {
    --left-fade: 0;
    --right-fade: 1rem;
  }

  10% {
    --left-fade: 1rem;
  }

  90% {
    --right-fade: 1rem;
  }

  100% {
    --right-fade: 0;
    --left-fade: 1rem;
  }
}

.tna-table {
  max-width: 100%;

  text-align: left;

  border-collapse: collapse;

  &--full {
    width: 100%;
  }

  &__caption {
    width: 100%;
    padding: spacing.space(1) 0 0;

    caption-side: bottom;

    @include typography.font-size(16);

    &--scroll {
      max-width: calc(100vw - #{grid.gutter-width-double()});

      position: sticky;
      left: 0;

      &::after {
        content: " (scroll to see more)";
      }
    }
  }

  &__head {
    vertical-align: bottom;
  }

  &__body {
    vertical-align: top;
  }

  &__foot {
    @include typography.main-font-weight-bold;
    vertical-align: top;
  }

  &__row {
  }

  &__header {
  }

  &__cell {
  }

  &__header,
  &__cell {
    padding: spacing.space(0.25) spacing.space(1);

    @include colour.colour-border("keyline", 1px, solid, bottom);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &--numeric {
      text-align: right;
    }

    &--align-left {
      text-align: left;
    }

    &--align-centre {
      text-align: center;
    }

    &--align-right {
      text-align: right;
    }

    &--align-justify {
      text-align: justify;
    }

    &--align-top {
      vertical-align: top;
    }

    &--align-middle {
      vertical-align: middle;
    }

    &--align-bottom {
      vertical-align: bottom;
    }
  }

  &__head &__header {
    @include colour.thick-keyline-dark(bottom);
  }

  &__foot &__header,
  &__foot &__cell {
    @include colour.thick-keyline-dark(top);
  }

  p {
    + p {
      margin-top: spacing.space(0.25);
    }
  }
}

.tna-table-wrapper {
  width: 100%;
  padding-right: grid.gutter-width();
  padding-left: grid.gutter-width();

  overflow: auto;

  position: relative;
  left: -#{grid.gutter-width()};

  mask: linear-gradient(
    to right,
    #0000,
    #ffff var(--left-fade) calc(100% - var(--right-fade)),
    #0000
  );
  animation: scrollfade;
  animation-timeline: --scrollfade;
  scroll-timeline: --scrollfade x;

  &[tabindex="0"] {
    border-radius: 0.1px;

    // &:active {
    //   @include a11y.focus-outline;
    // }
  }
}

@include media.on-tiny {
  .tna-table-wrapper {
    padding-right: grid.gutter-width-tiny();
    padding-left: grid.gutter-width-tiny();

    left: -#{grid.gutter-width-tiny()};
  }

  .tna-table {
    &__caption {
      &--scroll {
        max-width: calc(100vw - #{grid.gutter-width-tiny-double()});
      }
    }
  }
}

.tna-table,
.tna-table-wrapper {
  @include spacing.space-above;
  margin-bottom: spacing.space(4);

  &:last-child {
    margin-bottom: 0;
  }
}
