@use "sass:math";
@use "sass:selector";
@use "../../variables/a11y" as a11yVariables;
@use "../../tools/a11y";
@use "../../tools/colour";
@use "../../tools/grid";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";

@property --left-fade {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0;
}

@property --right-fade {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0;
}

@keyframes scrollfade {
  0% {
    --left-fade: 0%;
    --right-fade: 100%;
  }

  1% {
    --left-fade: 100%;
  }

  99% {
    --right-fade: 100%;
  }

  100% {
    --right-fade: 0%;
    --left-fade: 100%;
  }
}

.tna-table {
  max-width: 100%;

  position: relative;
  z-index: 1;

  text-align: left;

  border-collapse: collapse;

  &__caption {
    width: 100%;
    padding: spacing.space(1) 0 0;

    caption-side: bottom;

    @include typography.font-size(16);
  }

  &__head {
    vertical-align: bottom;
  }

  &__body {
    vertical-align: top;
  }

  &__foot {
    @include typography.main-font-weight-bold;
    vertical-align: top;
  }

  &__row {
  }

  &__header {
  }

  &__cell {
  }

  &__header,
  &__cell {
    padding: spacing.space(0.25) spacing.space(1);

    @include colour.colour-border("keyline", 1px, solid, bottom);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &--numeric {
      text-align: right;
    }

    &--align-left {
      text-align: left;
    }

    &--align-centre {
      text-align: center;
    }

    &--align-right {
      text-align: right;
    }

    &--align-justify {
      text-align: justify;
    }

    &--align-top {
      vertical-align: top;
    }

    &--align-middle {
      vertical-align: middle;
    }

    &--align-bottom {
      vertical-align: bottom;
    }
  }

  &__head &__header {
    @include colour.thick-keyline-dark(bottom);
  }

  &__foot &__header,
  &__foot &__cell {
    @include colour.thick-keyline-dark(top);
  }

  p {
    + p {
      margin-top: spacing.space(0.25);
    }
  }

  &--full {
    width: 100%;
  }
}

.tna-table-wrapper {
  &--scroll {
    width: calc(100% + #{grid.gutter-width-double()});
    margin-left: -#{grid.gutter-width()};

    display: flex;

    overflow: auto;

    position: relative;

    animation: scrollfade;
    animation-timeline: --scrollfade;
    scroll-timeline: --scrollfade x;

    &[tabindex="0"] {
      border-radius: 0.1px;

      &:active {
        @include a11y.focus-outline;
      }
    }

    &::before,
    &::after {
      content: "";

      width: grid.gutter-width();

      align-self: stretch;

      display: block;

      position: sticky;
      z-index: 2;

      opacity: 0;
      flex-shrink: 0;
      transition: opacity 200ms ease;
    }

    &::before {
      left: 0;

      background-image: radial-gradient(
        ellipse farthest-side at left center,
        colour.colour-var("table-overflow-shadow-from"),
        colour.colour-var("table-overflow-shadow-to")
      );

      opacity: var(--left-fade);
    }

    &::after {
      right: 0;

      background-image: radial-gradient(
        ellipse farthest-side at right center,
        colour.colour-var("table-overflow-shadow-from"),
        colour.colour-var("table-overflow-shadow-to")
      );

      opacity: var(--right-fade);
    }

    .tna-table__caption {
      max-width: calc(100vw - #{grid.gutter-width-double()});

      position: sticky;
      left: grid.gutter-width();

      &::after {
        content: " (scroll to see more)";
      }
    }
  }
}

@include media.on-tiny {
  .tna-table-wrapper {
    &--scroll {
      width: calc(100% + #{grid.gutter-width-tiny-double()});
      margin-left: -#{grid.gutter-width-tiny()};

      &::before,
      &::after {
        width: grid.gutter-width-tiny();
      }

      .tna-table {
        &__caption {
          max-width: calc(100vw - #{grid.gutter-width-tiny-double()});

          left: grid.gutter-width-tiny();
        }
      }
    }
  }
}

.tna-table,
.tna-table-wrapper {
  @include spacing.space-above;
  margin-bottom: spacing.space(4);

  &:last-child {
    margin-bottom: 0;
  }
}
