@use "../../tools/colour";
@use "../../tools/media";
@use "../../tools/spacing";
@use "../../tools/typography";
@use "../../variables/typography" as typographyVars;

.tna-featured-records {
  @include spacing.space-above;
  margin-bottom: 0;
  padding: 0;

  list-style: none;

  @include colour.thick-keyline-accent(top);

  &__item {
    padding: #{spacing.space(2)};

    display: flex;
    gap: #{spacing.space(2)};
    justify-content: flex-start;
    align-items: center;

    @include colour.colour-border("keyline", 1px);
    border-top-width: 0;
  }

  &__image {
    width: 7rem;
    height: auto;
  }

  &__details {
    margin: 0;

    flex: 1;
  }

  &__title-label,
  &__date-label {
    display: none;
  }

  &__collection-description,
  &__title-description,
  &__date-description {
    width: 100%;
    margin: 0;
  }

  &__collection-label,
  &__collection-description {
    display: inline-block;
  }

  &__collection-label {
    &::after {
      content: ":";
      content: ":" / "";
    }
  }

  &__collection-description {
  }

  &__title-label {
  }

  &__title-description {
    padding-bottom: spacing.space(0.25);

    @include typography.detail-font(true);
  }

  &__date-label {
  }

  &__date-description {
    @include colour.colour-font("font-light");
    @include typography.relative-font-size(
      typographyVars.$body-font-size-px * 0.85
    );
  }

  @include media.on-tiny {
    &__item {
      padding: spacing.space(1);

      gap: spacing.space(1);
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
