{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- set classes = containerClasses | join(' ') -%}
<ul class="tna-featured-records{% if classes %} {{ classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  {%- for item in params.items %}
  <li class="tna-featured-records__item">
    {%- if item.imageSrc %}
    <img src="{{ item.imageSrc }}" width="{{ item.imageWidth }}" height="{{ item.imageHeight }}" class="tna-featured-records__image" alt="{{ item.imageAlt }}">
    {%- endif %}
    <dl class="tna-featured-records__details">
      <dt class="tna-featured-records__collection-label tna-chip tna-chip--plain">From our collection</dt>
      <dd class="tna-featured-records__collection-description tna-chip tna-chip--plain">{{ item.collection }}</dd>
      <dt class="tna-featured-records__title-label">Title</dt>
      <dd class="tna-featured-records__title-description">
        <a href="{{ item.href }}">{{ item.title }}</a>
      </dd>
      <dt class="tna-featured-records__date-label">Date</dt>
      <dd class="tna-featured-records__date-description">{{ item.date }}</dd>
    </dl>
  </li>
  {%- endfor %}
</ul>
