@use "../../variables/forms";
@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-date-input {
  display: flex;
  gap: spacing.space(1);

  &__item {
    &-label {
      display: block;

      @include typography.font-size(16);
    }

    &-input {
      width: 3rem;
      padding: 0 spacing.space(0.375);

      display: block;
      box-sizing: border-box;

      @include colour.always-light;
      @include colour.colour-font("input-foreground");
      line-height: 2rem;

      @include colour.colour-background("input-background");

      @include colour.colour-border(
        "input-border",
        forms.$form-field-border-width
      );
      @include borders.rounded-border;

      &--wider {
        width: 4.5rem;
      }

      .tna-form__group--error & {
        @include colour.colour-border("form-error-border");
      }
    }
  }

  &--inline {
  }
}
