{%- macro tnaDateInputMonthElement(params) -%}
<div class="tna-date-input__item tna-date-input__item--month">
  <label for="{{ params.id }}-month" class="tna-date-input__item-label">
    Month
  </label>
  <input type="text" id="{{ params.id }}-month" value="{{ params.value.month if params.value }}" name="{{ params.name }}-month" class="tna-date-input__item-input{% if params.classes %} {{ params.classes }}{% endif %}" inputmode="numeric"{% if params.autofillDateOfBirth %} autocomplete="bday-month"{% endif %}{%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
</div>
{%- endmacro %}
