{%- macro tnaDateInputYearElement(params) -%}
<div class="tna-date-input__item tna-date-input__item--year">
  <label for="{{ params.id }}-year" class="tna-date-input__item-label">
    Year
  </label>
  <input type="text" id="{{ params.id }}-year" value="{{ params.value.year if params.value }}" name="{{ params.name }}-year" class="tna-date-input__item-input{% if params.classes %} {{ params.classes }}{% endif %} tna-date-input__item-input--wider" inputmode="numeric"{% if params.autofillDateOfBirth %} autocomplete="bday-year"{% endif %}{%- for attribute, value in params.attributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
</div>
{%- endmacro %}
