{% from "nationalarchives/components/date-input/date-input-day.njk" import tnaDateInputDayElement %}
{% from "nationalarchives/components/date-input/date-input-month.njk" import tnaDateInputMonthElement %}
{% from "nationalarchives/components/date-input/date-input-year.njk" import tnaDateInputYearElement %}

{%- set containerClasses = [params.formGroupClasses] if params.formGroupClasses else [] -%}
{%- if params.inline -%}
  {%- set containerClasses = containerClasses.concat('tna-form__group--inline') -%}
{%- endif -%}
{%- set classes = containerClasses | join(' ') -%}

{%- set inputClassesParams = [params.classes] if params.classes else [] -%}
{%- set inputClasses = inputClassesParams | join(' ') -%}

<div class="tna-form__group{% if params.error %} tna-form__group--error{% endif %}{% if classes %} {{ classes }}{% endif %}"{% if params.progressive %} data-module="date-input"{% endif %}{% for attribute, value in params.formGroupAttributes %} {{ attribute }}{% if value !== '' %}="{{ value }}"{% endif %}{% endfor %}>
  <fieldset class="tna-form__fieldset"{%- if params.hint or params.error %} aria-describedby="{%- if params.hint -%}{{ params.id }}-hint{%- endif %} {% if params.error -%}{{ params.id }}-error{%- endif -%}"{%- endif %}>
    <legend class="tna-form__legend">
      <h{{ params.headingLevel }} class="tna-form__heading tna-form__heading--{{ params.headingSize or 'm' }}">
        {{ params.label }}
      </h{{ params.headingLevel }}>
    </legend>
    {%- if params.hint %}
    <p id="{{ params.id }}-hint" class="tna-form__hint">
      {{ params.hint }}
    </p>
    {%- endif %}
    {%- if params.error %}
    <p id="{{ params.id }}-error" class="tna-form__error-message">
      <span class="tna-!--visually-hidden">Error:</span> {{ params.error.text }}
    </p>
    {%- endif %}
    <div class="tna-date-input{% if params.inline %} tna-date-input--inline{% endif %}" id="{{ params.id }}">
      {%- set fields = params.fields if params.fields else ['d', 'm', 'y'] -%}
      {%- if params.progressive %}
        {%- if params.fields %}
          {%- set fields = [] -%}
          {% if 'y' in params.fields %}
            {%- set fields = fields + ['year'] -%}
          {%- endif %}
          {% if 'm' in params.fields %}
            {%- set fields = fields + ['month'] -%}
          {%- endif %}
          {% if 'd' in params.fields %}
            {%- set fields = fields + ['day'] -%}
          {%- endif %}
        {%- else %}
          {%- set fields = ['y', 'm', 'd'] -%}
        {%- endif %}
      {%- endif %}
      {%- for field in fields %}
        {%- if field == 'd' %}
          {{ tnaDateInputDayElement(params) | indent(6) }}
        {%- elif field == 'm' %}
          {{ tnaDateInputMonthElement(params) | indent(6) }}
        {%- elif field == 'y' %}
          {{ tnaDateInputYearElement(params) | indent(6) }}
        {%- endif %}
      {%- endfor %}
    </div>
  </fieldset>
</div>
