{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- set classes = containerClasses | join(' ') -%}
<div class="tna-sidebar{% if classes %} {{ classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <h{{ params.headingLevel }} class="tna-sidebar__heading">
    {{ params.heading or 'On this page' }}
  </h{{ params.headingLevel }}>
  <div class="tna-sidebar__items">
    <p>TODO</p>
  </div>
</div>
