@use "sass:math";
@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-accordion {
  @include spacing.space-above;

  @include colour.colour-border("keyline", 1px, solid, top);
  // @include colour.thick-keyline-dark(top);
  // @include colour.thick-keyline-accent(top);

  &__details {
    @include colour.colour-border("keyline", 1px, solid, bottom);

    position: relative;
    z-index: 1;
  }

  &__details:has(&__summary:focus) {
    z-index: 2;
  }

  &__summary {
    padding: spacing.space(0.5) spacing.space(3) spacing.space(0.5)
      spacing.space(1);

    position: relative;

    @include typography.main-font-weight-bold;
    list-style: none;

    border-radius: 0.1px;

    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "";

      width: 0;
      height: 0;

      position: absolute;
      top: calc(50% - #{math.div(math.sqrt(3), 4)}rem);
      right: 0.75rem;

      border-width: #{math.div(math.sqrt(3), 2)}rem 0.5rem 0 0.5rem;
      border-color: colour.colour-var("font-light") transparent;
      border-style: solid;
    }

    &:hover {
      @include typography.interacted-text-decoration;
      @include colour.colour-background("background-tint");

      &::before {
        border-color: colour.colour-var("font-dark") transparent;
      }
    }
  }

  &__content {
    padding: spacing.space(1);

    &:has(.tna-table-wrapper):has(.tna-table) {
      padding-right: 0;
      padding-left: 0;

      .tna-table {
        &__caption {
          padding-top: 0;
          padding-bottom: spacing.space(1);

          font-size: inherit;
          line-height: inherit;
          text-align: left;
          caption-side: top;
        }
      }

      .tna-table-wrapper {
        padding-right: 0;
        padding-left: 0;

        left: 0;

        .tna-table {
          width: calc(100% - #{spacing.space(2)});
          margin-right: spacing.space(1);
          margin-left: spacing.space(1);
        }
      }
    }
  }

  &__details[open] &__summary {
    &::before {
      border-width: 0 0.5rem #{math.div(math.sqrt(3), 2)}rem 0.5rem;
    }
  }
}
