@use "../src/nationalarchives/tools/colour";
@use "../src/nationalarchives/tools/media";

.sb-show-main.sb-main-padded {
  padding: 0;
}

#storybook-docs {
  width: 800px;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  padding: 2rem;

  background-color: #ddd;

  outline: #ddd 100vmax solid;
}

.sbdocs {
  &.sbdocs-wrapper {
    max-width: 100%;
    min-height: 0;
    margin: 0;
    padding: 2rem;

    box-shadow:
      0 1rem 2rem rgba(0, 0, 0, 0.125),
      0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);

    border-radius: 0.25rem;
  }

  &.sbdocs-content {
    max-width: none;
  }
}

.sb-story.sb-unstyled {
  @include colour.colour-css-vars;

  @include colour.colour-background("page-background");
}

.tna-template--padded {
  > .tna-template__body {
    padding: 16px;
  }
}

.tna-grid--demo {
  padding-top: 2rem;

  background-color: #bbb;

  .tna-column {
    min-height: 6rem;
    margin-bottom: 2rem;

    position: relative;

    background-color: #aaa;
    background-clip: content-box;

    &::before {
      padding: 0.5rem;

      position: absolute;
      right: 1rem;
      bottom: 0;
      left: 1rem;

      color: #fff;
      line-height: 1;
      font-family: "Courier New", Courier, monospace;
      font-size: 0.75rem;

      background-color: #111;

      content: attr(class);

      @include media.on-mobile {
        right: 0.75rem;
        left: 0.75rem;
      }
    }

    &::after {
      height: 1.75rem;

      display: block;

      content: "";
    }

    &:nth-child(odd) {
      background-color: #eee;
    }

    &:nth-child(even) {
      background-color: #ccc;
    }
  }

  &.tna-container--no-padding-all {
    .tna-column {
      &::before {
        right: 0;
        left: 0;
      }
    }
  }

  &-tall {
    .tna-column {
      min-height: 10rem;
    }
  }
}

.tna-card--demo {
  max-width: 400px;

  &.tna-card--horizontal {
    max-width: 800px;
  }
}

.tna-sensitive-image--demo {
  max-width: 480px;
}

.tna-picture--demo {
  max-width: 480px;
}
