@use "sass:math";

@use "../src/nationalarchives/tools/colour";
@use "../src/nationalarchives/tools/media";
@use "../src/nationalarchives/tools/typography";

@import "https://use.typekit.net/kaq6qqh.css";

.sb-show-main.sb-main-padded {
  padding: 0;
}

#storybook-docs {
  width: 800px;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  padding: 2rem;

  background-color: #ddd;

  outline: #ddd 100vmax solid;
}

.sbdocs {
  &.sbdocs-wrapper {
    max-width: 100%;
    min-height: 0;
    margin: 0;
    padding: 2rem;

    box-shadow:
      0 1rem 2rem rgb(0 0 0/0.125),
      0 0.25rem 0.5rem rgb(0 0 0/0.25);

    border-radius: 0.25rem;
  }

  &.sbdocs-content {
    max-width: none;
  }
}

#storybook-docs {
  div.docs-story {
    background-position:
      16px 16px,
      16px 16px,
      16px 16px,
      16px 16px !important;

    > div {
      margin: 0;
      padding: 1rem;

      .innerZoomElementWrapper {
        > * {
          border: none !important;
        }
      }
    }
  }
}

.sb-story.sb-unstyled {
  @include colour.colour-css-vars;

  @include colour.colour-background("page-background");
}

.tna-template--padded {
  > .tna-template__body {
    padding: 16px;
  }
}

.tna-grid--demo {
  padding-top: 2rem;

  background-color: #bbb;

  .tna-column {
    min-height: 6rem;
    margin-bottom: 2rem;

    position: relative;

    background-color: #aaa;
    background-clip: content-box;

    &::before {
      padding: 0.5rem;

      position: absolute;
      right: 1rem;
      bottom: 0;
      left: 1rem;

      color: #fff;
      line-height: 1;
      font-family: "Courier New", Courier, monospace;
      font-size: 0.75rem;

      background-color: #111;

      content: attr(class);

      @include media.on-tiny {
        right: 0.5rem;
        left: 0.5rem;
      }
    }

    &::after {
      height: 1.75rem;

      display: block;

      content: "";
    }

    &:nth-child(odd) {
      background-color: #eee;
    }

    &:nth-child(even) {
      background-color: #ccc;
    }
  }

  &.tna-container--no-padding-all {
    .tna-column {
      &::before {
        right: 0;
        left: 0;
      }
    }
  }

  &-tall {
    .tna-column {
      min-height: 10rem;
    }
  }
}

.tna-card--demo {
  max-width: 400px;

  &.tna-card--horizontal {
    max-width: 800px;
  }
}

.tna-sensitive-image--demo {
  max-width: 480px;
}

.tna-spacing-demo {
  p {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    @include colour.colour-background("background-tint");
  }
}

.tna-colour-contrast-demo {
  width: 0;
  max-width: calc(100% - 1px);
  display: table;
  table-layout: auto;

  border-top: rgb(0 0 0/0.25) 1px solid;
  border-left: rgb(0 0 0/0.25) 1px solid;

  &__header {
    display: table-header-group;
  }

  &__block {
    // width: #{math.div(100%, 6)};
    padding: 1rem;

    display: table-cell;

    @include typography.main-font-weight-bold;

    border-right: rgb(0 0 0/0.25) 1px solid;
    border-bottom: rgb(0 0 0/0.25) 1px solid;
  }

  &__examples {
    display: table-row-group;
  }

  &__theme-accent {
    display: table-row;
  }

  &__example {
    display: table-cell;

    border-right: rgb(0 0 0/0.25) 1px solid;
    border-bottom: rgb(0 0 0/0.25) 1px solid;

    &:first-child {
      min-width: 7rem;
      padding: 1rem;

      @include typography.relative-font-size(14);
    }

    &-content {
      height: 100%;
      padding: 1rem;
    }
  }

  &__link {
    &--visited {
      @include colour.colour-font("link-visited", true);
    }
  }

  .tna-template {
    min-width: 15.25rem;

    p:not(:first-child) {
      margin-top: 0.25rem;
    }
  }

  .tna-form__group {
    margin-top: 0.5rem;
  }

  .tna-chip-list {
    margin-top: 1rem;

    flex-wrap: nowrap;
  }

  .fa-solid {
    // margin-left: 0.5rem;

    &.light-icon {
      @include colour.colour-font("icon-light", true);
    }
  }

  .tna-button-group {
    margin-top: 1rem;

    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .tna-form__group-contents,
  .tna-form__heading {
    font-size: 0;
    line-height: 0;
  }

  .tna-pagination {
    margin-top: 1rem;
  }

  .dark-text {
    @include colour.colour-font("font-dark", true);
  }

  .light-text {
    @include colour.colour-font("font-light", true);
  }
}
