.sb-show-main.sb-main-padded {
  padding: 0;
}

.tna-template--padded {
  .tna-template__body {
    padding: 24px;
  }
}

.tna-grid--demo {
  padding-top: 2rem;

  background-color: #bbb;

  .tna-column {
    min-height: 6rem;
    margin-bottom: 2rem;

    position: relative;

    background-color: #aaa;
    background-clip: content-box;

    &::before {
      padding: 0.5rem;

      position: absolute;
      right: 1rem;
      bottom: 0;
      left: 1rem;

      color: #fff;
      line-height: 1;
      font-family: "Courier New", Courier, monospace;
      font-size: 0.75rem;

      background-color: #111;

      content: attr(class);
    }

    &::after {
      height: 1.75rem;

      display: block;

      content: "";
    }

    &:nth-child(odd) {
      background-color: #eee;
    }
    &:nth-child(even) {
      background-color: #ccc;
    }
  }

  &.tna-container--no-padding-all {
    .tna-column {
      &::before {
        right: 0;
        left: 0;
      }
    }
  }
}

.tna-card--demo {
  max-width: 300px;
}

.tna-card--featured {
  max-width: 600px;
}

.tna-sensitive-image--demo {
  max-width: 400px;
}
