@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../utilities";

.tna-filters {
  @include spacing.space-above;

  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 1rem;

  &__item {
  }

  &__link {
    padding: 0.125rem 0.75rem;

    text-decoration: none;

    @include colour.tint;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-base");
    }

    border-radius: 99rem;

    &:hover {
      @include colour.accent-light;
    }
  }

  &__item--selected &__link {
    &,
    &:link,
    &:visited,
    &:hover {
      @include colour.accent;
    }
  }
}
