@use "../tools/colour";

.tna-visually-hidden {
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;

  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  z-index: -1 !important;

  overflow: hidden !important;

  clip: rect(0, 0, 0, 0) !important;

  border: 0 !important;

  background-color: transparent !important;

  &::before,
  &::after {
    content: "\00a0";
  }
}

*:focus {
  z-index: 9;

  @include colour.colour-outline("focus-outline", 0.3125rem, solid);
  outline-offset: 0.125rem;
}

.tna-\!--no-focus-style {
  &:focus {
    outline: none;
  }
}
