@use "../tools/a11y";

.tna-visually-hidden,
.tna-\!--visually-hidden {
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;

  overflow: hidden !important;

  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  z-index: -1 !important;

  background-color: transparent !important;

  border: 0 !important;

  clip: rect(0, 0, 0, 0) !important;

  // &::before,
  // &::after {
  //   content: "\00a0";
  // }
}

*:focus-visible {
  z-index: 9;

  @include a11y.focus-outline;
}

@supports not selector(:focus-visible) {
  *:focus {
    z-index: 9;

    @include a11y.focus-outline;
  }
}

a,
button,
input,
textarea,
select,
summary {
  &:active {
    @include a11y.focus-outline-without-offset;
  }
}

*:active {
  @include a11y.active-outline;
}

.tna-\!--no-focus-style,
*[tabindex="-1"] {
  &:focus {
    outline: none;
  }
}
