@use "../tools/colour";
@use "../tools/media";
@use "../tools/spacing";

.tna-section {
  padding-top: spacing.space(3);
  padding-bottom: spacing.space(3);

  @include media.on-mobile {
    padding-top: spacing.space(2);
    padding-bottom: spacing.space(2);
  }
}

.tna-aside {
  padding: spacing.space(2);

  @include spacing.space-above;

  @include media.on-mobile {
    padding: spacing.space(1);
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);
  }

  &--tight {
    padding: spacing.space(1);
  }
}
