@use "../tools/borders";
@use "../tools/colour";
@use "../tools/media";
@use "../tools/spacing";

.tna-section {
  padding-top: spacing.space(3);
  padding-bottom: spacing.space(3);
}

.tna-aside {
  @include spacing.space-above;
  padding: spacing.space(2);

  @include borders.rounded-border;

  @include colour.on-high-contrast-and-forced-colours {
    @include colour.colour-border("keyline-dark", 1px);
  }

  &--tight {
    padding: spacing.space(1);
  }
}

@include media.on-mobile {
  .tna-section {
    padding-top: spacing.space(2);
    padding-bottom: spacing.space(2);
  }

  .tna-aside {
    padding: spacing.space(1);
  }
}
