@use "../tools/colour";
@use "../tools/media";
@use "../tools/spacing";

.tna-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media.on-mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.tna-aside {
  padding: 2rem;

  @include spacing.space-above;

  @include media.on-mobile {
    padding: 1rem;
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);
  }

  &--tight {
    padding: 1rem;
  }
}
