@use "../tools/colour";

.tna-template {
  @include colour.colour-background("page-background");

  &--system-theme,
  &--light-theme {
    @include colour.colour-css-vars;
    // @include colour.light;
  }

  &--system-theme {
    @media (prefers-color-scheme: dark) {
      @include colour.colour-css-vars-dark;
    }

    @media (prefers-contrast: more) {
      @include colour.colour-css-vars-high-contrast;

      * {
        background-image: none !important;
      }
    }

    @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
      @include colour.colour-css-vars-high-contrast-dark;
    }
  }

  // &--light-theme {
  //   @include colour.colour-css-vars;
  // }

  &--dark-theme {
    @include colour.colour-css-vars-dark;
  }

  &--high-contrast-theme {
    @include colour.colour-css-vars-high-contrast;

    * {
      background-image: none !important;
    }

    &.tna-template--dark-theme {
      @include colour.colour-css-vars-high-contrast-dark;
    }
  }

  &--yellow-accent {
    --accent-background: #{colour.brand-colour("yellow")} !important;
    --accent-background-light: #{colour.brand-colour("cream")} !important;
    // --accent-font-base: #{colour.brand-colour("black")} !important;
    // --accent-font-dark: #{colour.brand-colour("black")} !important;
    // --accent-font-light: #{colour.brand-colour("black", 0.7)} !important;
    // --accent-icon-light: #{colour.brand-colour("black", 0.45)} !important;
    // --accent-link: #{colour.brand-colour("black")} !important;
    // --accent-link-visited: #{colour.brand-colour("black")} !important;
    // --accent-keyline: #{colour.brand-colour("black", 0.5)} !important;
    // --accent-keyline-dark: #{colour.brand-colour("black", 0.8)} !important;
    --button-accent-background: #{colour.brand-colour("yellow")} !important;
  }

  &--pink-accent,
  &--orange-accent,
  &--green-accent,
  &--blue-accent {
    --accent-font-base: #{colour.brand-colour("white")} !important;
    --accent-font-dark: #{colour.brand-colour("white")} !important;
    --accent-font-light: #{colour.brand-colour("white", 0.7)} !important;
    --accent-icon-light: #{colour.brand-colour("white", 0.45)} !important;
    --accent-link: #{colour.brand-colour("white")} !important;
    --accent-link-visited: #{colour.brand-colour("white")} !important;
    --accent-keyline: #{colour.brand-colour("white", 0.5)} !important;
    --accent-keyline-dark: #{colour.brand-colour("white", 0.8)} !important;
    --button-accent-text: #{colour.brand-colour("white")} !important;
  }

  &--pink-accent {
    --accent-background: #{colour.brand-colour("maroon")} !important;
    --accent-background-light: #{colour.brand-colour("pastel-pink")} !important;
    --button-accent-background: #{colour.brand-colour("maroon")} !important;
  }

  &--orange-accent {
    --accent-background: #{colour.brand-colour("chestnut")} !important;
    --accent-background-light: #{colour.brand-colour("pastel-orange")} !important;
    --button-accent-background: #{colour.brand-colour("chestnut")} !important;
  }

  &--green-accent {
    --accent-background: #{colour.brand-colour("forest")} !important;
    --accent-background-light: #{colour.brand-colour("pastel-green")} !important;
    --button-accent-background: #{colour.brand-colour("forest")} !important;
  }

  &--blue-accent {
    --accent-background: #{colour.brand-colour("navy")} !important;
    --accent-background-light: #{colour.brand-colour("pastel-blue")} !important;
    --button-accent-background: #{colour.brand-colour("navy")} !important;
  }
}

.tna-background {
  &-tint {
    @include colour.tint;
  }

  &-contrast {
    @include colour.contrast;
  }

  &-accent {
    @include colour.accent;
  }

  &-accent-light {
    @include colour.accent-light;
  }
}

.tna-border {
  &-keyline {
    @include colour.colour-border("keyline", 1px);
  }

  &-keyline-dark {
    @include colour.colour-border("keyline-dark", 1px);
  }
}
