@use "../utilities/typography" as typographyUtilities;
@use "../tools/colour";
@use "../tools/media";
@use "../tools/spacing";
@use "../tools/typography";

button,
input,
select {
  border-radius: 0.1px;
}

.tna-form {
  &__group {
    @include spacing.space-above;

    &--error {
      padding-left: 1rem;

      @include colour.thick-keyline-error(left);
    }
  }

  &__fieldset {
    flex: 1;

    border: none;
  }

  &__group,
  &__fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &__group--inline,
  &__group--inline &__fieldset {
    flex-direction: row;
    align-items: flex-start;

    @include media.on-mobile {
      flex-direction: column;
    }
  }

  &__group-contents {
    flex: 0 0 39%;
  }

  &__legend {
    margin-bottom: 0.5rem;
  }

  &__heading {
    margin: 0;

    @extend %heading;

    &--xl {
      @extend %heading-xl;
    }

    &--l {
      @extend %heading-l;
    }

    &--m {
      @extend %heading-m;
    }

    &--s {
      @extend %heading-s;
    }

    &--xs {
      font-size: 1em;
      @include typography.main-font;
    }
  }

  &__label {
  }

  &__hint {
    margin-top: 0;

    @include typography.relative-font-size(16);
    @include colour.colour-font("font-light");
  }

  &__error-message {
    margin-top: 0;

    @include colour.colour-font("form-error");
    @include typography.main-font-weight-bold;
  }
}
