@use "../utilities/typography" as typographyUtilities;
@use "../tools/colour";
@use "../tools/spacing";
@use "../tools/typography";

.tna-form {
  &__group {
    display: block;

    @include spacing.space-below;

    &--error {
      padding-left: 1rem;

      @include colour.colour-border("form-error", 0.25rem, solid, left);
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;

    border: none;
  }

  &__legend {
  }

  &__hint {
    @include typography.relative-font-size(16);
    @include colour.colour-font("font-light");
  }

  &__error-message {
    @include colour.colour-font("form-error");
    @include typography.main-font-weight-bold;
  }

  &__heading {
    margin: 0;

    @extend %heading;

    &--m {
      @extend %heading-m;
    }

    &--s {
      @extend %heading-s;
    }
  }

  &__label {
    @include typography.main-font-weight-bold;
  }
}
