@use "../tools/colour";
@use "../tools/media";
@use "../tools/spacing";
@use "../variables/typography";

.tna-template {
  min-width: 320px;
  width: 100%;
  height: 100%;

  /*
   * ------------------------------------------
   * Support ended with iOS 13 released on 19th
   * September 2019. Deprecate in the future if
   * iOS <13 share drops low enough.
   * https://caniuse.com/mdn-css_properties_-webkit-overflow-scrolling
   * ------------------------------------------
   */
  -webkit-overflow-scrolling: touch;

  font-size: #{typography.$relative-1rem-px}px;
}

.tna-template__body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  &:has(.tna-header):has(#main-content[role="main"]):has(.tna-footer) {
    display: flex;
    flex-direction: column;

    #main-content {
      flex: 1;
    }
  }
}

img,
svg,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;

  display: block;
}

video,
canvas {
  width: 100%;
}

[hidden] {
  display: none !important;
}

hr {
  margin: 0;

  border-width: 1px 0 0;
  @include colour.colour-border("keyline");
  border-style: solid;
}

.tna-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media.on-mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.tna-aside {
  padding: 2rem;

  @include spacing.space-above;

  @include media.on-mobile {
    padding: 1rem;
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);
  }

  &--tight {
    padding: 1rem;
  }
}
