.tna-template {
  min-width: 320px;
  width: 100%;
  height: 100%;

  /*
   * ------------------------------------------
   * Support ended with iOS 13 released on 19th
   * September 2019. Deprecate in the future if
   * iOS <13 share drops low enough.
   * https://caniuse.com/mdn-css_properties_-webkit-overflow-scrolling
   * ------------------------------------------
   */
  -webkit-overflow-scrolling: touch;
}

.tna-template__body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  &:has(.tna-header):has(#main-content[role="main"]):has(.tna-footer) {
    display: flex;
    flex-direction: column;

    #main-content {
      flex: 1;
    }
  }
}
