@use "../features";
@use "../tools/colour";
@use "../tools/media";
@use "../variables/typography";

:root {
  @include colour.colour-css-vars;
}

.tna-template {
  min-width: 320px;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  font-size: #{typography.$base-font-size-px}px;

  @include colour.colour-background("page-background");

  accent-color: var(--accent);

  &--system-theme {
    @include colour.colour-css-vars;

    @media (prefers-color-scheme: dark) {
      @include colour.colour-css-vars-dark;
    }

    @media (prefers-contrast: more) {
      @include colour.colour-css-vars-high-contrast;

      * {
        background-image: none !important;
      }
    }

    @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
      @include colour.colour-css-vars-high-contrast-dark;
    }
  }

  &--light-theme {
    @include colour.colour-css-vars;
  }

  &--dark-theme {
    @include colour.colour-css-vars-dark;
  }

  &--high-contrast-theme {
    @include colour.colour-css-vars-high-contrast;

    * {
      background-image: none !important;
    }

    &.tna-template--dark-theme {
      @include colour.colour-css-vars-high-contrast-dark;
    }
  }

  @include colour.accent-css-vars("black"); // TODO: Temp

  // &--black-accent {
  //   @include colour.accent-css-vars("black");
  // }

  &--yellow-accent {
    @include colour.accent-css-vars("yellow");
  }

  &--pink-accent {
    @include colour.accent-css-vars("pink");
  }

  &--orange-accent {
    @include colour.accent-css-vars("orange");
  }

  &--green-accent {
    @include colour.accent-css-vars("green");
  }

  &--blue-accent {
    @include colour.accent-css-vars("blue");
  }

  @media (prefers-reduced-motion) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
}

.tna-template__body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  overflow: auto;

  &:has(.tna-header):has(#main-content[role="main"]):has(.tna-footer) {
    display: flex;
    flex-direction: column;

    #main-content[role="main"] {
      flex: 1;
    }
  }
}

img,
svg,
video,
canvas {
  max-width: 100%;

  display: block;
}

video,
canvas {
  width: 100%;
}

[hidden] {
  display: none;
}

*:focus {
  // outline: 0.3125rem colour.$focus-colour solid;
  outline: 0.3125rem solid;
  @include colour.colour-outline("focus-outline");
  outline-offset: 0.125rem;
}

hr {
  margin: 3rem 0;

  border-width: 1px 0 0;
  @include colour.colour-border("keyline");
  border-style: solid;

  // @include colour.on-high-contrast {
  //   border-style: solid;
  // }
}

.tna-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media.on-mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.tna-aside {
  margin-bottom: 2rem;
  padding: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include media.on-mobile {
    padding: 1rem;
  }

  @include colour.on-high-contrast {
    @include colour.colour-border("keyline-dark", 1px);
  }
}

.tna-background--contrast {
  @include colour.invert;
}

.tna-background--accent {
  @include colour.accent;
}

.tna-background--accent-light {
  @include colour.light-accent-background;
}

.tna-visually-hidden {
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;

  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  z-index: -1 !important;

  overflow: hidden !important;

  clip: rect(0, 0, 0, 0) !important;

  border: 0 !important;

  background-color: transparent !important;

  &::before,
  &::after {
    content: "\00a0";
  }
}
