@use "../features";
@use "../tools/colour";
@use "../variables/typography";

:root {
  @include colour.colour-css-vars;

  @media (prefers-color-scheme: dark) {
    @include colour.colour-css-vars-dark;
  }

  @media (prefers-contrast: more) {
    @include colour.colour-css-vars-high-contrast;

    * {
      background-image: none !important;
    }
  }

  @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
    @include colour.colour-css-vars-high-contrast-dark;
  }
}

.tna-template {
  min-width: 320px;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  font-size: #{typography.$base-font-size-px}px;

  @include colour.colour-background("page-background");

  // &--black-accent {
  //   accent-color: colour.$_tna-black;
  // }

  // &--yellow-accent {
  //   accent-color: colour.$_tna-yellow;
  // }

  // &--pink-accent {
  //   accent-color: colour.$_tna-pink;
  // }

  // &--orange-accent {
  //   accent-color: colour.$_tna-orange;
  // }

  // &--green-accent {
  //   accent-color: colour.$_tna-green;
  // }

  // &--blue-accent {
  //   accent-color: colour.$_tna-blue;
  // }

  /* &--system-theme {
    @include colour.colour-css-vars;

    @media (prefers-color-scheme: dark) {
      @include colour.colour-css-vars-dark;
    }

    @media (prefers-contrast: more) {
      @include colour.colour-css-vars-high-contrast;

      * {
        background-image: none !important;
      }
    }

    @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
      @include colour.colour-css-vars-high-contrast-dark;
    }
  } */

  &--light-theme {
    @include colour.colour-css-vars;
  }

  &--dark-theme {
    @include colour.colour-css-vars-dark;
  }

  &--high-contrast-theme {
    @include colour.colour-css-vars-high-contrast;

    * {
      background-image: none !important;
    }

    &.tna-template--dark-theme {
      @include colour.colour-css-vars-high-contrast-dark;
    }
  }

  @media (prefers-reduced-motion) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
}

.tna-template__body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  // @include colour.colour-background("page-background");

  overflow: auto;
}

img,
svg,
video,
canvas {
  max-width: 100%;

  display: block;
}

video,
canvas {
  width: 100%;
}

[hidden] {
  display: none;
}

*:focus {
  // outline: 0.3125rem colour.$focus-colour solid;
  outline: 0.3125rem solid;
  @include colour.colour-outline("focus-outline");
  outline-offset: 0.125rem;
}

hr {
  margin: 1rem;

  border-width: 1px 0 0;
  @include colour.colour-border("keyline");
  border-style: solid;
}

.tna-visually-hidden {
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;

  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  z-index: -1 !important;

  overflow: hidden !important;

  clip: rect(0, 0, 0, 0) !important;

  border: 0 !important;

  background-color: transparent !important;
}
