@use "../tools/colour";
@use "../tools/media";
@use "../tools/spacing";
@use "../tools/typography";

.tna-ul,
.tna-ol {
  margin: 1rem 0 0;
  padding: 0 0 0 2rem;

  &:first-child {
    margin-top: 0;
  }

  li::marker {
    @include colour.colour-font("accent-background");
    font-weight: 700;
  }

  &--plain {
    padding-left: 0;

    list-style: none;
  }

  .tna-ul,
  .tna-ol {
    margin-top: 0;
  }
}

@mixin stacked-dl {
  dt,
  dd {
    width: 100%;
    margin-left: 0;
  }

  dd {
    padding-left: 1rem;
  }

  &.tna-dl--plain {
    dt {
      padding-top: 0;
      padding-bottom: 0;

      .fa-solid {
        margin-top: 0;
      }
    }

    dd {
      margin-left: 0;
      padding-top: 0;
    }
  }

  &:not(.tna-dl--plain) {
    dt {
      @include colour.colour-background("background-tint");
    }

    dd {
      background: transparent !important;

      margin-left: 0;
    }
  }
}

.tna-dl {
  margin: 1rem 0 0;

  display: flex;
  flex-wrap: wrap;

  &:first-child {
    margin-top: 0;
  }

  dt,
  dd {
    margin: 0;
    padding: 0.5rem 1rem;

    position: relative;

    box-sizing: border-box;

    word-wrap: break-word;
  }

  &--plain {
    dt {
      padding-top: 0;
      padding-left: 0;
    }

    dd {
      padding-top: 0;
      padding-right: 0;
    }
  }

  dt {
    width: 30%;

    @include typography.main-font-weight-bold;
  }

  dd {
    width: 70%;

    + dd {
      margin-left: 30%;
    }
  }

  &--icon-padding {
    dt {
      padding-left: 3rem !important;

      position: relative;

      .fa-solid {
        overflow: visible;

        position: absolute;
        top: 50%;
        left: 1rem;

        @include colour.colour-font("icon-light");
        text-align: left;

        transform: translateY(-50%);
      }
    }
  }

  &--icon-padding#{&}--plain {
    dt {
      padding-left: 2rem !important;

      .fa-solid {
        margin-top: -0.25rem;

        left: 0;
      }
    }

    dd {
      padding-left: 2rem;
    }
  }

  &:not(&--plain) {
    dt:first-child,
    dd:nth-of-type(2n) + dt,
    dd:nth-of-type(2n + 1) {
      @include colour.colour-background("background-tint");
    }
  }

  @include media.on-small {
    dt {
      width: 35%;
    }

    dd {
      width: 65%;

      + dd {
        margin-left: 35%;
      }
    }
  }

  &--stacked {
    @include stacked-dl;
  }

  @include media.on-tiny {
    @include stacked-dl;
  }

  @include colour.on-high-contrast-and-forced-colours {
    @include colour.colour-border("keyline-dark", 1px, solid, bottom);

    dt,
    dd {
      background: transparent !important;

      @include colour.colour-border("keyline-dark", 1px, solid, top);
    }
  }
}
