@use "../tools/colour";
@use "../tools/typography";

* {
  margin: 0;
  padding: 0;

  @media (prefers-reduced-motion) {
    &,
    &::before,
    &::after {
      animation: none !important;
      transition: none !important;
    }
  }

  @media (prefers-contrast: more) {
    background-image: none;
  }
}

/*
 * ------------------------------------------
 * Disable the "Auto dark mode" feature as we
 * have our own dark theme
 * ------------------------------------------
 */
:root {
  color-scheme: only light;
}

/*
 * ------------------------------------------
 * If the browser supports -apple-system-body
 * which at the moment is just iOS then using
 * the system body font we can respond to the
 * Dynamic Type setting in iOS
 * ------------------------------------------
 */
@supports (font: -apple-system-body) {
  html {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font: -apple-system-body;
  }
}

/*
 * ------------------------------------------
 * Disable Apple's Dynamic Type for non-touch
 * devices (like Mac OS), because the default
 * system body size is defined as 13px rather
 * than 16px like on other devices
 * ------------------------------------------
 */
@supports (font: -apple-system-body) and (not (-webkit-touch-callout: default)) {
  html {
    @include typography.font-size(16);
  }
}

img,
svg,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;

  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

[hidden] {
  display: none !important;
}

hr {
  @include colour.colour-border("keyline", 0, solid);
  border-top-width: 1px;

  &.tna-hr-dark {
    @include colour.colour-border("keyline-dark");
  }
}
