@use "sass:math";
@use "sass:selector";
@use "../tools/colour";
@use "../tools/grid";
@use "../tools/media";
@use "../tools/spacing";
@use "../tools/typography";

.tna-table {
  width: 100%;
  @include spacing.space-above;

  border-collapse: collapse;

  text-align: left;

  &:first-child {
    margin-top: 0;
  }

  &__caption {
    padding: #{spacing.space(1)} 0;

    caption-side: bottom;

    @include typography.relative-font-size(16);
  }

  &__head {
    vertical-align: bottom;
  }

  &__body {
    vertical-align: top;
  }

  &__foot {
    @include typography.main-font-weight-bold;
    vertical-align: top;
  }

  &__row {
  }

  &__header {
  }

  &__cell {
  }

  &__header,
  &__cell {
    padding: #{spacing.space(0.25)} #{spacing.space(1)};

    @include colour.colour-border("keyline", 1px, solid, bottom);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &--numeric {
      text-align: right;
    }
  }

  &__head &__header {
    @include colour.colour-border("keyline-dark", 4px, solid, bottom);
  }

  &__foot &__header,
  &__foot &__cell {
    @include colour.colour-border("keyline-dark", 4px, solid, top);
  }

  p {
    + p {
      margin-top: spacing.space(0.25);
    }
  }
}

.tna-table-wrapper {
  width: 100%;
  @include spacing.space-above;
  padding-left: grid.gutter-width();
  padding-right: grid.gutter-width();

  position: relative;
  left: -#{grid.gutter-width()};

  overflow: auto;

  @include media.on-tiny {
    padding-left: grid.gutter-width-tiny();
    padding-right: grid.gutter-width-tiny();

    left: -#{grid.gutter-width-tiny()};
  }
}
