@use "../variables/typography";
@use "../tools/typography" as tools;

// Temporary - will eventually bundle font files into package
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@500;700&display=swap");
@import url("https://use.typekit.net/hkj3kuz.css");

.tna-template {
  font-family: typography.$fontFamilyMain;
  font-weight: typography.$fontWeightMain;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  direction: ltr;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin: 0 0 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    &,
    &:link {
      &:hover {
        text-decoration-thickness: 3px;
      }

      &:active {
        text-decoration-thickness: 4px;
      }
    }
  }
}

// $block-text-elements: p, ul, ol;
// $block-text-elements-selector: "";
// @each $element in $block-text-elements {
//   .tna-template #{$element},
//   .tna-#{$element} {
//     margin: 0 0 2rem;

//     outline: 1px #f90 solid;

//     &:first-child {
//       margin-top: 0;
//     }
//   }
// }
.tna-template p,
.tna-p,
.tna-template ul,
.tna-ul,
.tna-template ol,
.tna-ol {
  // margin: 0 0 2rem;

  // outline: 1px #f90 solid;

  // &:first-child {
  //   margin-top: 0;
  // }
}

// $list-elements: ul, ol;
// @each $element in $list-elements {
//   .tna-template #{$element},
//   .tna-#{$element} {
//     padding-left: 2rem;

//     &.tna-#{$element}--plain {
//       padding-left: 0;

//       list-style: none;
//     }
//   }
// }
.tna-template ul,
.tna-ul,
.tna-template ol,
.tna-ol {
  padding-left: 2rem;

  li::marker {
    color: #f0a;
    font-weight: 700;
  }
}

.tna-template .tna-ul--plain,
.tna-template .tna-ol--plain {
  padding-left: 0;

  list-style: none;
}

.tna-template__body {
  @include tools.relativeFontSize(16);
  line-height: 1.6;
}

.tna-heading {
  margin-bottom: 2rem;

  font-family: typography.$fontFamilyHeading;
  font-weight: typography.$fontWeightHeading;
}

.tna-heading--xl {
  @include tools.relativeFontSize(64);
}

.tna-heading--l {
  @include tools.relativeFontSize(32);
}

.tna-heading--m {
  @include tools.relativeFontSize(20);
}

.tna-heading--s {
  @include tools.relativeFontSize(18);
}

.tna-hgroup {
}

.tna-hgroup__supertitle {
  @include tools.relativeFontSize(14);
  font-family: typography.$fontFamilyDetail;
  font-weight: typography.$fontWeightDetail;
  text-transform: uppercase;

  .tna-hgroup & {
    margin: 0;
  }
}

.tna-hgroup__title {
  .tna-hgroup__supertitle {
    display: block;
  }
}

.tna-hgroup--xl {
  .tna-hgroup__supertitle {
  }

  .tna-hgroup__title {
    @include tools.relativeFontSize(64);
  }
}

.tna-hgroup--l {
  .tna-hgroup__supertitle {
  }

  .tna-hgroup__title {
    @include tools.relativeFontSize(32);
  }
}

.tna-hgroup--m {
  .tna-hgroup__supertitle {
  }

  .tna-hgroup__title {
    @include tools.relativeFontSize(20);
  }
}

.tna-hgroup--s {
  .tna-hgroup__supertitle {
  }

  .tna-hgroup__title {
    @include tools.relativeFontSize(18);
  }
}
