@use "sass:math";
@use "sass:selector";
@use "../tools/colour";
@use "../tools/media";
@use "../tools/spacing";
@use "../tools/typography";
@use "../variables/assets";
@use "../variables/grid";
@use "../variables/typography" as typographyVars;

@if typographyVars.$use-local-fonts {
  @font-face {
    font-family: "Open Sans";
    src: url("#{assets.$tna-font-path}/OpenSans-Regular.ttf");
    font-weight: typographyVars.$main-font-weight;
    font-style: normal;
    // font-display: swap;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("#{assets.$tna-font-path}/OpenSans-Bold.ttf");
    font-weight: typographyVars.$main-font-weight-bold;
    font-style: normal;
    // font-display: swap;
  }

  @font-face {
    font-family: "Roboto Mono";
    src: url("#{assets.$tna-font-path}/RobotoMono-Regular.ttf");
    font-weight: typographyVars.$detail-font-weight;
    font-style: normal;
    // font-display: swap;
  }

  @font-face {
    font-family: "Roboto Mono";
    src: url("#{assets.$tna-font-path}/RobotoMono-Medium.ttf");
    font-weight: typographyVars.$detail-font-weight-bold;
    font-style: normal;
    // font-display: swap;
  }
} @else {
  // @import "https://use.typekit.net/hkj3kuz.css";
  @import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@#{typographyVars.$main-font-weight};#{typographyVars.$main-font-weight-bold}&family=Roboto+Mono:wght@#{typographyVars.$detail-font-weight};#{typographyVars.$detail-font-weight-bold}&display=swap";
}

.tna-template {
  @include colour.colour-font("font-base");
  @include typography.main-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  direction: ltr;
}

.tna-template__body {
  color: inherit;
  @include typography.relative-font-size(typographyVars.$body-font-size-px);
  line-height: typographyVars.$body-line-height;

  @include media.on-mobile {
    @include typography.relative-font-size(
      typographyVars.$body-font-size-px-mobile
    );
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-top: 0;
}

strong {
  @include typography.main-font-weight-bold;
}

p {
  margin: 2rem 0 0;

  + p {
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }
}

a {
  text-decoration-thickness: 1.5px;

  &,
  &:link {
    @include colour.colour-font("link");
  }

  &:visited {
    @include colour.colour-font("link-visited");
  }

  &:hover,
  &:active {
    @include typography.interacted-text-decoration;
  }

  &.tna-link--no-visited-state {
    &:visited {
      @include colour.colour-font("link");
    }
  }

  @include colour.on-high-contrast {
    &:active {
      box-shadow: none;
    }

    &:hover:not(:focus) {
      box-shadow: 0 0 0 0.3125rem var(--link);
    }
  }

  // &[target="_blank"]:not([title*="opens in a new"]) {
  //   &::after {
  //     content: "" / " (opens in a new window)"
  //   }
  // }
}

small {
  @include typography.relative-font-size(
    typographyVars.$body-font-size-px * 0.85
  );
}

// .tna-detail[title][data-type] {
//   padding: 0 0.375rem;

//   display: inline-flex;
//   flex-flow: row nowrap;
//   align-items: baseline;
//   gap: 0.5rem;

//   vertical-align: baseline;

//   background-color: #ccc;

//   &::after {
//     @include colour.colour-font("font-base");
//     @include typography.detail-font-small;
//     vertical-align: baseline;

//     content: attr(data-type) / "";
//   }

//   &[data-type="misc"] {
//     background-color: #f28482;
//   }

//   &[data-type="loc"] {
//     background-color: #edae49;
//   }

//   &[data-type="per"] {
//     background-color: #b5e2fa;
//   }

//   @at-root #{selector.unify("a", &)} {
//     @include colour.colour-font("font-base");

//     &::after {
//       text-decoration: none;
//     }
//   }
// }

.tna-chip-list {
  @include spacing.space-above;
  margin-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  list-style: none;

  &__item {
  }
}

%chip {
  max-width: max-content;
  padding: 0.125em 0.25rem;

  display: block;

  @include colour.colour-font("font-dark");
  @include typography.detail-font-small;
  line-height: 1;

  @include colour.accent;

  @include colour.colour-border("accent-background", 0.125rem);
}

.tna-chip {
  @extend %chip;

  &--plain {
    padding: 0;

    color: inherit;

    background-color: transparent;

    border: none;
  }

  @at-root #{selector.unify("a", &)} {
    text-decoration: none;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-dark");
    }

    &:hover {
      @include typography.interacted-text-decoration;
    }

    &--plain {
      &,
      &:link,
      &:visited {
        color: inherit;
      }
    }
  }
}

%heading {
  @include colour.colour-font("font-dark");

  &:not(.tna-heading--no-link-arrow) {
    a {
      display: inline-block;

      text-wrap: balance;
      // text-decoration-thickness: .1em;

      &::after {
        padding-left: 0.25rem;

        display: inline-block;

        font-weight: 700;

        content: "\203A";
      }

      &:hover {
        // text-decoration-thickness: .15em;

        &::after {
          padding-left: 0.5rem;
        }
      }
    }
  }
}

%heading-xl {
  @extend %heading;

  @include typography.heading-font;
  @include typography.relative-font-size(64);
  line-height: 1.2;

  @include media.on-medium {
    @include typography.relative-font-size(42);
  }

  @include media.on-mobile {
    @include typography.relative-font-size(36);
  }
}

%heading-l {
  @extend %heading;

  @include typography.heading-font;
  @include typography.relative-font-size(32);
  line-height: 1.3;

  @include media.on-medium {
    @include typography.relative-font-size(26);
  }

  @include media.on-mobile {
    @include typography.relative-font-size(24);
  }
}

%heading-m {
  @extend %heading;

  @include typography.main-font-weight-bold;
  @include typography.relative-font-size(22);
  line-height: 1.6;

  @include media.on-mobile {
    @include typography.relative-font-size(20);
  }
}

%heading-s {
  @extend %heading;

  @include typography.main-font-weight-bold;
  @include typography.relative-font-size(18);
  line-height: 1.6;
}

%headings-and-heading-groups {
  @include spacing.space-above;
  margin-bottom: 0;
  padding-top: 1rem;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  + p {
    margin-top: 1rem;
  }
}

.tna-heading {
  &-xl {
    @extend %heading-xl;
    @extend %headings-and-heading-groups;
  }

  &-l {
    @extend %heading-l;
    @extend %headings-and-heading-groups;
  }

  &-m {
    @extend %heading-m;
    @extend %headings-and-heading-groups;
  }

  &-s {
    @extend %heading-s;
    @extend %headings-and-heading-groups;
  }
}

.tna-hgroup {
  &-xl,
  &-l,
  &-m,
  &-s {
    @extend %headings-and-heading-groups;
  }

  &__supertitle {
    margin: 0 0 0.25rem;

    @extend %chip;

    &--plain {
      padding: 0;

      color: inherit;

      background-color: transparent;

      border: none;
    }
  }

  &__title {
    margin: 0;

    display: block;
  }

  &-xl &__title {
    @extend %heading-xl;
  }

  &-l &__title {
    @extend %heading-l;
  }

  &-m &__title {
    @extend %heading-m;
  }

  &-s &__title {
    @extend %heading-s;
  }
}

.tna-blockquote {
  @include spacing.space-above;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 1rem 1rem 1rem 2rem;

  @include colour.colour-border("accent-background", 0.375rem, solid, left);

  &__quote {
    font-weight: 700;
  }

  &__author {
    font-style: italic;

    .tna-blockquote & {
      margin: 1rem 0 0;
    }

    &::before {
      content: "\2014" " ";
    }
  }
}

.tna-large-paragraph {
  @include spacing.space-above;

  @include typography.relative-font-size(22);
  @include colour.colour-font("font-dark");
}

.tna-scene-setter {
  @include spacing.space-above;

  @include typography.detail-font;
  @include colour.colour-font("font-dark");
  @include typography.relative-font-size(30);
  line-height: math.div(50, 30);

  @include media.on-mobile {
    @include typography.relative-font-size(24);
    line-height: 2;
  }

  a {
    color: inherit;
    text-decoration-thickness: 2px;

    &:hover {
      text-decoration-thickness: 4.5px;
    }
  }

  &--small {
    @include typography.relative-font-size(24);
  }
}
