@use "../../tools/colour";
@use "../../tools/spacing";

.tna-quick-filters {
  @include spacing.space-above;

  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 1rem;

  list-style: none;

  &--stacked {
    flex-direction: column;
  }

  &__item {
  }

  &__link {
    padding: 0.125rem 0.75rem;

    text-decoration: none;
    line-height: 1.75;

    @include colour.colour-border("keyline", 1px);
    border-radius: 1rem;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-base");
    }
  }

  &__item--selected &__link {
    &,
    &:link,
    &:visited,
    &:hover {
      @include colour.accent;
    }
  }
}
