@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-quick-filters {
  @include spacing.space-above;

  display: flex;
  flex-wrap: wrap;
  gap: spacing.space(0.5) spacing.space(0.75);

  @include typography.font-size(16);
  list-style: none;

  &--stacked {
    flex-direction: column;
    align-items: flex-start;
  }

  &--filled {
    align-items: flex-start;
  }

  &--stacked#{&}--filled {
    align-items: stretch;
  }

  &__item {
  }

  &--filled &__item {
    flex: 1 1 auto;

    text-align: center;
  }

  &__link {
    padding: 0 spacing.space(0.75);

    display: block;

    line-height: 1.75;

    text-decoration: none;

    @include colour.colour-border("keyline", 1px);
    @include borders.rounded-border;

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-base");
    }

    &:hover,
    &:focus-visible {
      @include colour.tint;
    }
  }

  &__item--selected &__link {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus-visible {
      @include colour.accent;
      @include colour.colour-border("background");
    }
  }
}
