@use "../../tools/colour";
@use "../../tools/spacing";

.tna-quick-filters {
  @include spacing.space-above;

  display: flex;
  flex-wrap: wrap;
  gap: spacing.space(0.75) spacing.space(1);

  list-style: none;

  &--stacked {
    flex-direction: column;
  }

  &__item {
  }

  &__link {
    padding: spacing.space(0.125) spacing.space(0.75);

    line-height: 1.75;

    text-decoration: none;

    border-radius: 1rem;

    @include colour.colour-border("keyline", 1px);

    &,
    &:link,
    &:visited {
      @include colour.colour-font("font-base");
    }
  }

  &__item--selected &__link {
    &,
    &:link,
    &:visited,
    &:hover {
      @include colour.accent;
    }
  }
}
