@use "../../tools/colour";

.tna-template {
  background-color: var(--background);

  color-scheme: light dark;

  &--light-theme {
    color-scheme: only light;
  }

  &--dark-theme {
    color-scheme: only dark;
  }

  &--black-accent {
    @include colour.black-accent;
  }

  &--pink-accent {
    @include colour.pink-accent;
  }

  &--orange-accent {
    @include colour.orange-accent;
  }

  &--yellow-accent {
    @include colour.yellow-accent;
  }

  &--green-accent {
    @include colour.green-accent;
  }

  &--blue-accent {
    @include colour.blue-accent;
  }
}

.tna-block {
  &-tint {
    @include colour.tint;
  }

  &-contrast {
    @include colour.contrast;
  }

  &-accent {
    @include colour.accent;
  }

  &-accent-light {
    @include colour.accent-light;

    .tna-template--dark-theme & {
      @include colour.accent-vars;
    }

    .tna-template:not(.tna-template--light-theme) & {
      @media (prefers-color-scheme: dark) {
        @include colour.accent-vars;
      }
    }
  }
}

.tna-border {
  &-keyline {
    @include colour.colour-border("keyline", 1px);
  }

  &-keyline-dark {
    @include colour.colour-border("keyline-dark", 1px);
  }
}

.tna-accent {
  &-black {
    @include colour.black-accent;
  }

  &-pink {
    @include colour.pink-accent;
  }

  &-orange {
    @include colour.orange-accent;
  }

  &-yellow {
    @include colour.yellow-accent;
  }

  &-green {
    @include colour.green-accent;
  }

  &-blue {
    @include colour.blue-accent;
  }
}
