@use "../../variables/borders" as bordersVars;
@use "../../tools/borders";
@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-tags {
  @include spacing.space-above;

  display: flex;
  flex-wrap: wrap;
  gap: spacing.space(0.5) spacing.space(0.75);

  list-style: none;

  &--small {
    gap: spacing.space(0.5);

    @include typography.font-size(16);
  }

  &--stacked {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    position: relative;
  }

  &__link {
    padding: 0 spacing.space(0.625);

    display: block;

    line-height: 1.75;

    @include colour.colour-border("keyline", 1px);
    @include borders.rounded-border;
  }

  &__item--selected &__link {
    padding-left: calc(spacing.space(0.625) + bordersVars.$thick-border-width);

    @include typography.main-font-weight-bold;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      @include colour.thick-keyline-accent(left);
      border-radius: bordersVars.$rounded-border-radius 0 0
        bordersVars.$rounded-border-radius;
    }
  }

  &--small &__link {
    padding-inline: spacing.space(0.5);
  }

  &--small &__item--selected &__link {
    padding-left: calc(spacing.space(0.5) + bordersVars.$thick-border-width);
  }
}
