{% from "nationalarchives/components/card/macro.njk" import tnaCard %}

{% extends "nationalarchives/templates/layouts/_prototype-kit.njk" %}

{% block pageTitle %}Welcome - The National Archives{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h1 class="tna-heading tna-heading--xl">
          Welcome
        </h1>
      </div>
    </div>
  </div>
{% endblock %}
