@use "../../tools/colour";
@use "../../tools/spacing";
@use "../../tools/typography";

.tna-form-item {
  @include spacing.space-above;

  &__header {
  }

  &__label {
    display: block;
  }

  &__hint {
    @include typography.font-size(16);
    @include colour.colour-font("font-light");

    margin-top: spacing.space(0.125);
  }

  &__error {
    @include typography.main-font-weight-bold;
    @include colour.colour-font("form-error-text");

    margin-top: spacing.space(0.25);
  }

  &__body {
    margin-top: spacing.space(0.5);

    &:first-child {
      margin-top: 0;
    }
  }

  &--error {
    @include colour.thick-keyline-error(left);

    padding-left: spacing.space(1);
  }
}
