name: Publish Storybook

on:
  push:
    branches:
      - main
    paths:
      - '.storybook/**'
      - 'src/**'
      - '.babelrc.json'
      - '.eslintrc.js'
      - '.nvmrc'
      - '.stylelintrc'
      - 'govuk-prototype-kit.config.json'
      - 'package-lock.json'
      - 'package.json'
      - 'webpack.config.js'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  github-pages:
    name: Build and deploy to GitHub Pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm ci
      - name: Build Storybook
        run: npm run build
      - uses: actions/configure-pages@v3
      - uses: actions/upload-pages-artifact@v1
        with:
          path: storybook
      - id: deployment
        uses: actions/deploy-pages@v2

  chromatic:
    name: Build and deploy to Chromatic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm ci
      - name: Build Storybook
        run: npm run build
      - uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: storybook
          exitZeroOnChanges: true
          # autoAcceptChanges: true # TODO: Enable once release - won't be pushing new features directly to main
