name: CI

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENCE'
      - 'README.md'
    tags-ignore:
      - '**'
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: false

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        uses: ./.github/actions/lint

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Tests
        uses: ./.github/actions/tests

  storybook-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Tests
        uses: ./.github/actions/storybook-tests

  test-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test build package
        uses: ./.github/actions/test-package

  prototype-kit:
    runs-on: ubuntu-latest
    needs:
      - test-package
    steps:
      - uses: actions/checkout@v4
      - name: GOV.UK prototype kit test
        uses: ./.github/actions/prototype-kit-test
